@using Presentation.Models.Master
@model IEnumerable<BankMasterModel>
@{
    var banklist = Model.Select(x => x.BankName).Distinct().ToArray();
}
<div class="form-group  col-md-3">
    <label class="control-label">Bank Name</label>
    <select class="form-dropdown form-control" id="selBankName" required>
        <option value="">Select Bank Name</option>
        @foreach (var o in banklist)
        {
            <option value="@o">@o</option>
        }
    </select>
</div>


<div class="form-group  col-md-3">
    <label class="control-label">Branch Name</label>
    <select class="form-dropdown form-control" id="selBranchName">
        <option value="">Select Branch Name</option>
        @foreach (BankMasterModel o in Model)
        {
            <option value="@o.IfscCode,@o.Id,@o.AccountNumber" data="@o.BankName">@o.BranchName</option>
        }
    </select>
    <input type="hidden" id="branchid" name="BankMasterId" />
</div>

<div class="form-group  col-md-3">

    <label class="control-label">IFSC Code</label>

    <input class="form-control" id="selIfsc" readonly />

</div>

<div class="form-group  col-md-3">
    <label class="control-label">Account No.</label>
    <input class="form-control" id="selAccountNo" readonly />
</div>

<script type="text/javascript">
    $(document).ready(function () {

        //on page ready hide all branch option
        $("#selBranchName").find('option').hide();
        // set task as empty
        $("#selBranchName").val('');
        $("#selIfsc").val('');
        $("#selAccountNo").val('');

        // onchange of BankName Drop down
        $("#selBankName").on('change', function () {
            var selectedBank = $("#selBankName").val();
            if (selectedBank != '') {
                $("#selBranchName").find('option').hide();
                $("#selBranchName option[value='']").show();
                $('*[data="' + selectedBank + '"]').show();
                $("#selIfsc").val('');
                $("#selAccountNo").val('');
                $("#selBankMasterId").val('');
            }
            else {
                // if BankName not selected then hide all tasks
                $("#selBranchName").find('option').hide();
                $("#selBranchName").val('');
            }

        });

        // onchange of BranchName Drop down
        $("#selBranchName").on('change', function () {
            var selectedBranchDetails = $("#selBranchName").val().split(',');
            var selectedBranch = selectedBranchDetails[0];
            var BankMasterId = selectedBranchDetails[1];
            var selectedBranchAcnt = selectedBranchDetails[2];
            if (selectedBranch != '') {
                $("#selIfsc").val(selectedBranch);
                $("#selAccountNo").val(selectedBranchAcnt);
                $("#selBankMasterId").val(BankMasterId);
                var id = $("#selBankMasterId").val(BankMasterId);
                $("#branchid").val(BankMasterId);
            }
            else {
                // if BranchName not selected then hide all tasks
                $("#selIfsc").val('');
                $("#selAccountNo").val('');
                $("#selBankMasterId").val('');
            }

        });

    });
</script>