@using AweCoreDemo.Utils;
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.Http;

@inject IConfiguration Configuration
@inject IHttpContextAccessor HttpContextAccessor

@{
    var settings = SiteSettings.Read(Html.ViewContext.HttpContext.Request);
    string selectedPath = HttpContextAccessor.HttpContext.Session.GetString("HeaderImage1");
    string selectedPath1 = HttpContextAccessor.HttpContext.Session.GetString("HeaderImage2");

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BOCW-Accounts</title>
    <link rel="shortcut icon" href="~/images/emblem.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Error.css" />
    <link href="~/css/themes/gui3/awesomemvc.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style type="text/css">
        @@media all and (min-width: 992px) {
            .dropdown-menu li {
                position: relative;
            }

            .dropdown-menu .submenu {
                display: none;
                position: absolute;
                left: 100%;
                top: -7px;
            }

            .dropdown-menu .submenu-left {
                right: 100%;
                left: auto;
            }

            .dropdown-menu > li:hover {
                background-color: #f1f1f1
            }

                .dropdown-menu > li:hover > .submenu {
                    display: block;
                }
        }

        @@media (max-width: 991px) {

            .dropdown-menu .dropdown-menu {
                margin-left: 0.7rem;
                margin-right: 0.7rem;
                margin-bottom: .5rem;
            }
        }
    </style>
    @Html.Awe().AwejQuery()
</head>
<body>
    <div class="row">

        <div class="col-md-3">

            <img id="profileImage" src="@selectedPath" class="loginministercss" title="CM of karnataka" alt="CM of karnataka" />



        </div>
        <div class="col-md-6">
            <a href="/Home/Index"> <img src="~/images/emblem.png" class="imageemblem" title="Government Logo" alt="Government Logo" /></a>
            <div class="divcustom">
                <div class="loginmarg">
                    <b class="fontlogin">Karnataka Building And Other Construction Workers Welfare Board </b>
                    <p class="mt-1 text-center"><a target="_blank" href='https://www.karnataka.gov.in' class="divlog">Government Of Karnataka</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <img src="@selectedPath1" title="chief minister" id="profileImage1" class="imageheight" alt="chief minister" />

        </div>
    </div>

    @if (ViewBag.UserName != null)
    {
        <header class="fixed-topcustom">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3 bg-primary">

                <div class="container-fluid">
                    <div class="container ml-n3">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item dropdown mr-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="vendorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Vendor
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Vendor" asp-action="Index">Vendor List</a> </li>
                                        <li> <a class="dropdown-item" asp-area="" asp-controller="Bill" asp-action="Index">Bill List</a></li>
                                        <li><a class="dropdown-item" asp-area="" asp-controller="Payment" asp-action="Index">Payment List</a></li>

                                        <li>
                                            <a class="dropdown-item" href="#"> Bank Files &raquo; </a>
                                            <ul class="submenu dropdown-menu">
                                                <li> <a class="dropdown-item" asp-area="" asp-controller="GenerateBankFile" asp-action="Index">Approved Payments</a></li>
                                                <li> <a class="dropdown-item" asp-area="" asp-controller="BankFiles" asp-action="Index">BankFile List</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="ListOfTransaction" asp-action="Index">List of Transaction</a>
                                        </li>
                                    </ul>

                                </li>

                                @* <li class="nav-item dropdown mr-3">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  Accounting </a>
                            <ul class="dropdown-menu">
                            <li>
                            <a class="dropdown-item" href="#"> TDS &raquo; </a>
                            <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="Index">TDS Payable List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSChallanList">TDS Challan List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSQuarterlyPaidList">TDS Quarterly Paid List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSQuarterlyList">TDS Quarterly List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSQuarterlyFiledList">TDS Quarterly Filed List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSPaidList">TDS Paid List</a></li>
                            </ul>
                            </li>
                            <li>
                            <a class="dropdown-item" href="#">GST-TDS &raquo; </a>
                            <ul class="submenu dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="GSTTDS" asp-action="Index">GST-TDS List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="GSTTDS" asp-action="GSTTDSJSONFileList">GST-TDS JSON file List</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="GSTTDS" asp-action="GSTTDSPaidList">GST-TDS Paid List</a></li>
                            </ul>
                            </li>
                            <li><a class="dropdown-item" href="#"> Upload Tally Records </a></li>
                            <li><a class="dropdown-item" href="#"> View Tally Records</a></li>
                            <li><a class="dropdown-item" href="#">Reconcile</a></li>
                            </ul>
                            </li>*@

                                <li class="nav-item dropdown mr-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="AccountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Accounting
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="#"> TDS &raquo; </a>
                                            <ul class="submenu dropdown-menu">
                                                <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="Index">TDS Payable List</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSChallanList">TDS Challan List</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSQuarterlyPaidList">TDS Quarterly Paid List</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSQuarterlyList">TDS Quarterly List</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSQuarterlyFiledList">TDS Quarterly Filed List</a></li>
                                                @*<li><a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="TDSPaidList">TDS Paid List</a></li>*@
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="#">GST-TDS &raquo; </a>
                                            <ul class="submenu dropdown-menu">
                                                <li><a class="dropdown-item" asp-controller="GSTTDS" asp-action="Index">GST-TDS List</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="GSTTDS" asp-action="GSTTDSJSONFileList">GST-TDS JSON file List</a></li>
                                                <li><a class="dropdown-item" asp-area="" asp-controller="GSTTDS" asp-action="GSTTDSPaidList">GST-TDS Paid List</a></li>
                                            </ul>
                                        </li>
                                        <li><a class="dropdown-item" href="#"> Upload Tally Records </a></li>
                                        <li><a class="dropdown-item" href="#"> View Tally Records</a></li>
                                        <li></li>
                                    </ul>
                                    <div class="dropdown-menu" aria-labelledby="AccountDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="TDS" asp-action="Index">TDS Payable List</a>
                                        <a class="dropdown-item disable-links " asp-area="" asp-controller="Home" asp-action="UnderConstruction" onclick="return false;">Upload Statement</a>
                                    </div>
                                </li>


                                <li class="nav-item dropdown mr-3">
                                    <a class="nav-link dropdown-toggle" href="#" id="bankDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Bank
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="bankDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Bank" asp-action="Index">Statement</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Bank" asp-action="UploadBankStatement">Upload Statement</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Reconcile" asp-action="Index">Reconcile Transactions</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown mr-3 ">
                                    <a class="nav-link dropdown-toggle disable-links " href="#" id="cessDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="return false;">
                                        Cess
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="cessDropdown">
                                        <a class="dropdown-item disable-links " asp-area="" asp-controller="Home" asp-action="Index" onclick="return false;">Transactions 1</a>
                                        <a class="dropdown-item disable-links " asp-area="" asp-controller="Home" asp-action="UnderConstruction" onclick="return false;">Transactions 2</a>
                                    </div>
                                </li>
                                @*<li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Bank" asp-action="Index">Bank</a>
                            </li>*@
                                @* <li class="nav-item mr-3 ">
                            <a class="nav-link text-light disable-links " asp-area="" asp-controller="Home" asp-action="UnderConstruction" onclick="return false;">Benefits</a>
                            </li>
                            <li class="nav-item mr-3">
                            <a class="nav-link text-light disable-links " asp-area="" asp-controller="Home" asp-action="UnderConstruction" onclick="return false;">Dashboard</a>
                            </li>
                            <li class="nav-item mr-3">
                            <a class="nav-link text-light disable-links " asp-area="" asp-controller="Home" asp-action="UnderConstruction" onclick="return false;">Reports</a>
                            </li>
                            <li class="nav-item mr-3">
                            <a class="nav-link text-light disable-links " asp-area="" asp-controller="Home" asp-action="UnderConstruction" onclick="return false;">Privacy</a>
                            </li>
                            <li class="nav-item mr-3">
                            <a class="nav-link text-light disable-links" asp-area="" asp-controller="Identity" asp-action="UserList" onclick="return false;">User Management</a>
                            </li>*@

                            </ul>

                            <label class="rolelogin mr-n4"> Welcome ! @ViewBag.UserName  </label>

                            @*<partial name="_LoginPartial" />*@
                        </div>
                    </div>

                </div>
                @if (ViewBag.UserName != null)
                {

                    <div>

                        <div class="logoutdiv mr-3">
                            <a href="@Url.Action("Logout","Identity")" class="btn btn-primary logoutcss">
                                <i class="bi bi-box-arrow-right"></i> Log out
                            </a>

                        </div>
                    </div>
                }
            </nav>

        </header>
    }
    <input type="hidden" id="hdnSessionTimeout" value="@Configuration["SysConfig:SessionExpiryTimeInSeconds"]" />
    <input type="hidden" id="hdnSessionExpNotice" value="@Configuration["SysConfig:SessionExpiryNoticeTimeInSeconds"]" />
    <div class="modal" id="modalAlert" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Need more time?</h5>
                </div>
                <div id="divModelAlertPup" class="modal-body">
                    <div id="pModalAlertPup">Your session will expire in <span id="spanTimeCountdownTimer"></span> seconds. Click 'Continue' to reinstate.</div>
                </div>
                <div class="modal-footer">
                    @Html.ActionLink("Continue", "Index", "Home", new { @class = "btn btn-primary" }) &emsp;&emsp;
                    @Html.ActionLink("Logout", "Index", "Identity", new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <main role="main" class="pb-3 mainbody">
            @if (ViewBag.UserName != null)
            {
                <breadcrumb>
                </breadcrumb>
                <hr />
            }
            @RenderBody()
        </main>
    </div>
    @*        @if (ViewBag.UserName != null)
    {
    <footer class="border-top footer fixed-bottom text-muted bg-primary">
    <div class="container-fluid">
    <div class="table text-md-center">
    <div class="col-12 textwhite">
    Designed and Developed by: <a href="https://ceg.karnataka.gov.in/" target="_blank"><img src="~/images/ceg.png" className="parimgfooter" height="15" width="30" alt="" /></a> Centre for e-Governance- Web Portal, Government of Karnataka &#169; 2021,All Rights Reserved.
    </div>
    <div>
    <span><a href="https://www.meity.gov.in/" target="_blank"> <img src="~/images/Meity_logo.png" class="imgfooter" alt="" /></a> </span>
    <span><a href="https://digitalindia.gov.in/" target="_blank"> <img src="~/images/digi_india.png" class="imgfooter" alt="" /></a> </span>
    <span><a href="https://data.gov.in/" target="_blank"> <img src="~/images/data_gov.png" class="imgfooter" alt="" /> </a></span>
    <span><a href="https://www.india.gov.in/" target="_blank"> <img src="~/images/india_gov.png" class="imgfooter" alt="" /></a> </span>
    <span><a href="https://www.pmindia.gov.in/en/" target="_blank"> <img src="~/images/pm_india.png" class="imgfooter" alt="" /></a> </span>
    <span> <img src="~/images/GIGW.jpeg" class="imgfooter" alt="" /> </span>
    <span> <img src="~/images/WCAG.jpeg" class="imgfooter" alt="" /> </span>
    <span> <img src="~/images/SSLcertificate.png" class="imgfooter" alt="" /> </span>
    <span><a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwww.karnataka.gov.in%2F" target="_blank"> <img src="~/images/w3c.png" class="imgfooter" alt="" /></a> </span>
    <span> <img src="~/images/kp_kn.jpeg" class="imgfooter" alt="" /> </span>
    </div>
    </div>
    &copy; 2022 - MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>
    }*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/awesomemvc.js"></script>
    <script src="~/js/awem.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/SessionNotify.js" asp-append-version="true"></script>

    @await Html.PartialAsync("_notificationPartial")
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $("#btnContinueSessionAdminNotify").click(function () {
            $("#modalAlert").modal('hide');
        });

        document.addEventListener("DOMContentLoaded", function () {
            // make it as accordion for smaller screens
            if (window.innerWidth < 992) {

                // close all inner dropdowns when parent is closed
                document.querySelectorAll('.navbar .dropdown').forEach(function (everydropdown) {
                    everydropdown.addEventListener('hidden.bs.dropdown', function () {
                        // after dropdown is hidden, then find all submenus
                        this.querySelectorAll('.submenu').forEach(function (everysubmenu) {
                            // hide every submenu as well
                            everysubmenu.style.display = 'none';
                        });
                    })
                });

                document.querySelectorAll('.dropdown-menu a').forEach(function (element) {
                    element.addEventListener('click', function (e) {
                        let nextEl = this.nextElementSibling;
                        if (nextEl && nextEl.classList.contains('submenu')) {
                            // prevent opening link if link needs to open dropdown
                            e.preventDefault();
                            if (nextEl.style.display == 'block') {
                                nextEl.style.display = 'none';
                            } else {
                                nextEl.style.display = 'block';
                            }

                        }
                    });
                })
            }
            // end if innerWidth
        });

    </script>

    <script>

        var editButton = document.getElementById('profileImage');
        var profileImage = document.getElementById('profileImage');
        var userName = "@ViewBag.UserName";


        // Attach a click event listener to the edit button
        editButton.addEventListener('click', () => {


            if (userName == "") {

            }
            else {
                // Create an input element of type "file"
                var input = document.createElement('input');
                input.type = 'file';
                input.accept = 'image/*';

                // Attach a change event listener to the input element
                input.addEventListener('change', (event) => {
                    // Get the selected file

                    var file = event.target.files[0];


                    // Read the file as a data URL
                    var reader = new FileReader();
                    reader.addEventListener('load', () => {
                        // Update the profile image with the selected image
                        profileImage.src = reader.result;

                        var type = "Chief Minister"
                        var formData = new FormData();
                        formData.append('files', file);
                        formData.append('FileName', file.name);
                        formData.append('Type', type);

                        // Send the FormData object to the controller using a POST request
                        $.ajax({
                            url: "/Home/AddImages",
                            type: "post",
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (result) {

                                console.log(result)
                            },
                            error: function () {

                            }

                        });
                    });

                    reader.readAsDataURL(file);
                });
                // Trigger a click event on the input element to open the file selection dialog
                input.click();
            }

        });

        var editButton1 = document.getElementById('profileImage1');
        var profileImage1 = document.getElementById('profileImage1');

        // Attach a click event listener to the edit button
        editButton1.addEventListener('click', () => {

            if (userName == "") {

            } else {
                // Create an input element of type "file"
                var input1 = document.createElement('input');
                input1.type = 'file';
                input1.accept = 'image/*';

                // Attach a change event listener to the input element
                input1.addEventListener('change', (event) => {
                    // Get the selected file

                    var file1 = event.target.files[0];
                    // Read the file as a data URL
                    var reader1 = new FileReader();
                    reader1.addEventListener('load', () => {
                        // Update the profile image with the selected image
                        profileImage1.src = reader1.result;
                        var type = "Labour Officer"


                        var formData1 = new FormData();
                        formData1.append('files', file1);

                        formData1.append('FileName', file1.name);
                        formData1.append('Type', type);

                        // Send the FormData object to the controller using a POST request
                        $.ajax({
                            url: "/Home/AddImages",
                            type: "post",
                            data: formData1,
                            processData: false,
                            contentType: false,
                            success: function (result) {
                                console.log(result)
                            },
                            error: function () {

                            }

                        });
                    });

                    reader1.readAsDataURL(file1);
                });

                // Trigger a click event on the input element to open the file selection dialog
                input1.click();

            }

        });

    </script>

    @Html.Awe().Init()
</body>
</html>
