@model List<KAR.KSFC.Components.Common.Dto.AdminModule.AssignRoleDto>


@if (Model.Count > 0)
{
    <div class="pre-scollable mt-3" id="employeeListingSection">
        
        <div class="row">
            <div class="col-12">
                <div class="row mt-3">
                    <div class="col-12">
                        <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblEmpAssignOffice">
                            <thead>
                                <tr>
                                    <th>Employee No</th>
                                    <th>Name</th>
                                    <th>Module</th>
                                    <th>Role</th>
                                    <th colspan="5">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if ((Model.Count > 0))
                                {
                                    @foreach (var items in Model.Select((v, i) => new { Value = v, Index = i }))
                                    {

                                        <tr>
                                            <td>
                                                @items.Value.EmployeeNumber
                                            </td>
                                            <td>
                                                @items.Value.EmployeeName
                                            </td>

                                            <td>
                                                @items.Value.ModuleName
                                            </td>
                                            <td>
                                                @items.Value.RoleName
                                            </td>
                                            <td>
                                                <button type="button" onclick="DeleteRole('@items.Value.EmployeeNumber', '@items.Value.ModuleId', '@items.Value.RoleId')" data-bs-toggle="modal" data-bs-target="#ksfcAlertModal" title="Delete" tooltip="Delete" class="btn btn-danger">Delete</button>
                                            </td>
                                        </tr>
                                    }


                                }
                                else
                                {
                                    <tr>
                                        <td colspan="10">
                                            <div class="alert alert-info text-md-center">No Data Found</div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
}
else
{
    <div class="container mt-3">
        <div class="row">
            <div class="alert alert-info text-md-center">
                <p>No Result Found</p>
            </div>
        </div>
    </div>
}
