@model IEnumerable<KAR.KSFC.Components.Common.Dto.EnquirySubmission.AssociateSisterConcernDetails.SisterConcernDetailsDTO>


<h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Associate / Sister Concern Details</h3>
@if (ViewBag.ErrorSisterConcernExist != null)
{
    <span class="text-danger">@ViewBag.ErrorSisterConcernExist</span>
}
<br />
<a onclick="showInPopupASD('@Url.Action("CreateOrEdit","AssociateSisterDetails",new {id=0},null)','New Associate/ Sister Concern')" class="btn btn-primary text-white mb-2 mt-2"><i class="fa fa-plus"></i> Add New Associate Sister Details</a>
<div class="pre-scrollable">
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblSisterASCDDatatable">
        <thead>
            <tr>
                <th>
                    S.No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqSisName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqSisIfsc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BfacilityCodeNavigation.BfacilityDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqOutamt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqDeftamt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqOts)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqSisName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqSisIfsc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BfacilityCodeNavigation.BfacilityDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqDeftamt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqDeftamt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqOts)
                    </td>
                    <td>
                        <a onclick="showInPopupASD('@Url.Action("ViewRecord","AssociateSisterDetails",new {id=item.EnqSisId},Context.Request.Scheme)','View Associate/ Sister Details')" class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> View</a>
                    </td>
                    <td>
                        <a onclick="showInPopupASD('@Url.Action("CreateOrEdit","AssociateSisterDetails",new {id=item.EnqSisId},Context.Request.Scheme)','Update Associate/ Sister Details')" class="btn btn-primary text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    </td>
                    <td>
                        <form asp-controller="AssociateSisterDetails" asp-action="Delete" asp-route-id="@item.EnqSisId" onsubmit="return jQueryAjaxDeleteASD(this)" class="d-inline">
                            <input type="hidden" asp-for="@item.EnqSisId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

