@model List<KAR.KSFC.Components.Common.Dto.Employee.EmployeeDTO>

<div class="row mt-3">
    <div class="col-12">
        <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblEmployeeDetails">
            <thead>
                <tr>
                    <th>Employee No</th>
                    <th>Employee Name</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th colspan="5">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count > 0)
                {
                    @foreach (var items in Model.Select((v, i) => new { Value = v, Index = i }))
                    {
                        <tr>
                            <td>@items.Value.TeyTicketNum</td>
                            <td>@items.Value.TeyName</td>
                            <td>@items.Value.TeySex</td>

                            <td>@items.Value.TeyPresentEmail</td>
                            <td>@items.Value.EmpMobileNo.ToString().Split('.')[0]</td>
                            <td><a href="@Url.Action("Index", "AssignBranch", new {id=items.Value.TeyTicketNum})" title="Check In" type="button" tooltip="Checkin" class="btn btn-primary">Checkin</a></td>
                            <td><a href="@Url.Action("Index", "RoleMapping", new {id=items.Value.TeyTicketNum})" title="Check In" type="button" tooltip="Checkin" class="btn btn-primary">Role Mapping</a></td>
                            <td><button title="Edit" type="button" tooltip="Edit" class="btn btn-warning" onclick="showInPopUpEmpDetailsForUpdate('@Url.Action("GetEmployeeById", "Employee", new {id=items.Value.TeyTicketNum}, Context.Request.Scheme)', 'Update Employee Details', 'edit')" data-bs-toggle="modal" data-bs-target="#ksfcEmpDetails">Edit</button></td>
                            <td><button title="View" onclick="showInPopUpEmpDetails('@Url.Action("GetEmployeeById", "Employee", new {id=items.Value.TeyTicketNum}, Context.Request.Scheme)', 'Employee Details', 'view')" data-bs-toggle="modal" data-bs-target="#ksfcEmpDetails" type="button" tooltip="View" class="btn btn-success">View</button></td>
                            <td><button type="button" onclick="showDeleteDialogueBox('@Url.Action("DeleteEmployeeById", "Employee", new {id=items.Value.TeyTicketNum}, Context.Request.Scheme)', 'Employee Details','@items.Value.TeyName')" data-bs-toggle="modal" data-bs-target="#ksfcAlertModal" title="Delete" tooltip="Delete" class="btn btn-danger">Delete</button></td>
                        </tr>
                    }
                }
                else
                {

                    <tr>
                        <td colspan="10">
                            <div class="alert alert-info text-md-center">No Data Found</div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


