@using Presentation.Models.Master;
@model Presentation.Models.GSTTDS.GsttdsPaymentChallanViewModel

@{
    ViewData["Title"] = "Acknowledgment Reference";
    IEnumerable<BankMasterModel> banks = ViewBag.Banks;
    var banklist = banks.Select(x => x.BankName).Distinct().ToArray();
    var UserName = ViewBag.UserName;


}
<h4>Acknowledgment Reference No.</h4>
<div class="mt-2 searchgrid">
    <form asp-action="UpdateAcknowledgementRefNo">
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="row">
            <div class="form-group  col-md-4">
                <label class="control-label">Paid Date</label>
                <input type="date" class="form-control" asp-for="PaidDate" required />
            </div>
            <div class="form-group  col-md-4">
                <label class="control-label">Acknowledgment Ref. No.</label>
                <input class="form-control" type="text" asp-for="AcknowledgementRefNo" id="acknowledgementRefNo" required maxlength="15" min="1" onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || (event.charCode > 64 &&
                event.charCode < 91) || (event.charCode > 96 && event.charCode < 123))" />
                <span id="spanDet" class="spanfont">Max: 15 Characters</span><br />

            </div>
            <div class="form-group col-md-4">
                <label class="control-label">₹ Paid Amount</label>
                <input class="form-control" asp-for="PaidAmount" value="@Model.TotalGSTTDSPayment" readonly maxlength="7" min="1" onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" />
            </div>
        </div>
        <div class=" row">
            <div class="form-group  col-md-3">
                <label class="control-label">Bank Name</label>
                <label class="text-danger">  * </label>
                <select class="form-dropdown form-control" id="selBankName" asp-for="Bank.BankName" required>
                    <option value="">--- Select Bank Name ---</option>
                    @foreach (var o in banklist)
                    {
                        <option value="@o">@o</option>
                    }
                </select>
            </div>
            <div class="form-group  col-md-3">

                <label class="control-label">Branch Name</label>
                <label class="text-danger">  * </label>
                <select class="form-dropdown form-control" asp-for="Bank.BranchName" id="selBranchName" required>
                    <option value="">--- Select branch name ---</option>
                    @foreach (var o in banks)
                    {
                        <option value="@o.IfscCode,@o.Id,@o.AccountNumber,@o.IsBulkGSTTDS" data="@o.BankName">@o.BranchName</option>


                    }
                    <input type="hidden" id="branchid" asp-for="BankMasterID" name="BankMasterId" />

                </select>
            </div>
            <div class="form-group  col-md-3">

                <label class="control-label">IFSC Code</label>

                <input class="form-control" id="selIfsc" asp-for="Bank.IfscCode" readonly required />

            </div>
            <div class="form-group  col-md-3">

                <label class="control-label">Account Number</label>

                <input class="form-control" id="selAccountNo" asp-for="Bank.Accountnumber" readonly required />
            </div>
            <div class="form-group col-md-2">
                <label class="control-label px-2 " >Is Bulk GSTTDS</label>
                <input class="form-check-input ml-2" type="checkbox" asp-for="IsBulkGSTTDS" id="selectedbankGSTTDSLevel" readonly />
            </div>
        </div>

        <div class="row">
            <div class="form-group  col-md-4">
                <label class="control-label">UTR NO.</label>
                <input class="form-control" asp-for="UTRNo" required maxlength="25" min="1" onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <span id="spanDet" class="spanfont">Max: 25 Characters</span><br />

            </div>
            <div>
                <button value="" type="submit" class=" btn btn-primary float-right"><i class="fa fa-save mr-2"></i>Save</button>
            </div>

        </div>
    </form>
</div>

<script type="text/javascript">
    var acnAvailable = @Html.Raw(Json.Serialize(@ViewBag.AcknowledgementRefNo));

</script>
<script src="~/js/GST-TDS/UpdateAcknoledgement.js"></script>