@model KAR.KSFC.Components.Common.Dto.EnquirySubmission.ProjectDetails.ProjectFinancialYearDetailsDTO
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="ViewRecord" asp-route-id="@Model.EnqPjfinId" onsubmit="ClearPopupFormPDPY();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.EnqPjfinId)
           <div class="form-group">
            <label for="inputEmail4" class="form-label">Financial Year</label>
            @Html.DropDownListFor(model => model.FinyearCode, new SelectList(ViewBag.FinancialYearsList,"Value", "Text"), "-- Please select --", new { @class = "form-select", @disabled = "disabled"  })
            <span asp-validation-for="FinyearCode" class="text-danger"></span>
        </div>
            <div class="form-group">
                @Html.CheckBoxFor(model => model.WhPjprov, new { @class = "form-check-inline", @disabled = "disabled"  })
                <label for="inputEmail4" class="form-label">Provisional Balance Sheet Details</label>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Financial Component</label>
                @Html.DropDownListFor(model => model.FincompCd, new SelectList(ViewBag.ListFinancialComponent,"Value", "Text"), "-- Please select --", new { @class = "form-select", @disabled = "disabled"  })
                <span asp-validation-for="FincompCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Amount (in Lakhs)</label>
                @Html.TextBoxFor(model => model.EnqPjfinamt, new { @class = "form-control",@type="number",@min="0", @disabled = "disabled"   })
                <span asp-validation-for="EnqPjfinamt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Close" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

