@model IEnumerable<KAR.KSFC.Components.Common.Dto.EnquirySubmission.AssociateSisterConcernDetails.SisterConcernFinancialDetailsDTO>

<h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Previous years Financial Details (minimum of past 3 years)</h3>
<a onclick="showInPopupASFD('@Url.Action("CreateOrEdit","AssociateSisterFYDetails",new {id=0},null)','New Associate Sister FY Details')" class="btn btn-primary text-white mb-2 mt-2"><i class="fa fa-plus"></i>Add New Associate Sister FY Details</a>
<div class="pre-scrollable">
    <table class="table table-striped table-bordered table-sm table-responsive-xl" cellspacing="0" id="tblSisterASFYDatatable">
        <thead>
            <tr>
                <th>
                    S.No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqSis.EnqSisName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinyearCodeNavigation.FinyearDesc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FincompCdNavigation.FincompDets)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqFinamt)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                         
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqSis.EnqSisName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FinyearCodeNavigation.FinyearDesc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FincompCdNavigation.FincompDets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqFinamt)
                    </td>
                    <td>
                        <a onclick="showInPopupASFD('@Url.Action("ViewRecord","AssociateSisterFYDetails",new {id=item.EnqSisfinId},Context.Request.Scheme)','View Associate Sister FY Details')" class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> View</a>
                    </td>
                    <td>
                        <a onclick="showInPopupASFD('@Url.Action("CreateOrEdit","AssociateSisterFYDetails",new {id=item.EnqSisfinId},Context.Request.Scheme)','Update Associate Sister FY Details')" class="btn btn-primary text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    </td>
                    <td>
                        <form asp-controller="AssociateSisterFYDetails" asp-action="Delete" asp-route-id="@item.EnqSisfinId" onsubmit="return jQueryAjaxDeleteASFD(this)" class="d-inline">
                            <input type="hidden" asp-for="@item.EnqSisfinId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
}
        </tbody>
    </table>
</div>
