@model IEnumerable<EpicCrmWebApi.StockRequestTagModel>
@{
    IEnumerable<DomainEntities.OfficeHierarchy> officeHierarchy = (IEnumerable<DomainEntities.OfficeHierarchy>)ViewBag.OfficeHierarchy;
    int itemCount = Model.Count();
    string guidForDetailRow = Guid.NewGuid().ToString();

    string StockRequestType = ViewBag.StockRequestType;
}

<div>
    <h3>
        <a href="" title="Refresh Search Result" onclick="btnSearchClicked();return false;">
            <img height="25" width="25" src="~/Content/img/refresh.png" /></a>&nbsp;Requests (@itemCount)
        <a href="/admin/AddEditStockRequestTag?stockRequestTagId=0&StockRequestType=@StockRequestType" title="Add Request Header" class="addInPopup">
            <img height="15" width="15" src="~/Content/img/Add.png" />
        </a>
    </h3>
</div>
@if (itemCount > 0)
{
<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <thead>
        <tr>
            <th class="removeFromDownload" style="column-width:45px;" id="downloadLinkArea">&nbsp;</th>

            <th>@Html.DisplayNameFor(model => model.RequestNumber)</th>
            <th>@Html.DisplayNameFor(model => model.RequestDate)</th>

            <th>@Html.DisplayNameFor(model => model.ZoneCode)</th>
            <th>@Html.DisplayNameFor(model => model.AreaCode)</th>
            <th>@Html.DisplayNameFor(model => model.TerritoryCode)</th>
            <th>@Html.DisplayNameFor(model => model.HQCode)</th>
            <th>@Html.DisplayNameFor(model => model.StaffCode)</th>
            <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.Notes)</th>
            <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
            <th>@Html.DisplayNameFor(model => model.DateCreated)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string guidForRow = Guid.NewGuid().ToString();

            string ZoneName = officeHierarchy.Where(x => x.ZoneCode.Equals(item.ZoneCode, StringComparison.OrdinalIgnoreCase))
                                    .FirstOrDefault()?.ZoneName ?? item.ZoneCode;

            string AreaName = officeHierarchy.Where(x => x.AreaCode.Equals(item.AreaCode, StringComparison.OrdinalIgnoreCase))
                                    .FirstOrDefault()?.AreaName ?? item.AreaCode;

            string TerritoryName = officeHierarchy.Where(x => x.TerritoryCode.Equals(item.TerritoryCode, StringComparison.OrdinalIgnoreCase))
                                    .FirstOrDefault()?.TerritoryName ?? item.TerritoryCode;

            string HQName = officeHierarchy.Where(x => x.HQCode.Equals(item.HQCode, StringComparison.OrdinalIgnoreCase))
                                    .FirstOrDefault()?.HQName ?? item.HQCode;


            <tr id="@guidForRow">
                <td class="removeFromDownload">
                    @if (item.IsEditAllowed)
                    {
                    <a href="/admin/AddEditStockRequestTag?stockRequestTagId=@item.Id&StockRequestType=@StockRequestType" title="View/Edit Header" class="editInPopup">
                        <img height="35" width="35" src="~/Content/img/Edit.png" /></a>

                    <a href="/admin/ReviewStockRequestTag?stockRequestTagId=@item.Id&StockRequestType=@StockRequestType" title="Confirm" class="editInPopup">
                        <img height="35" width="35" src="~/Content/img/review.png" /></a>
                    }

                    <a href="" title="Show Details for Request # @item.RequestNumber" onclick="additionalAnchorClicked('@guidForRow', '@guidForDetailRow', '@item.Id'); return false;">
                        <img height="25" width="25" src="~/Content/img/ListIcon.png" /></a>
                </td>
                <td>@Html.DisplayFor(modelItem => item.RequestNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.RequestDate, "DatetimeDate")</td>


                <td>@Html.DisplayFor(modelItem => ZoneName)</td>
                <td>@Html.DisplayFor(modelItem => AreaName)</td>
                <td>@Html.DisplayFor(modelItem => TerritoryName)</td>
                <td>@Html.DisplayFor(modelItem => HQName)</td>

                <td>@Html.DisplayFor(modelItem => item.StaffCode)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                <td>@Html.DisplayFor(modelItem => item.DateCreated, "Datetime")</td>
            </tr>
        }
    </tbody>
</table>

<div id="@guidForDetailRow">
</div>
}



