@model KAR.KSFC.Components.Common.Dto.IDM.Disbursement.AdditionConditionDetailsDTO
@{
    Layout = null;
    var account = ViewBag.LoanAcc;
    var loansub = ViewBag.LoanSub;
    var office = ViewBag.OffcCd;
}
<div>
    <div>
        <form id="AddtionalConditionDetails" asp-action="Create" onsubmit="return JqueryDisbursmentAddMethod(this,'AdditionalCondition'); ClearPopupFormsh();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@account" asp-for="LoanAcc" />
            <input type="hidden" value="@loansub" asp-for="LoanSub" />
            <input type="hidden" value="@office" asp-for="OffcCd" />
            @Html.HiddenFor(m => m.Action, new { @class = "form-control"})
            @*@Html.HiddenFor(m => m.LoanAcc, new { @class = "form-control", value=@ViewBag.LoanAcc })*@

            <div class="row">
                <div class="col-md-6">
                    <strong><label class="form-label">Additional Condition Details<span id="spanDet1"> *</span></label></strong>
                    @Html.TextAreaFor(m => m.AddCondDetails, new { @class = "form-control",@maxlength = "200", @id = "CondDet", @required = "required"})
                    <span id="spanDet">Max: 200 Characters</span><br />
                    <span asp-validation-for="AddCondDetails" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label">Condition Stage<span id="spanDet1"> *</span></label></strong>
                    @Html.DropDownListFor(m => m.AddCondStage, new SelectList(ViewBag.condtionStages, "Value", "Text"),"---Select Condition Stage---", new { @class = "form-select", @id = "CondStg", @required = "required"})
                    <span asp-validation-for="AddCondStage" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                @*<div class="col-md-6">
                    <strong><label class="form-label">Whether Relaxation Can Be Sought</label></strong>
                    @Html.DropDownListFor(m => m.Relaxation, new List<SelectListItem>()
                    {
                    new SelectListItem(){Text="YES",Value = "true"},
                    new SelectListItem(){Text="NO",Value = "false"}
                    },"---Select Relaxation Sought---", new { @class = "form-select", @id = "relax"})
                    <span asp-validation-for="Relaxation" class="text-danger"></span>
                </div>*@
                <div class="col-md-6">
                    <strong><label class="form-label">Compliance</label></strong>
                    @Html.DropDownListFor(m => m.Compliance, new List<SelectListItem>()
                    {
                    new SelectListItem(){Text="Complied",Value = "1"},
                    new SelectListItem(){Text="Not Complied",Value = "0"}
                    },"---Select Compliance---", new { @class = "form-select", @id = "Compliance"})
                    <span asp-validation-for="Compliance" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2 text-center float-end" style="margin-right: -55px;margin-top: 35px;">
                    <input type="submit" value="Submit" class="btn btn-primary" id="submit" disabled="disabled"/>
                </div>
            </div>
            <br />
        </form>
    </div>
</div>
<script>
    $('select[id="CondStg"],textarea[id="CondDet"],select[id="relax"]').change(function () {
        if ($(this).val()) {
            $("input[id='submit']").removeAttr('disabled');
        }
    });
</script>