@model List<KAR.KSFC.Components.Common.Dto.IDM.InspectionOfUnit.IdmDspInspDTO>
@{
    int count = 0;
    var unitname = ViewBag.UnitName;

}
<a onclick="showInPopup('@Url.Action("Create","InspectionDetail",new {accountNumber = @ViewBag.AccountNumber ,LoanSub=@ViewBag.LoanSub,OffcCd=@ViewBag.OffcCd},Context.Request.Scheme)','New Inspection Detail','Inspection Detail')" class="btn btn-primary text-white mb-2 mt-2"><em class="fa fa-plus"></em> Add New Inspection</a>
<div class="pre-scrollable">
    @await Html.PartialAsync("_Loader")
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblInspectionDatatable" aria-labelledby="InspectionDetails-tab">
        <thead>
            <tr>
                <th class="th1b">S. No.</th>
                <th class="th2">Inspection No.</th>
                <th class="th3">Inspection Date</th>
                <th class="th3">Report Submission</th>
                <th class="th3">Name Of Inspection Official</th>
                <th class="th5">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>
                            @if (item.Action == 0)
                            {
                                <div>@Html.DisplayFor(modelItem => item.DinNo)</div>
                            }
                            else
                            {
                                <div>
                                    <a href="@Url.Action("ViewInspectionAccount", "InspectionOfUnit", new {AccountNumber=@item.EncryptedLoanAcc,LoanSub=item.EncryptedLoanSub, InspectionId=@item.DinNo,NameOfUnit =@ViewBag.EncryptedUnitName ,OffcCd=@item.EncryptedOffcCd})" onclick="showLoader()">@item.DinNo</a>
                                </div>

                            }

                        </td>
                        <td>@Html.DisplayFor(modelItem => item.DinDt,"{0:yyyy-MM-dd}")</td>
                        <td>@Html.DisplayFor(modelItem => item.DinRdt,"{0:yyyy-MM-dd}")</td>
                        <td>@Html.DisplayFor(modelItem => item.DinTeam)</td>
                        <td class="textCenter">
                            <a onclick="showInPopup('@Url.Action("ViewRecord","InspectionDetail",new {id=item.UniqueId},Context.Request.Scheme)','View Inspection Details','Inspection Detail')" class="btn btn-warning text-white"><em class="fa fa-eye" aria-hidden="true"></em>  View</a>
                            <a onclick="showInPopup('@Url.Action("Edit","InspectionDetail",new {id=item.UniqueId},Context.Request.Scheme)','Edit Inspection  Details','Inspection Detail')" class="btn btn-primary text-white"> <em class="fa fa-pencil" aria-hidden="true"></em>   Edit</a>
                            <a onclick="JqueryInspectionDeleteMethod('@Url.Action("Delete","InspectionDetail",new {id=item.UniqueId},Context.Request.Scheme)','InspectionDetail')" class="btn btn-danger"><em class="fa fa-trash-o" aria-hidden="true"></em> Delete </a>
                            @* <form asp-action="ViewInspectionAccount" asp-controller="InspectionOfUnit" asp-route-AccountNumber="@item.LoanAcc" asp-route-LoanSub="@item.LoanSub" asp-route-InspectionId="@item.DinNo">
                    <emnput type="hidden" name="AccountNumber" asp-for="@item.LoanAcc" />
                    <emnput type="submit" class="btn btn-secondary  bg-warning" value="Inspection Types" />
                    </form>*@
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        No Data Available.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblInspectionDatatable').DataTable();
    });
</script>
