@model IEnumerable<KAR.KSFC.Components.Common.Dto.EnquirySubmission.EnquirySummary>
<div id="view-All-Enquiry">
    <p>Below is the list of enquiries made.</p>
    <div class="pre-scrollable">
        <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblEnquiryListDatatable">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Enquiry Id
                    </th>
                    <th>
                        Promotor PAN
                    </th>
                    <th>
                        Initiated Date
                    </th>
                    <th>
                        Submission date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() != 0)
                {
                   
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                    </td>
                    <td>
                        @item.EnquiryId
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromotorPan)
                    </td>
                    <td>
                        @item.EnqInitiateDate.Value.ToString("dd-MMM-yyyy")
                    </td>
                    <td>
                        @if (item.EnqSubmitDate != null)
                        {
                            @item.EnqSubmitDate.Value.ToString("dd-MMM-yyyy")
                        }

                    </td>
                    <td>
                        @{ var EnquiryStatus = string.Empty;}
                        @if (item.EnqSubmitDate == null)
                        {
                            EnquiryStatus = "Draft";
                        }
                        else if (item.EnqSubmitDate != null && item.EnqStatus == null)
                        {
                            EnquiryStatus = "Submitted";
                        }
                        else if (item.EnqStatus == (int)EnqStatus.Acknowledge)
                        {
                            EnquiryStatus = "Acknowledged";
                        }
                        else if (item.EnqStatus == (int)EnqStatus.InitiateScrutiny)
                        {
                            EnquiryStatus = "Initiated Scrutiny";
                        }
                        else if (item.EnqStatus == (int)EnqStatus.Approved)
                        {
                            EnquiryStatus = "Approved";
                        }

                        @EnquiryStatus
                    </td>
                    <td>
                        <form asp-action="View" asp-controller="Enquiry">
                            <input type="hidden" name="EnquiryId" asp-for="@item.EnquiryId" />
                            <input type="submit" class="btn btn-secondary" value="View" />
                        </form>

                    </td>
                    <td>

                        @if (item.EnqStatus == null)
                        {
                            <form asp-action="Edit" asp-controller="Enquiry">
                                <input type="hidden" name="EnquiryId" asp-for="@item.EnquiryId" />
                                <input type="submit" class="btn btn-primary" value="Edit" />
                            </form>
                        }
                    </td>
                    <td>

                        @if (item.EnqStatus == null)
                        {
                            <form asp-action="DeleteEnquiry" onsubmit="return jQueryAjaxDeleteEnquiry(this)" asp-route-id="@item.EnquiryId" class="d-inline">
                                <input type="submit" id="btn_delete_Customer_Enquiry" value="Delete" class="btn btn-danger" />
                            </form>
                        }
                    </td>
                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    <br />
    <br />
    <form asp-action="New" asp-controller="Enquiry">
        <input type="submit" class="btn btn-info btn-lg" value="Apply New Enquiry" />
    </form>
    <br />
</div>



