@model IEnumerable<EpicCrmWebApi.ActivityReportModel>

<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <tr id="dataTableHeader">
        <td colspan="2" id="downloadLinkArea">&nbsp;</td>
        <td colspan="11">@Model.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Date</th>
        <th>Time</th>

        <th>
            @Html.DisplayNameFor(model => model.DayDistanceInKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ActivityDistanceInKM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
    </tr>

    @foreach (var item in Model.OrderBy(x=> x.Date).ThenBy(x=> x.Name).ThenBy(x=> x.At))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.At, "DatetimeDate")
            </td>
            <td>
                @Html.DisplayFor(model => item.At, "DateTimeTime")
            </td>
            <td>
                @Html.DisplayFor(model => item.DayDistanceInKM)
            </td>
            <td>
                @Html.DisplayFor(model => item.Hours)
            </td>

            <td>
                @Html.DisplayFor(model => item.ClientName)
            </td>
            <td>
                +91 @Html.DisplayFor(model => item.ClientPhone)
            </td>
            <td>
                @Html.DisplayFor(model => item.ClientType)
            </td>
            <td>
                @if (item.ActivityId > 0)
                {
                    @Html.ActionLink(item.ActivityType, "ActivityOne", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new" })
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ActivityType)
                }
            </td>

            <td>
                @Html.DisplayFor(model => item.ActivityDistanceInKM)
            </td>

            <td>
                @Html.DisplayFor(model => item.LocationName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
        </tr>
    }
</table>

