@using KAR.KSFC.Components.Common.Dto.LoanAccounting.LoanRelatedReceipt
@model KAR.KSFC.Components.Common.Dto.LoanAccounting.LoanRelatedReceipt.TblLaReceiptPaymentDetDTO
@{
    Layout = null;
}

<div>
    <div>
        <form id="LoanReceipt" asp-action="ViewRecord" onsubmit="ClosePopupFormLAProm();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.TblLaReceiptDet.LoanNo, new { @class = "form-control", value=@ViewBag.AccountNumber })
            <h3> Receipt </h3>
            <div id="recptpmntsection">
                <div class="row">
                    <div class="col-md-4">
                        <b><label class="form-label">Receipt Reference Number </label></b>
                        @Html.TextBoxFor(m => m.TblLaReceiptDet.ReceiptRefNo, new { @class = "form-control", @id="rcptref",required = "required",@disabled="disabled"})
                        <span asp-validation-for="TblLaReceiptDet.ReceiptRefNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <b><label class="form-label">Transaction Type</label></b>
                        @Html.DropDownListFor(m => m.TblLaReceiptDet.TransTypeId, new SelectList(ViewBag.AllTransactionTypes,"Id", "CodeValue"), "---Select Transaction Type---", new { @class = "form-select",@id="trnsctype",required = "required",@disabled="disabled"})
                        <span asp-validation-for="TblLaReceiptDet.TransTypeId" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <b><label class="form-label">Due Date for Payment</label></b>
                        @Html.TextBoxFor(m => m.TblLaReceiptDet.DueDatePayment,"{0:yyyy-MM-dd}", new { @class = "form-control", @id="duedate",required = "required",@disabled="disabled", @Type ="Date"})
                        <span asp-validation-for="TblLaReceiptDet.DueDatePayment" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <b><label class="form-label">Amount Due </label></b>
                        @Html.TextBoxFor(m => m.TblLaReceiptDet.AmountDue, new { @class = "form-control", @id="amtdue",required = "required",@disabled="disabled"})
                        <span asp-validation-for="TblLaReceiptDet.AmountDue" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <b><label class="form-label">Amount Paid</label></b>
                        @Html.TextBoxFor(m => m.PaymentAmt, new { @class = "form-control", @id="amtpaid",@disabled="disabled"})
                        <span asp-validation-for="PaymentAmt" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <b><label class="form-label">Remarks / Comments</label></b>
                        @Html.TextAreaFor(m => m.TblLaReceiptDet.Remarks, new { @class = "form-control", @id = "remarks",@disabled="disabled"})
                        <span asp-validation-for="TblLaReceiptDet.Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b><label class="form-label">Date of Generation</label></b>
                        @Html.TextBoxFor(m => m.TblLaReceiptDet.DateOfGeneration,"{0:yyyy-MM-dd}", new { @class = "form-control", @id="dateofgen",@disabled="disabled", @Type ="Date"})
                        <span asp-validation-for="TblLaReceiptDet.DateOfGeneration" class="text-danger"></span>
                    </div>
                    <div class="col-md-4">
                        <b><label class="form-label">Balance </label></b>
                        @Html.TextBoxFor(m => m.BalanceAmt, new { @class = "form-control", @id="balamt",@disabled="disabled"})
                        <span asp-validation-for="BalanceAmt" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>