@model IEnumerable<BonusCalculationModel>
@{
    Layout = "";
    int itemCount = Model.Count();
    string displayString = $"{itemCount} rows displayed.";
    IEnumerable<DomainEntities.OfficeHierarchy> officeHierarchy = (IEnumerable<DomainEntities.OfficeHierarchy>)ViewBag.OfficeHierarchy;
    ViewBag.Title = "Approve Agreement Bonus";

}
<div>
    <h3>
        <a href="" title="Refresh Agreement Bonus Details" onclick="btnSearchClicked();return false;">
            <img height="25" width="25" src="~/Content/img/refresh.png" />
        </a>&nbsp;Agreement Bonus Details (@Model.Count())
    </h3>
</div>
@if (Model.Count() > 0)
{
<div class="removeFromDownload">
    <label style="font-size:large;">Info:&nbsp; </label><label style="color:red">"Agreements"&nbsp;</label><label> are &nbsp;</label><label style="color:red"> "Approved"&nbsp; </label><label> and&nbsp; </label><label style="color:red"> "All DWS No."&nbsp; </label><label> for that Agreement are in &nbsp; </label><label style="color:red"> "Paid" &nbsp; </label><label> Status</label>
</div>
        <table class="table table-bordered table-striped" id="dataTable">
        @*Display to Search table*@
        <tr>
            <th style="column-width:45px;" id="downloadLinkArea" class="removeFromDownload">&nbsp;</th>

            <th> @Html.DisplayNameFor(model => model.AgreementDate) </th>
            <th> @Html.DisplayNameFor(model => model.AgreementNumber) </th>
            <th> @Html.DisplayNameFor(model => model.EntityName) </th>
            <th> @Html.DisplayNameFor(model => model.SeasonName) </th>
            <th> @Html.DisplayNameFor(model => model.TypeName) </th>
            <th> @Html.DisplayNameFor(model => model.LandSizeInAcres) </th>
            <th> @Html.DisplayNameFor(model => model.RatePerKg) </th>
            <th> @Html.DisplayNameFor(model => model.NetPayableWt) </th>
            <th> @Html.DisplayNameFor(model => model.NetPayable) </th>
            <th> @Html.DisplayName("Bonus Status") </th>
            <th> @Html.DisplayName("Zone") </th>
            <th> @Html.DisplayName("Area") </th>
            <th> @Html.DisplayName("Territory") </th>
            <th> @Html.DisplayName("HQ Name") </th>
        </tr>

        @foreach (var item in Model)
        {
            DomainEntities.OfficeHierarchy ohRec = officeHierarchy?
            .Where(x => x.HQCode.Equals(item.HQCode, StringComparison.OrdinalIgnoreCase))
            .FirstOrDefault();

            var zoneName = ohRec?.ZoneName ?? "";
            var areaName = ohRec?.AreaName ?? "";
            var territoryName = ohRec?.TerritoryName ?? "";
            var hqName = ohRec?.HQName ?? "";

            <tr>

                <td class="removeFromDownload">
                    @if (item.IsEditAllowed)
                    {
                        <a href="/admin/AddBonusData?agreeId=@item.AgreementId" title="Add Bonus Calculation" class="editInPopup">
                            <img height="35" width="35" src="~/Content/img/Edit.png" />
                        </a>
                    }
                </td>

                <td> @Html.DisplayFor(modelItem => item.AgreementDate, "DateTimeDate") </td>
                <td> @Html.DisplayFor(modelItem => item.AgreementNumber) </td>
                <td> @Html.DisplayFor(modelItem => item.EntityName) </td>
                <td> @Html.DisplayFor(modelItem => item.SeasonName) </td>
                <td> @Html.DisplayFor(modelItem => item.TypeName) </td>
                <td> @Html.DisplayFor(modelItem => item.LandSizeInAcres) </td>
                <td> @Html.DisplayFor(modelItem => item.RatePerKg) </td>
                <td> @Html.DisplayFor(modelItem => item.NetPayableWt) </td>
                <td> @Html.DisplayFor(modelItem => item.NetPayable) </td>
                <td> @Html.DisplayFor(modelItem => item.BonusStatus) </td>
                <td> @Html.DisplayFor(modelItem => zoneName)</td>
                <td> @Html.DisplayFor(modelItem => areaName)</td>
                <td> @Html.DisplayFor(modelItem => territoryName)</td>
                <td> @Html.DisplayFor(modelItem => hqName)</td>
            </tr>
        }
    </table>
}
else
{
<label style="font-size:large;">Info:&nbsp; </label><label style="color:red"> "Either DWS No."&nbsp; </label><label> for the Agreements are Not in &nbsp; </label><label style="color:red"> "Paid" &nbsp; </label><label> Status or&nbsp; </label><label style="color:red"> "Bonus Rates"&nbsp; </label><label> are Not available.</label>
}


