@model IEnumerable<EpicCrmWebApi.BonusDownloadModel>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.AgreementDate)</th>
        <th>@Html.DisplayNameFor(model => model.AgreementNumber)</th>
        <th>@Html.DisplayNameFor(model => model.EntityName)</th>
        <th>@Html.DisplayNameFor(model => model.SeasonName)</th>
        <th>@Html.DisplayNameFor(model => model.TypeName)</th>
        <th>@Html.DisplayNameFor(model => model.BonusRate)</th>
        <th>@Html.DisplayNameFor(model => model.NetWeight)</th>
        <th>@Html.DisplayNameFor(model => model.BonusPaid)</th>
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentDate)</th>
        <th>@Html.DisplayNameFor(model => model.PaymentReference)</th>
        <th>@Html.DisplayNameFor(model => model.SenderInfo)</th>
        <th>@Html.DisplayNameFor(model => model.BankName)</th>
        <th>@Html.DisplayNameFor(model => model.RemitterAccount)</th>
        <th>@Html.DisplayNameFor(model => model.RemitterName)</th>
        <th>@Html.DisplayNameFor(model => model.RemitterAddress)</th>
        <th>@Html.DisplayNameFor(model => model.RemitterEmail)</th>
    </tr>

    @foreach (var item in Model.OrderBy(x => x.AgreementDate))
    {
<tr>
    <td>@Html.DisplayFor(modelItem => item.AgreementDate, "DateTimeDate")</td>
    <td>@Html.DisplayFor(modelItem => item.AgreementNumber)</td>
    <td>@Html.DisplayFor(modelItem => item.EntityName)</td>
    <td>@Html.DisplayFor(modelItem => item.SeasonName)</td>
    <td>@Html.DisplayFor(modelItem => item.TypeName)</td>
    <td>@Html.DisplayFor(modelItem => item.BonusRate)</td>
    <td>@Html.DisplayFor(modelItem => item.NetWeight)</td>
    <td>@Html.DisplayFor(modelItem => item.BonusPaid)</td>
    <td>@Html.DisplayFor(modelItem => item.Comments)</td>
    <td>@Html.DisplayFor(modelItem => item.PaymentDate, "DateTimeDate")</td>
    <td>@Html.DisplayFor(modelItem => item.PaymentReference)</td>
    <td>@Html.DisplayFor(modelItem => item.SenderInfo)</td>
    <td>@Html.DisplayFor(modelItem => item.BankName)</td>
    <td>@Html.DisplayFor(modelItem => item.RemitterAccount)</td>
    <td>@Html.DisplayFor(modelItem => item.RemitterName)</td>
    <td>@Html.DisplayFor(modelItem => item.RemitterAddress)</td>
    <td>@Html.DisplayFor(modelItem => item.RemitterEmail)</td>
</tr>
    }
</table>

