@using Application.DTOs.Master
@using Omu.AwesomeMvc
@using Presentation.Models.Master
@using Presentation.Models.Vendor
@model Presentation.Models.Bill.BillItemsModel
@{
    var UserName = ViewBag.UserName;
    DropDownDto dropDowns = ViewBag.DropDownList;
    IEnumerable<CommonMasterModel> vendorCategoryType = ViewBag.VendorCategoryType;
    IEnumerable<DropDownDto> BillDocumentType = dropDowns.BillDocumentType;
    DropDownDto CBF = dropDowns.CBF.FirstOrDefault();
    DropDownDto LabourWelfareCess = dropDowns.LabourWelfareCess.FirstOrDefault();
    var vendordetails = ViewBag.VendorDetails;
    var gst = ViewBag.GSTIN;
    var ID = ViewBag.Id;
    var defaultDateFrom = DateTime.Now.ToString("yyyy-MM-dd");
}
<input type="hidden" value="@ID" id="VendorId" />
<input type="hidden" value="@gst" id="GSTValue" />
<input type="hidden" value="@CBF.CodeValue" id="cbfValue" />
<input type="hidden" value="@LabourWelfareCess.CodeValue" id="labourWelfareValue" />
<input type=hidden value="@vendordetails.VendorDefaults.TDSPercentage" id="vendortds" />
<input type=hidden value="@vendordetails.VendorDefaults.GST_TDSPercentage" id="vendotgsttds" />
<input type="checkbox" id="Details" class="accordioncollapse" />
<label for="Details" class="labelclass">Vendor Details</label>
<div class="content">
    <div class="d-flex flex-row justify-content-start">
        <div class="form-group col-md-3">
            <label class="control-label ">Vendor Name</label>
            <input value="@vendordetails.Name" class="form-control vendordetailsdisable" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">GST Registration</label>
            <label class="text-danger">  * </label>
            <input value="@vendordetails.GSTRegistration" class="form-control vendordetailsdisable" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">GSTIN</label>
            @if (@vendordetails.GSTIN_Number == null)
            {
                <input class="form-control vendordetailsdisable" value="N/A" disabled />
            }
            else
            {
                <input class="form-control vendordetailsdisable" value="@vendordetails.GSTIN_Number" disabled />
            }
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">PAN No</label>
            <input class="form-control vendordetailsdisable" id="panNo" value="@vendordetails.PAN_Number" disabled onkeyup="this.value=this.value.toUpperCase()" />
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class=" col-md-3">
            <label class="control-label">Owner/Director Name</label>
            <input value="@vendordetails.OwnerOrDirectorName" class="form-control vendordetailsdisable" disabled />
        </div>
        <div class="form-check col-md-3 d-flex align-items-end  addbillcheckbox">
            @if (@vendordetails.Status == true)
            {
                <div class="form-check ml-n5" >
                    <input type="checkbox" disabled checked>
                    <label class="form-check-label px-1" for="flexCheckChecked">Status</label>
                </div>
                @* <input class="form-check-input readonly-checkbox" type="checkbox" checked readonly />
            <label class="form-check-label" for="flexCheckChecked"> Status </label>*@
            }
            else
            {

                <div class="form-check ml-n5" >
                    <input type="checkbox" disabled checked>
                    <label class="form-check-label px-1" for="flexCheckChecked">Status</label>
                </div>
                @*<input class="form-check-input readonly-checkbox" type="checkbox" readonly />
            <label class="form-check-label" for="flexCheckChecked"> Status </label>*@
            }

        </div>
    </div>
    <div class="d-flex flex-row mt-3">
        <div class="form-group col-md-9">
            <label class="control-label">Address</label>
            <textarea class="form-control vendordetailsdisable" disabled>@vendordetails.VendorPerson.Addresses.Address</textarea>
        </div>
    </div>
</div>
<br />
<input type="checkbox" id="title2" class="accordioncollapse" checked="checked" />
<label for="title2" class="labelclass">Add Bills</label>
<div class="content">
    <div class=" d-flex flex-row justify-content-start">
        <div class="form-group col-md-3">
            <label class="control-label">Bill No</label>
            <label class="text-danger">  * </label>
            <input class="form-control" id="vendorBillNumber" type="text" maxlength="30" oninput="this.value = this.value.toUpperCase()" />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">TDS Section</label>
            <input class="form-control" value="@vendordetails.VendorDefaults.TDSSection" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">TDS %</label>
            <input class="form-control" value="@vendordetails.VendorDefaults.TDSPercentage" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Payment Terms (In Days)</label>
            <input class="form-control" value="@vendordetails.VendorDefaults.PaymentTerms" disabled id="txtPaymentTerms" />
        </div>
    </div>

    <div class=" d-flex flex-row justify-content-start">
        <div class="form-group col-md-3">
            <label class="control-label">GST TDS %</label>
            <input class="form-control" value="@vendordetails.VendorDefaults.GST_TDSPercentage" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Bill Date</label>
            <label class="text-danger">  * </label>
            <input type="date" class="form-control" id="BillDate" />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Due Date</label>
            <label class="text-danger">  * </label>
            <input type="date" class="form-control" id="DueDate" readonly />
        </div>
    </div>
    <div class=" d-flex flex-row justify-content-start">
        <table id="tblAddBills" class="table table-bordered">
            <caption hidden>Bill details</caption>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>₹ Amount</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            <tbody>
            </tbody>
            <tfoot>
                <tr class="trow">
                    <td>
                        <div class="editor-field">
                            <select class="form-control form-dropdown" id="selCategory" required>
                                <option value="" selected>Select  Category</option>
                                    @foreach (var o in vendorCategoryType)
                                    {
                                    <option value="@o.CodeValue">@o.CodeValue</option>
                                    }
                            </select>
                        </div>
                    </td>
                    <td class="amount">
                        <input type="number" id="txtAmount" class="form-control pl-3 input-amount actualamount" required data-decimal="2" oninput="enforceNumberValidation(this)" min="0" />
                    </td>
                    <td><input type="text" id="txtDescription" required class="form-control"></td>
                    <td><input type="button" id="btnAdd" class="btn btn-primary" value="Add" /></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<br />
<input type="checkbox" id="Files" class="accordioncollapse" />
<label for="Files" class="labelclass">Upload Documents</label>
<div class="content">
    <div class="row mt-4">
        <div class="col-md-2">
            <select id="filetype" class="form-dropdown form-control  ">
                <option value="" selected>--- Select File Type ---</option>
                @foreach (var o in BillDocumentType)
                {
                    <option value="@o.CodeValue">@o.CodeName</option>
                }
            </select>
        </div>
        <div class="form-group mt-4">
            <input id="File" name="files" type="file" onchange="Validates()" accept="application/pdf,image/jpeg">

        </div>

        <table id="uploadTable" class="table table-bordered" hidden>
            <caption hidden>Document Details</caption>
            <thead>
                <tr>
                    <th>Document Name</th>
                    <th>Document Type</th>
                    <th>Action</th>
                </tr>
            </thead>

        </table>
    </div>
</div>
<br />
<input type="checkbox" id="Calculation" class="accordioncollapse" checked="checked" />
<label for="Calculation" class="labelclass">Bill Details</label>
<div class="content">
    <div class="col-md-12 BDetail">
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Total Bill Amount</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="billtotal" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label " >₹ TDS (@vendordetails.VendorDefaults.TDSPercentage %)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="tds" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ CBF (@CBF.CodeValue %)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="cbf" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Labour Welfare Cess (@LabourWelfareCess.CodeValue %)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="labourwelfare" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Royalty</label>
            <div class="col-sm-2">
                <input type="number" class="form-control pl-3 input-amount " id="txtRoyalty" data-decimal="2" onkeyup="if(this.value<0){this.value= this.value * -1}" oninput="enforceNumberValidation(this)" min="0">
            </div>
        </div>
   </div>
    <div class="col-md-12 BDetail">
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Penalty</label>
            <div class="col-sm-2">
                <input type="number" class="form-control  pl-3 input-amount " id="txtPenalty" data-decimal="2" onkeyup="if(this.value<0){this.value= this.value * -1}" oninput="enforceNumberValidation(this)" min="0">
            </div>
        </div>
        <div class="row mb-2 ">
            <div class="material-textfield">
                <input placeholder=" " class="logininput col-sm-2" type="text" maxlength="25" id="lblother1" >
                <label class="lbl ml-3" >Others 1</label>
                <input placeholder=" " class="logininput col-sm-2 input-amount others" type="number" data-decimal="2" min="0" id="txtother1"  oninput="enforceNumberValidation(this)">
            </div>
        </div>
        <div class="row mb-2 mt-3 ">
            <div class="material-textfield">
                <input placeholder=" " class="logininput col-sm-2" type="text" maxlength="25" id="lblother2" >
                <label class="lbl ml-3" >Others 2</label>
                <input placeholder=" " class="logininput col-sm-2 input-amount others" type="number" data-decimal="2" min="0" id="txtother2"  oninput="enforceNumberValidation(this)">
            </div>
        </div>
        <div class="row mb-2 mt-3 ">
            <div class="material-textfield">
                <input placeholder=" " class="logininput col-sm-2" type="text" maxlength="25" id="lblother3" >
                <label class="lbl ml-3">Others 3</label>
                <input placeholder=" " class="logininput col-sm-2 input-amount others" type="number" data-decimal="2" min="0" id="txtother3" oninput="enforceNumberValidation(this)">
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Total Net Payable</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="totalpayable" readonly>
            </div>
        </div>
       </div>
        

</div>
<br />
<div class="row">
    <div class="col-md-12 text-right">
        <button type="button" class="btn btn-primary ml-2 invisible">Approve</button>
        <button type="button" class="btn btn-success ml-2" id="btnSubmit"><i class="fa fa-save"></i> Submit</button>
        <a class="btn btn-danger mx-2" asp-controller="Vendor" asp-action="EditVendor" asp-route-id="@ID"><i class="fa fa-close"></i> Cancel</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script>
    var billNumberAvailable = @Html.Raw(Json.Serialize(@ViewBag.billNo));
</script>


<script src="~/js/Bill/UnregisteredBill.js"></script>

