@using Application.DTOs.Master
@using Common.ConstantVariables;
@using Presentation.Models.Bill
@using Presentation.Models.Master
@model Presentation.Models.Bill.BillItemsModel
@{
    ViewData["Title"] = "BillDetails";
    var UserName = ViewBag.UserName;
    IEnumerable<CommonMasterModel> vendorCategoryType = ViewBag.VendorCategoryType;
    IEnumerable<CommonMasterModel> CategoryGSTPercentage = ViewBag.categoryGSTPerc;
    DropDownDto dropDowns = ViewBag.DropDownList;
    IEnumerable<DropDownDto> BillDocumentType = dropDowns.BillDocumentType;
    IList<BillItemsModel> bill = ViewBag.BillPaymentDetails;
    IList<DocumentsModel> documents = ViewBag.DocumentDetails;
    DropDownDto CBF = dropDowns.CBF.FirstOrDefault();
    DropDownDto LabourWelfareCess = dropDowns.LabourWelfareCess.FirstOrDefault();
    var count = documents.Count();
    ViewBag.Name = bill[0].Bills.Vendor.Name;
    ViewBag.GstRegistration = bill[0].Bills.Vendor.GSTRegistration;
    ViewBag.GSTIN = bill[0].Bills.Vendor.GSTIN_Number;
    ViewBag.PANNO = bill[0].Bills.Vendor.PAN_Number;
    ViewBag.OwnerOrDirectorName = bill[0].Bills.Vendor.OwnerOrDirectorName;
    ViewBag.GSTTDSApplicable = bill[0].Bills.Vendor.GST_TDS_Applicable;
    ViewBag.Status = bill[0].Bills.Vendor.Status;
    ViewBag.Address = bill[0].Bills.Vendor.VendorPerson.Addresses.Address;
    ViewBag.ReferenceNo = bill[0].Bills.BillReferenceNo;
    ViewBag.TDSSection = bill[0].Bills.Vendor.VendorDefaults.TDSSection;
    ViewBag.TDS = bill[0].Bills.Vendor.VendorDefaults.TDSPercentage;
    ViewBag.GSTTDS = bill[0].Bills.Vendor.VendorDefaults.GST_TDSPercentage;
    ViewBag.PaymentTerms = bill[0].Bills.Vendor.VendorDefaults.PaymentTerms;
    ViewBag.BillDate = bill[0].Bills.BillDate.ToString("yyyy-MM-dd");
    ViewBag.DueDate = bill[0].Bills.BillDueDate.ToString("yyyy-MM-dd");
    ViewBag.BillNo = bill[0].Bills.BillNo;
    ViewBag.Remarks = bill[0].Bills.Remarks;
    ViewBag.Royalty = bill[0].Bills.Royalty;
    ViewBag.CBF = bill[0].Bills.CBF;
    ViewBag.BillAmount = bill[0].Bills.BillAmount;
    ViewBag.GSTAmount = bill[0].Bills.GSTAmount;
    ViewBag.TotalBillAmount = bill[0].Bills.TotalBillAmount;
    ViewBag.TDSAmount = bill[0].Bills.TDS;
    ViewBag.GSTTDSAmount = bill[0].Bills.GSTTDS;
    ViewBag.NetPayable = bill[0].Bills.NetPayable;
    ViewBag.LabourWelfareCess = bill[0].Bills.LabourWelfareCess;
    ViewBag.Penalty = bill[0].Bills.Penalty;
    ViewBag.Other1 = bill[0].Bills.Other1;
    ViewBag.Other1Value = bill[0].Bills.Other1Value;
    ViewBag.Other2 = bill[0].Bills.Other2;
    ViewBag.Other2Value = bill[0].Bills.Other2Value;
    ViewBag.Other3 = bill[0].Bills.Other3;
    ViewBag.Other3Value = bill[0].Bills.Other3Value;
    var gst = ViewBag.GSTINNumber;
    var ID = ViewBag.Id;
    var billNo = ViewBag.BillNo;
    var billReferenceNo = ViewBag.ReferenceNo;
    var billsID = ViewBag.BillID;
    var defaultDateFrom = DateTime.Now.ToString("yyyy-MM-dd");
    var status = bill.FirstOrDefault().Bills.BillStatus.StatusMaster.CodeValue;
    string Role = ViewBag.Role;
}
<input type="hidden" value="@ID" id="VendorId" />
<input type="hidden" value="@billsID" id="billpaymentid" />
<input type="hidden" value="@billReferenceNo" id="billrefno" />
<input type="hidden" value="@billNo" id="billno" />
<input type=hidden value="@ViewBag.SubTotal" id="SubTotalValue" />
<input type=hidden value="@ViewBag.TDS" id="vendortds" />
<input type=hidden value="@ViewBag.GSTTDS" id="vendotgsttds" />
<input type="hidden" value="@gst" id="GSTValue" />
<input type=hidden value="@ViewBag.TDS" id="vendortds" />
<input type=hidden value="@ViewBag.GSTTDS" id="vendotgsttds" />
<input type=hidden value="@ViewBag.BillAmount" id="hiddenBillAmount" />
<input type=hidden value="@ViewBag.GSTAmount" id="hiddenGSTAmount" />
<input type=hidden value="@ViewBag.TotalBillAmount" id="HiddenTotalBillAmount" />
<input type="hidden" value="@ViewBag.TDSAmount" id="HiddenTDSAmount" />
<input type="hidden" value="@ViewBag.GSTTDSAmount" id="HiddenGSTTDSAmount" />
<input type="hidden" value="@ViewBag.NetPayable" id="HiddenNetPayable" />
<input type="hidden" value="@ViewBag.Royalty" id="HiddenRoyalty" />
<input type="hidden" value="@ViewBag.CBF" id="HiddenCBF" />
<input type="hidden" value="@ViewBag.LabourWelfareCess" id="HiddenLabourWelfareCess" />
<input type="hidden" value="@ViewBag.Penalty" id="HiddenPenalty" />
<input type="hidden" value="@ViewBag.Other1" id="HiddenOther1" />
<input type="hidden" value="@ViewBag.Other1Value" id="HiddenOther1Value" />
<input type="hidden" value="@ViewBag.Other2" id="HiddenOther2" />
<input type="hidden" value="@ViewBag.Other2Value" id="HiddenOther2Value" />
<input type="hidden" value="@ViewBag.Other3" id="HiddenOther3" />
<input type="hidden" value="@ViewBag.Other3Value" id="HiddenOther3Value" />
<input type="hidden" value="@CBF.CodeValue" id="cbfValue" />
<input type="hidden" value="@LabourWelfareCess.CodeValue" id="labourWelfareValue" />
<div class="vendordetailsedit">
    @if (status != ValueMapping.approved && status != ValueMapping.PartiallyPaid && status != ValueMapping.paid)
    {
        <div class="col-md-12 mb-2 text-right">
            <button class="btn btn-danger disbtn mx-2 invisible" id="clear"><i class="fa fa-close"></i></button>
            <button type="button" class="btn disbtn btn-success ml-2 invisible" id="btnSubmit"><i class="fa fa-save"></i></button>
            <button class="btn btn-primary mr-3 ml-3" id="edit">
                <i class="bi bi-pencil-fill" title="Edit"></i>
            </button>
        </div>
    }
</div>
<input type="checkbox" id="Details" class="accordioncollapse" />
<label for="Details" class="labelclass">Vendor Details</label>
<div class="content">
    <div class="d-flex flex-row justify-content-start">
        <div class="form-group col-md-3">
            <label class="control-label ">Vendor Name</label>
            <input value="@ViewBag.Name" class="form-control" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">GST Registration</label>
            <label class="text-danger">  * </label>
            <input value="@ViewBag.GstRegistration" class="form-control" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">GSTIN</label>
            @if (ViewBag.GSTIN == null)
            {
                <input class="form-control" value="N/A" disabled />
            }
            else
            {
                <input class="form-control" value="@ViewBag.GSTIN" disabled />
            }
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">PAN No</label>
            <input class="form-control" id="panNo" value="@ViewBag.PANNO" disabled onkeyup="this.value=this.value.toUpperCase()" />
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class=" col-md-3">
            <label class="control-label">Owner/Director Name</label>
            <input value="@ViewBag.OwnerOrDirectorName" class="form-control" disabled />
        </div>
        <div class="form-check col-md-3 d-flex align-items-end  addbillcheckbox">
            @if (@ViewBag.Status == true)
            {

                <div class="form-check ml-n5" >
                    <input type="checkbox" disabled checked>
                    <label class="form-check-label px-1" for="flexCheckChecked">Status</label>
                </div>
                @*<input class="form-check-input readonly-checkbox" type="checkbox" checked readonly />
            <label class="form-check-label" for="flexCheckChecked"> Status </label>*@
            }
            else
            {

                <div class="form-check ml-n5" >
                    <input type="checkbox" disabled checked>
                    <label class="form-check-label px-1" for="flexCheckChecked">Status</label>
                </div>
                @*  <input class="form-check-input readonly-checkbox" type="checkbox" readonly />
            <label class="form-check-label" for="flexCheckChecked"> Status </label>*@
            }
        </div>
    </div>
    <div class="d-flex flex-row justify-content-start">
        <div class="form-group col-md-9">
            <label class="control-label">Address</label>
            <textarea class="form-control" disabled>@ViewBag.Address</textarea>
        </div>
    </div>
</div>
<br />
<input type="checkbox" id="title2" class="accordioncollapse" checked="checked" />
<label for="title2" class="labelclass">List of bills items</label>
<div class="content">
    <div class=" d-flex flex-row justify-content-start">
        <div class="form-group col-md-3">
            <label class="control-label">Bill No</label>
            <input class="form-control" id="vendorBillNumber" value="@ViewBag.BillNo" type="text" max="30" disabled />
        </div>

        <div class="form-group col-md-3">
            <label class="control-label">TDS Section</label>
            <input class="form-control" value="@ViewBag.TDSSection" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">TDS %</label>
            <input class="form-control" value="@ViewBag.TDS" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">GST TDS %</label>
            <input class="form-control" value="@ViewBag.GSTTDS" disabled />
        </div>
    </div>

    <div class=" d-flex flex-row justify-content-start">
        <div class="form-group col-md-3">
            <label class="control-label">Payment Terms (In Days)</label>
            <input class="form-control" value="@ViewBag.PaymentTerms" disabled id="txtPaymentTerms" />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Bill Date</label>
            <label class="text-danger">  * </label>
            <input type="date" class="form-control customaddbill vendordetailsdisable" id="BillDate" value="@ViewBag.BillDate" disabled />
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Due Date</label>
            <label class="text-danger">  * </label>
            <input type="date" class="form-control customaddbill" id="DueDate" readonly value="@ViewBag.DueDate" />
        </div>
    </div>
    <div class=" d-flex flex-row justify-content-start">
        <table id="tblAddBills" class="table table-bordered">
            <caption hidden>Bill Details</caption>
            <thead>
                <tr>
                    <th hidden></th>
                    <th>Category</th>
                    <th>₹ Amount</th>
                    <th>Description</th>
                    <th></th>
                    <th hidden></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in bill)
                {
                    <tr class="trow">
                        <td hidden><input type="hidden" value="@item.Id" id="billid" /></td>
                        <td>
                             <select class="form-dropdown form-control vendordetailsdisable " id="selectcatname" disabled>
                                <option value="">Select Category</option>
                                @foreach (var o in vendorCategoryType)
                                {
                                    if (@item.Category == o.CodeValue)
                                    {
                                        <option selected value="@o.CodeValue">@o.CodeValue</option>
                                    }
                                    else
                                    {
                                        <option value="@o.CodeValue">@o.CodeValue</option>
                                    }
                                }
                            </select>
                        </td>
                        <td><input type="number" value="@item.Amount" class="amount text1 input-amount form-control vendordetailsdisable actualamount" id="amountchange" onchange="myFunction1(this)" oninput="enforceNumberValidation(this)" disabled min="0" data-decimal="2" /></td>
                        <td><input type="text" value="@item.Description" id="lblDescription" class="form-control  vendordetailsdisable" disabled /></td>
                        <td><input type="button" value="Remove" onclick="Remove(this)" class="form-control vendordetailsdisable btn btn-secondary buttoncolurchnage" disabled /></td>
                        <td hidden><input type="hidden" value="@item.Amount" /></td>
                    </tr>
                }
            </tbody>
            <tfoot class="editrow" hidden>
                <tr class="trow">
                    <td hidden></td>
                    <td>
                        <div class="editor-field">
                            <select class="form-control form-dropdown invisible addbilltd " id="selCategory" required>
                                <option value="" selected>Select  Category</option>
                                @foreach (var o in vendorCategoryType)
                                {
                                    <option value="@o.CodeValue">@o.CodeValue</option>
                                }
                            </select>
                        </div>
                    </td>
                    <td class="amount"><input type="number" id="txtAmount" class="form-control pl-3 input-amount actualamount addbilltd invisible" required data-decimal="2" oninput="enforceNumberValidation(this)" min="0" /></td>
                    <td><input type="text" id="txtDescription" required class="form-control invisible addbilltd " /></td>
                    <td><input type="button" class="invisible addbilltd btn btn-primary " id="btnAdd" value="Add" /></td>
                    <td hidden></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<br />
<input type="checkbox" id="Files" class="accordioncollapse" />
<label for="Files" class="labelclass">Upload Documents</label>
<div class="content">
    <div class="row mt-4">
        <div class="row mt-4">
            <div class="col-md-2">
                <select id="filetype" class="form-dropdown form-control vendordetailsdisable " disabled>
                    <option value="" selected>--- Select File Type ---</option>
                    @foreach (var o in BillDocumentType)
                    {
                        <option value="@o.CodeValue">@o.CodeName</option>
                    }
                </select>
            </div>
            <div class="form-group mt-4">
                <input id="File" name="files" type="file" onchange="Validates()" class="vendordetailsdisable" disabled accept="application/pdf,image/jpeg">
                <label id="filecount" ></label>
                <ul id="showFilesLists"></ul>
            </div>
            <br />
        </div>
        <div class=" d-flex flex-row justify-content-start">
            <table id="example" class="table table-bordered">
                <caption hidden>Document Details</caption>
                <thead>
                    <tr>
                        <th hidden></th>
                        <th>Document Name</th>
                        <th>Document Type</th>
                        <th>Attachment date</th>
                        @* <th>Download</th>*@
                        <th>Action</th>
                        <th hidden></th>
                    </tr>
                </thead>
                <tbody>
                    @if (count > 0)
                    {
                        @foreach (var item in documents)
                        {
                            <tr class="trow">
                                <td hidden><input type="hidden" value="@item.Id" id="Documentid" /></td>
                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.CreatedOn.ToString(string.Format("dd/MM/yyyy"))</td>
                                <td>
                                    <a href="@Url.Action("DownloadFile", "Bill", new { filePath = @item.FilePath,name=@item.Name,extension=@item.Extension })"><i class="bi bi-arrow-down-circle"></i></a>
                                    <a class=" vendordetailsdisable ml-4" onclick="Remove1(this)"><i class="fa fa-trash test4"></i>  </a>
                                </td>
                                @* <td class="col-1">

                        </td>*@
                                <td hidden><input type="hidden" value="@item.FilePath" id="Documentid" /></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<input type="checkbox" id="Calculation" class="accordioncollapse" checked="checked" />
<label for="Calculation" class="labelclass">Bill Details</label>
<div class="content">
    <div class="col-md-12 BDetail">
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Total Bill Amount</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-amount" id="billtotal" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label " >₹ TDS (@ViewBag.TDS %)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control input-amount" id="tds" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ CBF (@CBF.CodeValue %)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="cbf" readonly>
            </div>
        </div>
    </div>
    <div class="col-md-12 BDetail">
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Labour Welfare Cess (@LabourWelfareCess.CodeValue %)</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="labourwelfare" readonly>
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" readonly >₹ Royalty</label>
            <div class="col-sm-2">
                <input type="number" class="form-control pl-3 input-amount vendordetailsdisable" id="txtRoyalty" disabled data-decimal="2" onkeyup="if(this.value<0){this.value= this.value * -1}" oninput="enforceNumberValidation(this)" min="0">
            </div>
        </div>
    </div>
    <div class="col-md-12 BDetail">
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" readonly >₹ Penalty</label>
            <div class="col-sm-2">
                <input type="number" class="form-control  pl-3 input-amount vendordetailsdisable" disabled id="txtPenalty" data-decimal="2" onkeyup="if(this.value<0){this.value= this.value * -1}" oninput="enforceNumberValidation(this)" min="0">
            </div>
        </div>

        <div class="row mb-2 ">
            <div class="material-textfield">
                <input placeholder=" " class="logininput col-sm-2 vendordetailsdisable" type="text" disabled maxlength="25" id="lblother1" >
                <label class="lbl ml-3" >Others 1</label>
                <input placeholder=" " style="background-color: #e9ecef;" class="logininput col-sm-2 input-amount vendordetailsdisable others" disabled type="number" data-decimal="2" min="0" id="txtother1"  oninput="enforceNumberValidation(this)">
            </div>
        </div>
        <div class="row mb-2 mt-3 ">
            <div class="material-textfield">
                <input placeholder=" " class="logininput col-sm-2 vendordetailsdisable" disabled type="text" maxlength="25" id="lblother2" >
                <label class="lbl ml-3 " >Others 2</label>
                <input placeholder=" "  style="background-color: #e9ecef;" class="logininput col-sm-2 input-amount vendordetailsdisable others" disabled type="number" data-decimal="2" min="0" id="txtother2"  oninput="enforceNumberValidation(this)">
            </div>
        </div>
        <div class="row mb-2 mt-3 ">
            <div class="material-textfield">
                <input placeholder=" " class="logininput col-sm-2 vendordetailsdisable" type="text" disabled maxlength="25" id="lblother3" >
                <label class="lbl ml-3" >Others 3</label>
                <input placeholder=" " style="background-color: #e9ecef;" class="logininput col-sm-2 input-amount vendordetailsdisable others" disabled type="number" data-decimal="2" min="0" id="txtother3" oninput="enforceNumberValidation(this)">
            </div>
        </div>
        <div class="row mb-2">
            <label for="inputEmail3" class="col-sm-2 col-form-label font-weight-bold" >₹ Total Payable</label>
            <div class="col-sm-2">
                <input type="text" class="form-control  pl-3 input-amount" id="totalpayable" readonly>
            </div>
        </div>
    </div>
</div>



<div class="col-md-12 ">
    <div class="row mb-2" >
        <div class="form-group col-md-3 mt-4 remark">

            @if (@Role == "Administrator")
            {
                @if (status != ValueMapping.pending)
                {
                    <label class="control-label">Remarks</label>
                    <label class="text-danger">  * </label>
                    <textarea id="Remarks" class="form-control" value="@ViewBag.Remarks" disabled>@ViewBag.Remarks</textarea>
                }
                else
                {
                    <label class="control-label">Remarks</label>
                    <label class="text-danger">  * </label>
                    <textarea id="Remarks" class="form-control" value="@ViewBag.Remarks">@ViewBag.Remarks</textarea>
                }

            }
            else
            {
                @if (status != ValueMapping.pending)
                {
                    <label class="control-label">Remarks</label>
                    <label class="text-danger">  * </label>
                    <textarea id="Remarks" class="form-control" value="@ViewBag.Remarks" disabled>@ViewBag.Remarks</textarea>

                }

            }


        </div>

    </div>

</div>

<br />
<br />
<div class="row">
    <div class="col-md-12 text-right ml-2" >
        @if (@Role == "Administrator")
        {
            @if (status == ValueMapping.pending)
            {
                <button type="button" id="approvebill" class="btn btn-primary ml-2">Approve</button>
                <button type="button" id="rejectbill" class="btn btn-danger">Reject</button>

            }

        }
        <button type='button' class="btn btn-danger" onclick='javascript:history.go(-1);return false;'><i class="fa fa-close"></i> Cancel</button>
        @* <a class="btn btn-danger" type="button" asp-action="Index" asp-controller="Bill"><i class="fa fa-close"></i> Cancel</a>*@
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="~/js/Bill/UnregistredBillDetail.js"></script>
