@{
    var UserName = ViewBag.UserName;
    ViewData["Title"] = "Index";
    var gridId = "BillListGrid";
    var contr = "Bill";
    var pref = "filter";
}



<div id="outFilter" class=" awe-il searchgrid">
    @*context will add a prefix to all awesome editors html ids*@
    @using (Html.Awe().BeginContext(pref))
    {
        <div class="row mt-3">
            <div class="col-md-2 px-3">
                @Html.Awe().TextBox("billfilter.VendorName").Placeholder("Vendor Name").CssClass("input-search form-control")
            </div>
            <div class="col-md-2 pl-4">
                @Html.Awe().TextBox("billfilter.BillNumber").Placeholder("Bill Ref No").CssClass("input-search")
            </div>
            <div class="col-md-2 pl-4">                
                 @Html.Awe().TextBox("billfilter.BillTotal").Numeric().Placeholder("Bill Total").CssClass("input-label")
            </div>
            <div class="col-md-2 pl-4">
                @Html.Awe().TextBox("billfilter.TotalPayableAmount").Placeholder("Total Payable").CssClass("input-label")
            </div>
            <div class="col-md-2 pl-4">
                @Html.Awe().AjaxRadioList("billfilter.Category").Url(Url.Action("GetCategoryList", "Bill")).Odropdown(o =>o.Caption("---Select Vendor Category---").ClearBtn())
            </div>
           

        </div>
        <div class=" row mt-3">
            <div class="col-md-2 pr-4">
                @Html.Awe().AjaxRadioList("billfilter.Status").Url(Url.Action("GetBillStatus", "Bill")).Odropdown(o =>o.Caption("---Select Bill Status---").ClearBtn())

            </div>
            <div class="col-md-3 px-5">
                @Html.Awe().DatePicker("billfilter.DueDate").Placeholder("Due Date Range").SelectRange().ChangeMonth().ChangeYear().CssClass("daterangefiled")

            </div>
            <div class="col-md-3 " >

                @Html.Awe().DatePicker("billfilter.BillDate").Placeholder("Bill Date Range").SelectRange().ChangeMonth().ChangeYear().CssClass("daterangefiled")

            </div>


            <div class="col-md-2 px-n5 align-content-end">
                <button type="button" id="btnClearFilter" class="btn btn-primary billreset"><i class="bi bi-bootstrap-reboot"></i> <i class="float-left"></i> Reset</button>
            </div>            
        </div>
        <br />
        <div>
        </div>
    }
</div>

<button type="submit" class="btn btn-primary btnxls  btndownload" title="Download File" value="Submit" onclick="exportToExcel()">
    <i class="bi bi-download"></i> Download
</button>

<div>&nbsp;</div>
<div>&nbsp;</div>
@(Html.Awe().Grid(gridId)
      .Mod(o => o.Main().Custom("outsideFilter"))
      .Url(Url.Action("GetBillList", contr))
      .Height(450)
      .Resizable()
      .Reorderable()
      .Columns(
    @*new Column { Bind = "Id", Width = 75, Groupable = false },*@
      @* new Column { Bind = "vendorID", ClientFormat  = "<a class='btn btn-primary btn-sm' href='" + Url.Action("AddBill", "Bill", new { id = ".(vendorID)" }) + "'><i class='bi bi-plus'></i>Add Bill</a>", Width = 150 ,Header = "Add Bill Items",Groupable=false},      *@
         new Column {Bind= "BillReferenceNo", ClientFormat = "<a href='" + Url.Action("BillDetails", "Bill", new {  Id = ".(Id)" }) + "'>.(BillReferenceNo)</a>", Header = "Bill Ref No",HeaderCssClass = "boldh",MinWidth = 180 },        
        new Column { Bind = "Vendor.Name",Prop="Name", Header="Vendor Name",HeaderCssClass = "boldh" },   
          new Column { Bind = "Vendor.VendorDefaults.Category", Width = 150, ClientFormat = ".(Category)", Header = "Vendor Category", HeaderCssClass = "boldh" },
        new Column { Bind = "BillDate", Header = "<p title='(dd-mm-yyyy)'>Bill Date</p>", HeaderCssClass = "boldh", MinWidth = 200 },
        new Column { Bind = "BillDueDate", Header = "<p title='(dd-mm-yyyy)'>Due Date</p>", HeaderCssClass = "boldh", MinWidth = 200 },
        new Column { Bind = "BillTotal", Prop = "BillTotal", Header = "₹ Bill Total", HeaderCssClass = "boldh ", CssClass = "amount" },
         new Column { Bind = "TotalGST",Prop="TotalGST" ,Header = "₹ Total GST" ,ClientFormat = ".(TotalGST)",HeaderCssClass = "boldh" ,CssClass="amount",MinWidth = 200},
           new Column { Bind = "TDSAmount", Prop="TdsAmount", Header = "₹ TDS" ,HeaderCssClass = "boldh ",CssClass="amount" },
         new Column { Bind = "GstTdsAmount",Prop="GstTdsAmount", Header = "₹ GST TDS" ,HeaderCssClass = "boldh ",MinWidth = 200,CssClass="amount"},
        new Column { Bind = "TotalPayable", Prop = "TotalPayable", Header = "₹ Total Payable ", HeaderCssClass = "boldh ", MinWidth = 200, CssClass = "amount" },
        new Column { Bind = "CreatedBy", Header = "Created By",HeaderCssClass = "boldh"},
         new Column { Bind = "Status", Header = "Status", HeaderCssClass = "boldh", FooterClientFormat = ".(ChefCount)", CssClass = "statuscolor" }))

<br />

<script>

    var gridId = "@gridId";
    var contr = "@contr";
</script>


@*<button id="exportAll" type="button" class="awe-btn">Export all records to excel</button>*@
<script src="~/js/RegisteredBill.js"></script>

