@model IEnumerable<EpicCrmWebApi.EntitySurveyModel>

@{ 
}

<h3>Survey (@Model.Count())</h3>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>&nbsp;</th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkflowSeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SurveyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandSizeInAcres)
        </th>

        <th>@Html.DisplayNameFor(model => model.MajorCrop)</th>
        <th>@Html.DisplayNameFor(model => model.LastCrop)</th>
        <th>@Html.DisplayNameFor(model => model.WaterSource)</th>
        <th>@Html.DisplayNameFor(model => model.SoilType)</th>
        <th>@Html.DisplayNameFor(model => model.SowingDate)</th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="/admin/EditSurvey?entitySurveyId=@item.Id" title="Edit Survey" class="editInPopup">
                <img height="35" width="35" src="~/Content/img/Edit.png" />
            </a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.WorkflowSeasonName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SurveyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandSizeInAcres)
        </td>

        <td>@Html.DisplayFor(modelItem => item.MajorCrop)</td>
        <td>@Html.DisplayFor(modelItem => item.LastCrop)</td>
        <td>@Html.DisplayFor(modelItem => item.WaterSource)</td>
        <td>@Html.DisplayFor(modelItem => item.SoilType)</td>
        <td>@Html.DisplayFor(modelItem => item.SowingDate, "MinimumDateTimeDate")</td>

        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        <td>
            @if (item.ActivityId > 0)
            {
                @Html.ActionLink("Activity", "ActivityOne", "Dashboard", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new", title = "Show Activity" })
            }
        </td>
    </tr>
    }
</table>

