@model IEnumerable<EpicCrmWebApi.EntityModel>
@{
    int entityCount = Model.Count();
    string displayString = $"{entityCount} rows displayed.";

    bool uniqueIdEnabled = CRMUtilities.Utils.SiteConfigData.EntityModuleUniqueIdVisible;
    bool taxIdEnabled = CRMUtilities.Utils.SiteConfigData.EntityModuleTaxIdVisible;
    bool addressEnabled = CRMUtilities.Utils.SiteConfigData.IsAddressVisible;
    bool agreementsEnabled = CRMUtilities.Utils.SiteConfigData.IsEntityAgreementEnabled;

    int totalColumns = 19 + 12 + 1 + 1;
    if (uniqueIdEnabled == false)
    {
        totalColumns -= 2;
    }
    if (agreementsEnabled == false)
    {
        totalColumns -= 2;
    }
    if (taxIdEnabled == false)
    {
        totalColumns--;
    }
    if (addressEnabled == false)
    {
        totalColumns -= 4;
    }

    string guidForDetailRow = Guid.NewGuid().ToString();

    string guidForImage = Guid.NewGuid().ToString();
    string imageDisplayWaitArea = Guid.NewGuid().ToString();
    string imageDisplayArea = Guid.NewGuid().ToString();

    bool ValueAddedServices = ViewBag.ValueAddedServices;

    bool isIssueReturnEnabled = CRMUtilities.Utils.SiteConfigData.IssueReturnModule;
    bool isAdvanceRequestEnabled = CRMUtilities.Utils.SiteConfigData.AdvanceRequestModule;
}

<div>
    <h3>
        <a href="" title="Refresh Search Result" onclick="btnSearchClicked();return false;">
            <img height="25" width="25" src="~/Content/img/refresh.png" />
        </a>&nbsp;Profile (@entityCount)
        <a href="/admin/AddEntity" title="" class="addInPopup">
            <img height="15" width="15" src="~/Content/img/Add.png" />
        </a>
    </h3>
</div>
@if (entityCount > 0)
{
    <table class="table table-bordered table-striped table-condensed" id="dataTable">
        <thead>
            <tr>
                <th colspan="1" id="downloadLinkArea" class="removeFromDownload">&nbsp;</th>
                <th colspan="1" id="detailDownloadLinkArea" class="removeFromDownload">
                    <a href="" title="Entity Agreement Download" onclick="detailDownloadClicked(); return false;">
                        <img width="25" height="25" src="~/Content/img/download_4.png" />
                    </a>
                </th>
                <!--Added by Swetha -->
                <th colspan="1" id="entityContactsCropsDownloadLinkArea" class="removeFromDownload">
                    <a href="" title="Entity Contacts & Crops Download" onclick="entityContactsCropsDownloadClicked(); return false;">
                        <img width="25" height="25" src="~/Content/img/download_4.png" />
                    </a>
                </th>

                @if (ValueAddedServices)
                {
                    <th class="removeFromDownload">&nbsp;</th>
                    if (isIssueReturnEnabled)
                    {
                        <th class="removeFromDownload">&nbsp;</th>
                    }
                    if (isAdvanceRequestEnabled)
                    {
                        <th class="removeFromDownload">&nbsp;</th>
                    }
                }

                <th>@Html.DisplayNameFor(model => model.EmployeeCode)</th>
                <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
                <th>@Html.DisplayNameFor(model => model.TerritoryCode)</th>
                <th>@Html.DisplayNameFor(model => model.TerritoryName)</th>

                <th>@Html.DisplayNameFor(model => model.HQCode)</th>
                <th>@Html.DisplayNameFor(model => model.HQName)</th>
                <th>@Html.DisplayNameFor(model => model.EntityNumber)</th>
                <th>@Html.DisplayNameFor(model => model.EntityType)</th>
                <th>@Html.DisplayNameFor(model => model.EntityName)</th>
                <th>@Html.DisplayNameFor(model => model.FatherHusbandName)</th>
                <th>@Html.DisplayNameFor(model => model.ContactCount)</th>
                <th>@Html.DisplayNameFor(model => model.LandSize)</th>
                <th>@Html.DisplayNameFor(model => model.CropCount)</th>
                <th>@Html.DisplayNameFor(model => model.ImageCount)</th>
                <th>@Html.DisplayNameFor(model => model.BankDetailCount)</th>
                @if (agreementsEnabled)
                {
                    <th>@Html.DisplayNameFor(model => model.AgreementCount)</th>
                }

                <th>@Html.DisplayNameFor(model => model.SurveyDetailCount)</th>


                @if (uniqueIdEnabled)
                {
                    <th>@Html.DisplayNameFor(model => model.UniqueIdType)</th>
                    <th>@Html.DisplayNameFor(model => model.UniqueId)</th>
                }
                @if (taxIdEnabled)
                {
                    <th>@Html.DisplayNameFor(model => model.TaxId)</th>
                }
                <th>@Html.DisplayNameFor(model => model.Latitude)</th>
                <th>@Html.DisplayNameFor(model => model.Longitude)</th>
                @if (addressEnabled)
                {
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.City)</th>
                    <th>@Html.DisplayNameFor(model => model.State)</th>
                    <th>@Html.DisplayNameFor(model => model.Pincode)</th>
                }


                @*<th>@Html.DisplayNameFor(model => model.MajorCrop)</th>
        <th>@Html.DisplayNameFor(model => model.LastCrop)</th>
        <th>@Html.DisplayNameFor(model => model.WaterSource)</th>
        <th>@Html.DisplayNameFor(model => model.SoilType)</th>
        <th>@Html.DisplayNameFor(model => model.SowingType)</th>
        <th>@Html.DisplayNameFor(model => model.SowingDate)</th>*@

                <th>@Html.DisplayNameFor(model => model.AtBusiness)</th>
                <!--<th>@Html.DisplayNameFor(model => model.Consent)</th>-->  <!-- swetha made the changes on 25-11-->
                <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <th>@Html.DisplayNameFor(model => model.EntityDate)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string guidForRow = Guid.NewGuid().ToString();
                <tr id="@guidForRow">
                    <td class="removeFromDownload">
                        @if (item.IsEditAllowed)
                        {
                            <a href="/admin/EditEntity?entityId=@item.Id" title="Edit @item.EntityName" class="editInPopup">
                                <img height="35" width="35" src="~/Content/img/Edit.png" />
                            </a>
                        }
                    </td>
                    <td class="removeFromDownload">
                        <a href="" title="Show Details for @item.EntityName" onclick="showDetailClicked('@guidForRow', '@guidForDetailRow', '@imageDisplayArea', '@item.Id'); return false;">
                            <img height="25" width="25" src="~/Content/img/ListIcon.png" />
                        </a>
                    </td>
                    <td class="removeFromDownload">
                        @if (item.ImageCount > 0)
                        {
                            <a title="Show Image" href="" onclick="showImageClicked(@item.Id, @item.ImageCount, '@guidForRow', '@guidForImage', '@imageDisplayWaitArea', '@imageDisplayArea', '@guidForDetailRow');return false;">
                                <img height="20" width="20" src="~/Content/img/ImageSmall.png" />
                            </a>
                        }
                    </td>

                    @if (ValueAddedServices)
                    {
                        <td class="removeFromDownload">
                            @if (item.DWSCount > 0)
                            {
                                <a href="/admin/ShowDwsIssueReturns?entityId=@item.Id&defaultTab=1" title="Show @item.DWSCount DWS for @item.EntityName (@item.EntityType)" class="editInPopup">
                                    <img height="35" width="35" src="~/Content/img/ActivityImages/ActivityType_21.png" />
                                </a>
                            }
                        </td>

                        if (isIssueReturnEnabled)
                        {
                            <td class="removeFromDownload">
                                @if (item.IssueReturnCount > 0)
                                {
                                    <a href="/admin/ShowDwsIssueReturns?entityId=@item.Id&defaultTab=2" title="Show @item.IssueReturnCount Issue/Returns for @item.EntityName (@item.EntityType)" class="editInPopup">
                                        <img height="35" width="35" src="~/Content/img/ActivityImages/ActivityType_09.png" />
                                    </a>
                                }
                            </td>
                        }

                        if (isAdvanceRequestEnabled)
                        {
                            <td class="removeFromDownload">
                                @if (item.AdvanceRequestCount > 0)
                                {
                                    <a href="/admin/ShowDwsIssueReturns?entityId=@item.Id&defaultTab=3" title="Show @item.AdvanceRequestCount Advances for @item.EntityName (@item.EntityType)" class="editInPopup">
                                        <img height="35" width="35" src="~/Content/img/ActivityImages/ActivityType_13.png" />
                                    </a>
                                }
                            </td>
                        }
                    }

                    <td>@Html.DisplayFor(modelItem => item.EmployeeCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>

                    <td>@Html.DisplayFor(modelItem => item.TerritoryCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.TerritoryName)</td>

                    <td>@Html.DisplayFor(modelItem => item.HQCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.HQName)</td>
                    <td>@Html.DisplayFor(modelItem => item.EntityNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.EntityType)</td>
                    <td>@Html.DisplayFor(modelItem => item.EntityName)</td>
                    <td>@Html.DisplayFor(modelItem => item.FatherHusbandName)</td>
                    <td>@Html.DisplayFor(modelItem => item.ContactCount)</td>
                    <td>@Html.DisplayFor(modelItem => item.LandSize)</td>

                    <td>@Html.DisplayFor(modelItem => item.CropCount)</td>

                    <td>@Html.DisplayFor(modelItem => item.ImageCount)</td>

                    <td>@Html.DisplayFor(modelItem => item.BankDetailCount)</td>


                    @if (agreementsEnabled)
                    {
                        <td>@Html.DisplayFor(modelItem => item.AgreementCount)</td>
                    }

                    <td>@Html.DisplayFor(modelItem => item.SurveyDetailCount)</td>

                    @if (uniqueIdEnabled)
                    {
                        <td>@Html.DisplayFor(modelItem => item.UniqueIdType)</td>
                        <td>@Html.DisplayFor(modelItem => item.UniqueId)</td>
                    }

                    @if (taxIdEnabled)
                    {
                        <td>@Html.DisplayFor(modelItem => item.TaxId)</td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.Latitude, "DecimalCoordinates")</td>
                    <td>@Html.DisplayFor(modelItem => item.Longitude, "DecimalCoordinates")</td>

                    @if (addressEnabled)
                    {
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.City)</td>
                        <td>@Html.DisplayFor(modelItem => item.State)</td>
                        <td>@Html.DisplayFor(modelItem => item.Pincode)</td>
                    }



                    @*<td>@Html.DisplayFor(modelItem => item.MajorCrop)</td>
        <td>@Html.DisplayFor(modelItem => item.LastCrop)</td>
        <td>@Html.DisplayFor(modelItem => item.WaterSource)</td>
        <td>@Html.DisplayFor(modelItem => item.SoilType)</td>
        <td>@Html.DisplayFor(modelItem => item.SowingType)</td>
        <td>@Html.DisplayFor(modelItem => item.SowingDate, "MinimumDateTimeDate")</td>*@

                    @if (item.AtBusiness)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }

                    @*@if (item.Consent)
        {
            <td>Yes</td>
        }                       //swetha made the changes on 25-11
        else
        {
            <td>No</td>
        }*@


                    @if (item.IsActive)
                    {
                        <td>Active</td>
                    }
                    else
                    {
                        <td>Inactive</td>
                    }

                    @if (item.CreatedBy == null){
                        <td>MyDay User</td>
                    } else {
                    <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.EntityDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="@guidForDetailRow">
    </div>

    <div id="@imageDisplayWaitArea" style="display:none;">
        <span id=""><img src="~/Content/img/pleasewait.gif" /></span>
    </div>

    <div id="@imageDisplayArea" style="display:none;">
        <span id="@guidForImage"></span>
    </div>
}