@model IEnumerable<EpicCrmWebApi.DWSModel>
@{
    int itemCount = Model.Count();
    string displayString = $"{itemCount} rows displayed.";

    var rowId = ViewBag.RowId as String;
    var parentRowId = ViewBag.ParentRowId as String;

    DomainEntities.STR strRec = ViewBag.STRRec as DomainEntities.STR;

    DomainEntities.STRTag strTagRec = ViewBag.STRTagRec as DomainEntities.STRTag;
    bool isEditAllowed = strTagRec.IsEditAllowed;

    ICollection<DomainEntities.DWSAudit> AuditItems = ViewBag.AuditItems as ICollection<DomainEntities.DWSAudit>;
}

<h3>
    <a href="" title="Refresh DWS Details" onclick="refreshItemList('@parentRowId', '@rowId', '@strRec.Id', 'DWS');return false;">
        <img height="25" width="25" src="~/Content/img/refresh.png" /></a>&nbsp;DWS Details (@Model.Count())
        @if (isEditAllowed)
        {
            <a href="/admin/AddDWS?strId=@strRec.Id&strTagId=@strRec.STRTagId&STRNumber=@strTagRec.STRNumber&employeeId=@strRec.EmployeeId&employeeCode=@strRec.EmployeeCode&employeeName=@strRec.EmployeeName" title="Add DWS" class="addInPopup">
                <img height="15" width="15" src="~/Content/img/Add.png" />
            </a>
        }

</h3>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th style="column-width:50px;">
            <a href="" onclick="closeArea('@parentRowId', '@rowId');return false;" title="Close">
                <img height="15" width="15" src="~/Content/img/Close.png" />
            </a>
        </th>

       
        <th>@Html.DisplayNameFor(model => model.DWSNumber)</th>
        <th>@Html.DisplayNameFor(model => model.DWSDate)</th>

        <th>@Html.DisplayNameFor(model => model.BagCount)</th>
        <th>@Html.DisplayNameFor(model => model.FilledBagsWeightKg)</th>
        <th>@Html.DisplayNameFor(model => model.EmptyBagsWeightKg)</th>

        <th>@Html.DisplayNameFor(model => model.EntityName)</th>
        <th>@Html.DisplayNameFor(model => model.TypeName)</th>
        <th>@Html.DisplayNameFor(model => model.Agreement)</th>
        <th>@Html.DisplayNameFor(model => model.HQCode)</th>
        <th>&nbsp;</th>
        <th>@Html.DisplayNameFor(model => model.Comments)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>

        <th>@Html.DisplayNameFor(model => model.GoodsWeight)</th>
        <th>@Html.DisplayNameFor(model => model.SiloDeductPercent)</th>
        <th>@Html.DisplayNameFor(model => model.SiloDeductWt)</th>
        <th>@Html.DisplayNameFor(model => model.SiloDeductWtOverride)</th>
        <th>@Html.DisplayNameFor(model => model.NetPayableWt)</th>
        <th>@Html.DisplayNameFor(model => model.RatePerKg)</th>

        <th>@Html.DisplayNameFor(model => model.GoodsPrice)</th>
        <th>@Html.DisplayNameFor(model => model.DeductAmount)</th>
        <th>@Html.DisplayNameFor(model => model.NetPayable)</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/admin/EditDWS?dwsId=@item.Id" title="Edit DWS # @item.DWSNumber" class="editInPopup">
                    <img height="35" width="35" src="~/Content/img/View.png" />
                </a>
            </td>

            <td>@Html.DisplayFor(modelItem => item.DWSNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.DWSDate, "DateTimeDate")</td>

            <th>@Html.DisplayFor(modelItem => item.BagCount)</th>
            <th>@Html.DisplayFor(modelItem => item.FilledBagsWeightKg)</th>
            <th>@Html.DisplayFor(modelItem => item.EmptyBagsWeightKg)</th>

            <td>@Html.DisplayFor(modelItem => item.EntityName)</td>
            <td>@Html.DisplayFor(modelItem => item.TypeName)</td>

            <td>@Html.DisplayFor(modelItem => item.Agreement)</td>
            <td>@Html.DisplayFor(modelItem => item.HQCode)</td>

            <td>
                @if (item.ActivityId > 0)
                {
                    @Html.ActionLink("Activity", "ActivityOne", "Dashboard", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new", title="Show DWS Activity" })
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.Comments)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>

            <td>@Html.DisplayFor(modelItem => item.GoodsWeight)</td>
            <td>@Html.DisplayFor(modelItem => item.SiloDeductPercent)</td>
            <td>@Html.DisplayFor(modelItem => item.SiloDeductWt)</td>
            <td>@Html.DisplayFor(modelItem => item.SiloDeductWtOverride)</td>
            <td>@Html.DisplayFor(modelItem => item.NetPayableWt)</td>
            <td>@Html.DisplayFor(modelItem => item.RatePerKg)</td>
            <td>@Html.DisplayFor(modelItem => item.GoodsPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.DeductAmount)</td>
            <td>@Html.DisplayFor(modelItem => item.NetPayable)</td>
        </tr>
    }
</table>

@if (AuditItems.Count > 0)
{
    Html.RenderPartial("STR/_ListDWSAudit", Model);
}
