@model IEnumerable<EpicCrmWebApi.STRModel>
@{
    var rowId = ViewBag.RowId as String;
    var parentRowId = ViewBag.ParentRowId as String;

    long strTagId = ViewBag.STRTagId;
    string strNumber = ViewBag.STRNumber as String;

    string guidForDWSRow = Guid.NewGuid().ToString();

    bool IsEditAllowed = ViewBag.IsEditAllowed;
}
<h3>
    <a href="" title="Refresh Load Details" onclick="refreshItemList_Load('@parentRowId', '@rowId', '@strTagId', 'STR');return false;">
        <img height="25" width="25" src="~/Content/img/refresh.png" /></a>&nbsp;Load Details (@Model.Count())
    @if (IsEditAllowed)
    {
        <a href="/admin/AddStr?strTagId=@strTagId&strNumber=@strNumber" title="Add Load" class="addInPopup">
            <img height="15" width="15" src="~/Content/img/Add.png" />
        </a>
    }
</h3>

@if (Model.Count() > 0)
{
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th style="column-width:120px;vertical-align:top;">
            <a href="" onclick="closeArea('@parentRowId', '@rowId');return false;" title="Close">
                <img height="15" width="15" src="~/Content/img/Close.png"  />
            </a>
        </th>
       
        <th>@Html.DisplayNameFor(model => model.EmployeeCode)</th>
        <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
        <th>@Html.DisplayNameFor(model => model.EmployeePhone)</th>

        <th>@Html.DisplayNameFor(model => model.VehicleNumber)</th>

        <th>@Html.DisplayNameFor(model => model.DWSCount)</th>
        <th>@Html.DisplayNameFor(model => model.BagCount)</th>
        <th>@Html.DisplayNameFor(model => model.GrossWeight)</th>
        <th>@Html.DisplayNameFor(model => model.NetWeight)</th>

        <th>@Html.DisplayNameFor(model => model.DriverName)</th>
        <th>@Html.DisplayNameFor(model => model.DriverPhone)</th>
        <th>@Html.DisplayNameFor(model => model.StartOdometer)</th>
        <th>@Html.DisplayNameFor(model => model.EndOdometer)</th>

        <th>@Html.DisplayNameFor(model => model.IsNew)</th>
        <th>@Html.DisplayNameFor(model => model.IsTransferred)</th>
        <th>@Html.DisplayNameFor(model => model.TransfereeName)</th>
        <th>@Html.DisplayNameFor(model => model.TransfereePhone)</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string guidForRow = Guid.NewGuid().ToString();

            string guidForImage = Guid.NewGuid().ToString();
            string imageDisplayWaitArea = Guid.NewGuid().ToString();
            //string imageDisplayArea = Guid.NewGuid().ToString();

            string imageDisplayArea = $"{guidForRow}_3";

            <tr id="@guidForRow">
                <td>
                    
                    <a href="/admin/EditSTR?strId=@item.Id" title="View/Edit STR Details" class="editInPopup">
@if (IsEditAllowed)
{
                        <img height="35" width="35" src="~/Content/img/Edit.png" />
}
else
{
    <img height="35" width="35" src="~/Content/img/view.png" />
}
                    </a>

                    <a href="" title="Show DWS" onclick="additionalAnchorClicked('@guidForRow', '@guidForDWSRow', '@item.Id', 'DWS'); return false;">
                        <img height="25" width="25" src="~/Content/img/ListIcon.png" />
                    </a>

@if (item.ImageCount > 0)
{
                    <a title="Show Image" href="" onclick="displayImage(@item.Id, @item.ImageCount, '@guidForRow', '@guidForImage', '@imageDisplayWaitArea', '@imageDisplayArea');return false;">
                        <img height="20" width="20" src="~/Content/img/ImageSmall.png" />
                    </a>
}
                </td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeCode)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                <td>@Html.DisplayFor(modelItem => item.EmployeePhone)</td>
                <td>@Html.DisplayFor(modelItem => item.VehicleNumber)</td>

                <td>
                    @Html.DisplayFor(modelItem => item.DWSCount)
                </td>
                <td>@Html.DisplayFor(modelItem => item.BagCount)</td>
                <td>@Html.DisplayFor(modelItem => item.GrossWeight)</td>
                <td>@Html.DisplayFor(modelItem => item.NetWeight)</td>

                <td>@Html.DisplayFor(modelItem => item.DriverName)</td>
                <td>@Html.DisplayFor(modelItem => item.DriverPhone)</td>
                <td>
                    @if (item.ActivityId > 0)
                    {
                        @Html.ActionLink(item.StartOdometer.ToString(), "ActivityOne", "Dashboard", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new", title = "Show Create Activity" })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.StartOdometer)
                    }
                </td>

                <td>
                    @if (item.ActivityId2 > 0)
                    {
                        @Html.ActionLink(item.EndOdometer.ToString(), "ActivityOne", "Dashboard", new { activityId = item.ActivityId2 }, new { @class = "c_activityLink", target = "_new", title = "Show Close/Transfer Activity" })
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.EndOdometer)
                    }
                </td>

                <td>@Html.DisplayFor(modelItem => item.IsNew)</td>
                <td>@Html.DisplayFor(modelItem => item.IsTransferred)</td>
                <td>@Html.DisplayFor(modelItem => item.TransfereeName)</td>
                <td>@Html.DisplayFor(modelItem => item.TransfereePhone)</td>
            </tr>

            <tr class="detailImageRow" id="@imageDisplayWaitArea" style="display:none;">
                <td colspan="17">
                    <span id=""><img src="~/Content/img/pleasewait.gif" /></span>
                </td>
            </tr>
            <tr class="detailImageRow" id="@imageDisplayArea" style="display:none;">
                <td style="border-top:none;font-weight:bold;">
                    <a href="" style="margin-left:5px;" onclick="closeImageArea('@guidForImage', '@imageDisplayWaitArea', '@imageDisplayArea');return false;">
                        <img height="15" width="15" src="~/Content/img/Close.png" />
                    </a>
                </td>
                <td id="@guidForImage" colspan="16"></td>
            </tr>
        }
    </tbody>
</table>

<div id="@guidForDWSRow">
</div>
}


