@model IEnumerable<EpicCrmWebApi.EntityWorkFlowDetailModel>

<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <tr id="dataTableHeader">
        <td colspan="2" id="downloadLinkArea">&nbsp;</td>
        <td colspan="25">@Model.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntityNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompletedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HQCode)
        </th>

        <th>@Html.DisplayNameFor(model => model.IsStarted)</th>
        <th>@Html.DisplayNameFor(model => model.WorkFlowDate)</th>

        <th>@Html.DisplayNameFor(model => model.BatchNumber)</th>
        <th>@Html.DisplayNameFor(model => model.MaterialQuantity)</th>
        <th>@Html.DisplayNameFor(model => model.LandSize)</th>
        <th>@Html.DisplayNameFor(model => model.ItemCount)</th>

        <th>@Html.DisplayNameFor(model => model.DWSEntry)</th>
        <th>@Html.DisplayNameFor(model => model.ItemsUsedCount)</th>
        <th>@Html.DisplayNameFor(model => model.YieldExpected)</th>
        <th>@Html.DisplayNameFor(model => model.BagsIssued)</th>

        <th>@Html.DisplayNameFor(model => model.HarvestDate)</th>
        <th>@Html.DisplayNameFor(model => model.PercentCompleted)</th>

        <th>@Html.DisplayNameFor(model => model.Agreement)</th>
        <th>@Html.DisplayNameFor(model => model.AgreementStatus)</th>
        <th>@Html.DisplayNameFor(model => model.UniqueId)</th>
    </tr>

@foreach (var item in Model) {
    string guidForRow = Guid.NewGuid().ToString();
    string guid = Guid.NewGuid().ToString();

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntityNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SeasonName)
        </td>

        <td>
            @if (item.ActivityId > 0)
            {
                @Html.ActionLink(item.Phase, "ActivityOne", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new" })
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Phase)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedFromDate, "DateTimeDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedEndDate, "DateTimeDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompletedOn, "NullableDateTimeDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HQCode)
        </td>

        @if(item.IsStarted)
        {
            <td>Yes</td>
        }
        else
        {
            <td>No</td>
        }

        @if (item.IsStarted)
        {
            <td>@Html.DisplayFor(modelItem => item.WorkFlowDate, "NullableDateTimeDate")</td>
        }
        else
        {
            <td>&nbsp;</td>
        }

        <td>@Html.DisplayFor(modelItem => item.BatchNumber)</td>
        <td>@Html.DisplayFor(modelItem => item.MaterialQuantity)</td>
        <td>@Html.DisplayFor(modelItem => item.LandSize)</td>
        <td>@Html.DisplayFor(modelItem => item.ItemCount)</td>

        <td>@Html.DisplayFor(modelItem => item.DWSEntry)</td>

        @if (item.ItemsUsedCount > 0)
        {
            <td title="@item.EntityName">
                <a href="" title="Show items used" onclick="additionalDetailsClicked('@guidForRow', '@guid', '/Dashboard/GetWorkFlowItemsUsed', '@item.Id'); return false;">@item.ItemsUsedCount</a>
            </td>
        }
        else
        {
        <td>
            @Html.DisplayFor(modelItem => item.ItemsUsedCount)
        </td>
        }
        <td>@Html.DisplayFor(modelItem => item.YieldExpected)</td>
        <td>@Html.DisplayFor(modelItem => item.BagsIssued)</td>

        <td>@Html.DisplayFor(modelItem => item.HarvestDate, "MinimumDateTimeDate")</td>
        <td>@Html.DisplayFor(modelItem => item.PercentCompleted)</td>

        <td>@Html.DisplayFor(modelItem => item.Agreement)</td>
        <td>@Html.DisplayFor(modelItem => item.AgreementStatus)</td>
        <td>@Html.DisplayFor(modelItem => item.UniqueId)</td>
    </tr>
    <tr class="detailRow" id="@guidForRow">
        <td style="border-top:none;font-weight:bold;">&nbsp;</td>
        <td style="border-top:none;" id="@guid" colspan="5">&nbsp;</td>
    </tr>
}
</table>
