@model IEnumerable<EpicCrmWebApi.StockInputModel>
@{
    int itemCount = Model.Count();
    string displayString = $"{itemCount} rows displayed.";

    long stockInputTagId = ViewBag.StockInputTagId;
    string grnNumber = ViewBag.GRNNumber as String;
    bool IsEditAllowed = ViewBag.IsEditAllowed;

    var rowId = ViewBag.RowId as String;
    var parentRowId = ViewBag.ParentRowId as String;
}

@* Parent view is ReceiveStock.cshtml *@
@* Parent view is _ListStockInputTags.cshtml *@

<h3>
    <a href="" title="Refresh Items for GRN # @grnNumber" onclick="refreshItemList('@parentRowId', '@rowId', '@stockInputTagId');return false;">
        <img height="25" width="25" src="~/Content/img/refresh.png" /></a>&nbsp;Line Items (@Model.Count())
    @if (IsEditAllowed)
    {
    <a href="/admin/AddEditStockInputItem?stockInputTagId=@stockInputTagId&stockInputId=0" title="Add Stock Item" class="addInPopup">
        <img height="15" width="15" src="~/Content/img/Add.png" />
    </a>
    }
    </h3>

@if (Model.Count() > 0)
{
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th style="column-width:50px;">
            <a href="" onclick="closeArea('@parentRowId', '@rowId');return false;" title="Close">
                <img height="15" width="15" src="~/Content/img/Close.png" />
            </a>
        </th>
      
        <th>@Html.DisplayNameFor(model => model.LineNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Category)</th>

        <th>@Html.DisplayNameFor(model => model.ItemDesc)</th>
        <th>@Html.DisplayNameFor(model => model.Unit)</th>
        <th>@Html.DisplayNameFor(model => model.Quantity)</th>

        <th>@Html.DisplayNameFor(model => model.Rate)</th>
        <th>@Html.DisplayNameFor(model => model.Amount)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (IsEditAllowed)
                {
                <a href="/admin/AddEditStockInputItem?stockInputTagId=@stockInputTagId&stockInputId=@item.Id" title="Edit Line # @item.LineNumber" class="editInPopup">
                    <img height="35" width="35" src="~/Content/img/Edit.png" />
                </a>
                }
            </td>

            <td>@Html.DisplayFor(modelItem => item.LineNumber)</td>

            <td>@Html.DisplayFor(modelItem => item.Category)</td>
            <td>@Html.DisplayFor(modelItem => item.ItemCode)</td>
            <td>@Html.DisplayFor(modelItem => item.Unit)</td>

            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => item.Rate)</td>
            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
        </tr>
    }
</table>
}

