@model KAR.KSFC.Components.Common.Dto.EnquirySubmission.PromoterGuarantorDetails.GuarantorAllDetailsDTO

<div>

    <h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Guarantor Details</h3>
    @if (ViewBag.ErrorGuaAssLiaExist != null)
    {
        <span class="text-danger">@ViewBag.ErrorGuaAssLiaExist</span>}<br />
    <a onclick="showInPopupPGGD('@Url.Action("CreateOrEdit","Guarantor",new {id=0},null)','New Guarantor Details',true)" class="btn btn-primary text-white mb-2 mt-2"><i class="fa fa-plus"></i> Add New Guarantor</a>

    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblGuaDetailsDatatable">
        <thead>
            <tr>
                <th>
                    S. No.
                </th>
                <th>
                    Name of Guarantor
                </th>
                <th>
                    Pan
                </th>
                <th>
                    Domicile
                </th>
                <th>
                    Mobile No.
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model.ListGuarantor)
            {
                
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoterMaster.PromoterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoterMaster.PromoterPan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DomicileMasterDTO.DomDets)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoterMaster.PromoterMobno)
                    </td>
                    <td>
                        <a onclick="showInPopupPGGD('@Url.Action("ViewRecord","Guarantor",new {id=item.EnqGuarId},Context.Request.Scheme)','View Guarantor Details')" class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> View</a>
                    </td>
                    <td>
                        <a onclick="showInPopupPGGD('@Url.Action("CreateOrEdit","Guarantor",new {id=item.EnqGuarId},Context.Request.Scheme)','Update Guarantor Details')" class="btn btn-primary text-white"><i class="fa fa-pencil" aria-hidden="true"></i>   Edit</a>
                    </td>
                    <td>
                        <form asp-controller="Guarantor" asp-action="Delete" asp-route-id="@item.EnqGuarId" onsubmit="return jQueryAjaxDeletePGGD(this)" class="d-inline">
                            <input type="hidden" asp-for="@item.EnqGuarId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<div>

    <h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Guarantor Asset Details</h3>
    <a onclick="showInPopupPGGD('@Url.Action("CreateOrEditAsset","Guarantor",new {id=0},null)','Add Guarantor Asset Details')" class="btn btn-primary text-white mb-2 mt-2"><i class="fa fa-plus"></i>Add New Asset Details</a>

    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblGuaAssetDatatable">
        <thead>
            <tr>
                <th>
                    S. No.
                </th>
                <th>
                    Guarantor Name
                </th>
                <th>
                    Asset Category
                </th>
                <th>
                    Asset Type
                </th>
                <th>
                    Value (In Lakhs.)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            @if (Model.GuarantorAssetLiabilityDetails.ListAssetDetails != null)
            {

                @foreach (var item in Model.GuarantorAssetLiabilityDetails.ListAssetDetails)
                {
                    
                    <tr>
                        <td>
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarantorDetailsDTO.PromoterMaster.PromoterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetCategoryMasterDTO.AssetcatDets)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AssetTypeMasterDTO.AssettypeDets)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarAssetValue)
                        </td>
                        <td>
                            <a onclick="showInPopupPGGD('@Url.Action("ViewRecordAsset", "Guarantor", new { id = item.EnqGuarassetId }, Context.Request.Scheme)','View Guarantor Asset Details')" class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> View</a>
                        </td>
                        <td>
                            <a onclick="showInPopupPGGD('@Url.Action("CreateOrEditAsset", "Guarantor", new { id = item.EnqGuarassetId }, Context.Request.Scheme)','Update Guarantor Asset Details')" class="btn btn-primary text-white"><i class="fa fa-pencil" aria-hidden="true"></i>   Edit</a>
                        </td>
                        <td>
                            <form asp-controller="Guarantor" asp-action="DeleteAsset" asp-route-id="@item.EnqGuarassetId" onsubmit="return jQueryAjaxDeletePGGD(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.EnqGuarassetId" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</div>
<br />
<br />
<br />

<div>

    <h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i> Guarantor Liability Details</h3>
    <a onclick="showInPopupPGGD('@Url.Action("CreateOrEditLiability","Guarantor",new {id=0},null)','Add Liability Details')" class="btn btn-primary text-white mb-2 mt-2"><i class="fa fa-plus"></i>Add New Liability</a>

    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblGuaLiabilityDatatable">
        <thead>
            <tr>
                <th>
                    S. No.
                </th>
                <th>
                    Guarantor Name
                </th>
                <th>
                    Liability Description
                </th>
                <th>
                    Value (In Lakhs.)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.GuarantorAssetLiabilityDetails.ListLiabilityDetails != null)
            {
               
                @foreach (var item in Model.GuarantorAssetLiabilityDetails.ListLiabilityDetails)
                {
                    <tr>
                        <td>
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarantorDetailsDTO.PromoterMaster.PromoterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarLiabDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarLiabValue)
                        </td>
                        <td>
                            <a onclick="showInPopupPGGD('@Url.Action("ViewRecordLiability", "Guarantor", new { id = item.EnqGuarliabId }, Context.Request.Scheme)','View Liability Details')" class="btn btn-secondary text-white"><i class="fas fa-pencil-alt"></i> View</a>
                        </td>
                        <td>
                            <a onclick="showInPopupPGGD('@Url.Action("CreateOrEditLiability", "Guarantor", new { id = item.EnqGuarliabId }, Context.Request.Scheme)','Update Liability Details')" class="btn btn-primary text-white"><i class="fa fa-pencil" aria-hidden="true"></i>   Edit</a>
                        </td>
                        <td>
                            <form asp-controller="Guarantor" asp-action="DeleteLiability" asp-route-id="@item.EnqGuarliabId" onsubmit="return jQueryAjaxDeletePGGD(this)" class="d-inline">
                                <input type="hidden" asp-for="@item.EnqGuarliabId" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </td>
                    </tr>
                }}
        </tbody>
    </table>
</div>
<br />
<br />
<br />
<div>
    <h3 class="text-center"><i class="fas fa-comments-dollar text-success"></i>NET WORTH</h3>
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblGuaNetWorthDatatable">
        <thead>
            <tr>
                <th>
                    S. No.
                </th>
                <th>
                    Guarantor Name
                </th>
                <th>
                    Net Worth (In Lakhs.)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.GuarantorNetWorthList != null)
            {
                @foreach (var item in Model.GuarantorNetWorthList)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarantorDetailsDTO.PromoterMaster.PromoterName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GuarNw)
                        </td>
                    </tr>
                }}
        </tbody>

    </table>
</div>
<br />
<br />
<br />

