@model KAR.KSFC.Components.Common.Dto.EnquirySubmission.PromoterGuarantorDetails.GuarantorAssetsNetWorthDTO;
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="ViewRecordAsset" onsubmit="ClearPopupFormPGGD();">
            @Html.HiddenFor(model => model.EnqGuarassetId)
           
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Name Of Guarantor</label>
                @if (ViewBag.GuarantorDetailsList != null)
                {
                    @Html.DropDownListFor(model => model.PromoterCode, new SelectList(ViewBag.GuarantorDetailsList, "PromoterMaster.PromoterCode", "PromoterMaster.PromoterName"), "-- Please select --", new { @class = "form-select", @disabled = "disabled" })
                }
                
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Asset Category</label>
                @Html.DropDownListFor(model => model.AssetcatCd, new SelectList(ViewBag.ListPromAndGuarAssetCategory, "Value", "Text"), "-- Please select --", new { @class = "form-select", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Type of Asset</label>
                @Html.DropDownListFor(model => model.AssettypeCd, new SelectList(ViewBag.ListPromAndGuarAssetType, "Value", "Text"), "-- Please select --", new { @class = "form-select", @disabled = "disabled" })
            </div>

            <div class="form-group">
                <label for="inputEmail4" class="form-label">Site / Flat Address</label>
                @Html.TextBoxFor(model => model.GuarAssetAddr, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Dimension</label>
                @Html.TextBoxFor(model => model.GuarAssetDim, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Area</label>
                @Html.TextBoxFor(model => model.GuarAssetArea, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Description</label>
                @Html.TextAreaFor(model => model.GuarAssetDesc, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Value (In Lakhs.)</label>
                @Html.TextBoxFor(model => model.GuarAssetValue, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3 text-center">
                    <input type="submit" value="Close" class="btn btn-primary" />
                </div>
            </div>
        </form>

    </div>
</div>


