@using KAR.KSFC.Components.Common.Dto.IDM
@model List<KAR.KSFC.Components.Common.Dto.IDM.IdmCersaiRegDetailsDTO>
@{
    int count = 0;
    LoanAccountNumberDTO LoanAccountDetails = ViewBag.LoanDetails;
    var IdmDsbChargeId = ViewBag.IdmDsbChargeId;
    var Cersai = ViewBag.cersai;
}

<a onclick="showInPopup('@Url.Action("Register","Cersai",new {AccountNumber =ViewBag.AccountNumber, LoanSub =ViewBag.LoanSub, OffCd =ViewBag.OffCd ,IdmDsbChargeId = ViewBag.IdmDsbChargeId},Context.Request.Scheme)','Cersai Registration Details','Cersai')" class="btn btn-primary text-white mb-2 mt-2"><em class="fa fa-plus"></em> Register</a>
<a onclick="showInPopup('@Url.Action("ViewRegistration","Cersai",new{AccountNumber =ViewBag.AccountNumber},Context.Request.Scheme)','View Cersai Registration Details','Cersai')" class="btn btn-warning text-white mb-2 mt-2" style="float: right;"><em class="fa fa-eye"></em>&nbsp; View cersai Registration</a>
@*@if(Cersai != null)
{
    <a onclick="showInPopup('@Url.Action("Edit","Cersai",new{AccountNumber =ViewBag.AccountNumber},Context.Request.Scheme)','Edit Cersai Registration Details','Cersai')" class="btn btn-warning text-white mb-2 mt-2" style="float: right;"><em class="fa fa-pencil"></em> &nbsp; Edit </a>
}
else
{
    <a onclick="showInPopup('@Url.Action("Edit","Cersai",new{AccountNumber =ViewBag.AccountNumber},Context.Request.Scheme)','Edit Cersai Registration Details','Cersai')" class="btn btn-warning text-white mb-2 mt-2 disabled" style="float: right;"><em class="fa fa-pencil"></em> &nbsp; Edit </a>

}*@

<div class="pre-scrollable">
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblCersaiDatatable" aria-labelledby="Cersairegestration-tab">
        <thead>
            <tr>
                <th class="th1">S. No.</th>
                <th class="th4">Date of Registration</th>
                <th class="th4">Cersai Registration No.</th>
                <th class="th5a">Description of Asset</th>
                <th class="th4a">Action</th> 
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                
                @foreach (var item in Model)
                {
                    if(item.CersaiRegNo != null)
                    { 


                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.CersaiRegDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.CersaiRegNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.AssetDet)</td>
                            <td class="textCenter">
                                <a onclick="showInPopup('@Url.Action("ViewRecord","Cersai",new {assetcd= item.AssetCd,cersai =item.CersaiRegNo },Context.Request.Scheme)','View Cersai Registration Details','Cersai')" class="btn btn-warning text-white"><em class="fa fa-eye" aria-hidden="true"></em>  View</a>
                                <a onclick="JqueryAjaxDeleteMethod('@Url.Action("Delete","Cersai",new {IdmDsbChargeId=item.IdmDsbChargeId},Context.Request.Scheme)','Cersai')" class="btn btn-danger"><em class="fa fa-trash-o" aria-hidden="true"></em> Delete </a>
                            </td>
                        </tr>
                    }
                }
                
            }
            else
            {
                <tr>
                    <td colspan="8">
                        No Data Available.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('tblCersaiDatatable').DataTable();
    });
</script>

