@model IEnumerable<EpicCrmWebApi.EntityModel>
@{ 
    IEnumerable<DomainEntities.EntityAgreement> entityAgreements = ViewBag.EntityAgreements;
    IEnumerable<DomainEntities.OfficeHierarchy> officeHierarchy = (IEnumerable<DomainEntities.OfficeHierarchy>)ViewBag.OfficeHierarchy;
}
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EntityType)</th>
        <th>@Html.DisplayNameFor(model => model.EntityName)</th>
        <th>@Html.DisplayNameFor(model => model.EntityNumber)</th>
        <th>@Html.DisplayNameFor(model => model.LandSize)</th>
        <th>@Html.DisplayNameFor(model => model.UniqueIdType)</th>
        <th>@Html.DisplayNameFor(model => model.UniqueId)</th>
        <th>@Html.DisplayNameFor(model => model.EmployeeCode)</th>
        <th>@Html.DisplayNameFor(model => model.EmployeeName)</th>
        <th>Crop Name</th>
        <th>Agreement #</th>
        <th>Agreement Land Size (in Acres)</th>
        <th>Rate / Kg. (Rs.)</th>
        <th>Agreement Status</th>
        <th>Passbook Received</th>
        <th># DWS</th>
        <th># Issues/Returns</th>
        <th># Advance Request</th>

        @*<th>@Html.DisplayNameFor(model => model.MajorCrop)</th>
        <th>@Html.DisplayNameFor(model => model.LastCrop)</th>
        <th>@Html.DisplayNameFor(model => model.WaterSource)</th>
        <th>@Html.DisplayNameFor(model => model.SoilType)</th>
        <th>@Html.DisplayNameFor(model => model.SowingType)</th>
        <th>@Html.DisplayNameFor(model => model.SowingDate)</th>*@
        <th>@Html.DisplayNameFor(model => model.AtBusiness)</th>

        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
        <th>@Html.DisplayNameFor(model => model.Latitude)</th>
        <th>@Html.DisplayNameFor(model => model.Longitude)</th>
        <th>@Html.DisplayNameFor(model => model.FatherHusbandName)</th>


        <th>Zone</th>
        <th>Area</th>
        <th>Territory</th>
        <th>HQ</th>
        <th>@Html.DisplayNameFor(model => model.EntityDate)</th>

        <th>@Html.DisplayNameFor(model => model.ContactCount)</th>
        <th>@Html.DisplayNameFor(model => model.CropCount)</th>
        <th>@Html.DisplayNameFor(model => model.BankDetailCount)</th>
    </tr>

    @foreach (var item in Model)
    {
        DomainEntities.OfficeHierarchy ohRec = officeHierarchy?
                        .Where(x => x.HQCode.Equals(item.HQCode, StringComparison.OrdinalIgnoreCase))
                        .FirstOrDefault();

        var zoneName = ohRec?.ZoneName ?? "";
        var areaName = ohRec?.AreaName ?? "";
        var territoryName = ohRec?.TerritoryName ?? "";
        var hqName = ohRec?.HQName ?? "";


        var agList = entityAgreements?.Where(x => x.EntityId == item.Id).ToList();
        if (agList == null)
        {
            agList = new List<DomainEntities.EntityAgreement>();
        }

        int agreementCount = agList.Count;

        int j = 0;
        do
        {
            j++;
            DomainEntities.EntityAgreement ea = agreementCount > 0 ? agList[j - 1] : new DomainEntities.EntityAgreement();

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.EntityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LandSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueIdType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UniqueId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ea.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ea.AgreementNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ea.LandSizeInAcres)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ea.RatePerKg)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ea.Status)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ea.IsPassbookReceived, "BoolAsText")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => ea.DWSCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ea.IssueReturnCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ea.AdvanceRequestCount)
                </td>

                @*<td>
                    @Html.DisplayFor(modelItem => item.MajorCrop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastCrop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WaterSource)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoilType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SowingType)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.SowingDate, "MinimumDateTimeDate")
                </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.AtBusiness, "BoolAsText")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive, "BoolAsText")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FatherHusbandName)
                </td>

                <td>@Html.DisplayFor(modelItem => zoneName)</td>
                <td>@Html.DisplayFor(modelItem => areaName)</td>
                <td>@Html.DisplayFor(modelItem => territoryName)</td>
                <td>@Html.DisplayFor(modelItem => hqName)</td>
                <td>@Html.DisplayFor(modelItem => item.EntityDate)</td>

                <td>@Html.DisplayFor(modelItem => item.ContactCount)</td>
                <td>@Html.DisplayFor(modelItem => item.CropCount)</td>
                <td>@Html.DisplayFor(modelItem => item.BankDetailCount)</td>
            </tr>

        } while (j < agreementCount);
    }
</table>



