@model  IEnumerable<GstRateViewModel>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th style="min-width:50px;max-width:50px;">
            @Html.DisplayNameFor(model => model.GstCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GstRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveEndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="/admin/EditGstRate?id=@item.Id" title="Edit" class="editInPopup">@item.GstCode</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GstRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveStartDate, "DatetimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveEndDate, "DatetimeShort")
            </td>
        </tr>
    }
</table>

