@model ICollection<DWSModel>
@{

    int allDWSCount = Model.Count;

    string contextDWSNumber = "";
    if (ViewData.ContainsKey("ContextDWSNumber"))
    {
        contextDWSNumber = (string)ViewData["ContextDWSNumber"];
    }
}

@if (allDWSCount > 0)
{
    decimal totalPayableWt = Model.Sum(x => x.NetPayableWt);
    decimal totalGoodsPrice = Model.Sum(x => x.GoodsPrice);
    decimal totalDeductAmount = Model.Sum(x => x.DeductAmount);
    decimal totalNetPayable = Model.Sum(x => x.NetPayable);


<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.LabelFor(model => Model.First().DWSNumber)
        </th>
        <th>
            @Html.LabelFor(model => Model.First().DWSDate)
        </th>
        <th>
            @Html.LabelFor(model => Model.First().Agreement)
        </th>
        <th>@Html.DisplayNameFor(model => Model.First().Status)</th>
        <th>@Html.DisplayNameFor(model => Model.First().NetPayableWt)</th>
        <th>@Html.DisplayNameFor(model => Model.First().GoodsPrice)</th>
        <th>@Html.DisplayNameFor(model => Model.First().DeductAmount)</th>
        <th>@Html.DisplayNameFor(model => Model.First().NetPayable)</th>
        <th>@Html.DisplayNameFor(model => Model.First().PaymentReference)</th>
    </tr>
    @foreach (var item in Model.OrderBy(x=>x.DWSNumber))
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DWSNumber)</td>
        <td>@Html.DisplayFor(modelItem => item.DWSDate, "DateTimeShort")</td>
        <td>@Html.DisplayFor(modelItem => item.Agreement)</td>
        @if (item.DWSNumber == contextDWSNumber)
        {
            <th>*Current DWS*</th>
        }
        else
        {
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
        }

        <td>@Html.DisplayFor(modelItem => item.NetPayableWt)</td>
        <td>@Html.DisplayFor(modelItem => item.GoodsPrice)</td>
        <td>@Html.DisplayFor(modelItem => item.DeductAmount)</td>
        <td>@Html.DisplayFor(modelItem => item.NetPayable)</td>
        <td>@Html.DisplayFor(modelItem => item.PaymentReference)</td>
    </tr>
    }

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <th>Totals</th>
        <td>@Html.DisplayFor(modelItem => totalPayableWt)</td>
        <td>@Html.DisplayFor(modelItem => totalGoodsPrice)</td>
        <th>@Html.DisplayFor(modelItem => totalDeductAmount)</th>
        <td>@Html.DisplayFor(modelItem => totalNetPayable)</td>
        <td>&nbsp;</td>
    </tr>
</table>
}
else
{
    <div>There are zero items to show here.</div>
}
