@model ICollection<EntityWorkFlowDetailModel>
@{
    int itemCount = Model.Count;
    int currentRow = 0;
    ICollection<DomainEntities.WorkFlowFollowUp> wff;
    if (ViewData.ContainsKey("WorkFlowFollowUp"))
    {
        wff = (ICollection<DomainEntities.WorkFlowFollowUp>)ViewData["WorkFlowFollowUp"];
    }
    else
    {
        wff = new List<DomainEntities.WorkFlowFollowUp>();
    }
}

@if (itemCount > 0)
{
    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>&nbsp;</th>
            <th>@Html.LabelFor(model => Model.First().Phase)</th>
            <th>@Html.LabelFor(model => Model.First().PlannedFromDate)</th>
            <th>@Html.LabelFor(model => Model.First().PlannedEndDate)</th>
            <th>@Html.DisplayNameFor(model => Model.First().IsFollowUpRow)</th>
            <th>@Html.DisplayNameFor(model => Model.First().IsActiveAsNumber)</th>
            <th>@Html.DisplayNameFor(model => Model.First().CompletedOn)</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var item in Model.OrderBy(x => x.Sequence).ThenBy(x=> x.PlannedFromDate))
        {
            // check if follow up is allowed
            bool isFollowUpAllowed = wff.Any(x => x.TypeName.Equals(item.TypeName, StringComparison.OrdinalIgnoreCase) &&
                    x.Phase.Equals(item.Phase, StringComparison.OrdinalIgnoreCase) &&
                    String.IsNullOrEmpty(x.FollowUpPhaseTag) == false);

            <tr>

                @if (currentRow == 0) {
                       currentRow++;
                    if (item.CompletedOn == null)
                    {
                     <td>
                        <a href="/admin/EditAgreementWorkFlowRec?workflowDetailId=@item.Id" title="Edit @item.Phase Schedule" class="editInPopupOverPopup">
                        <img height="35" width="35" src="~/Content/img/Edit.png" /></a>
                     </td>
                     }
                    else
                    {
                     <td style="width:50px;">&nbsp;</td>
                    }

                }else{
                    <td style="width:50px;">&nbsp;</td>
                    }
                <td>@Html.DisplayFor(modelItem => item.Phase)</td>
                <td>@Html.DisplayFor(modelItem => item.PlannedFromDate, "DateTimeShort")</td>
                <td>@Html.DisplayFor(modelItem => item.PlannedEndDate, "DateTimeShort")</td>
                <td>@Html.DisplayFor(modelItem => item.IsFollowUpRow)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActiveAsNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.CompletedOn, "NullableDateTimeDate")</td>
                <td>
                    @if (isFollowUpAllowed)
                    {
                    <a href="/admin/AddAgreementWorkFlowRec?workflowDetailId=@item.Id" title="Add @item.Phase Followup" class="addInPopupOverPopup">
                        <img height="15" width="15" src="~/Content/img/Add.png" />
                    </a>
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>There are zero items to show here.</div>
}
