@model IEnumerable<EpicCrmWebApi.OfficeHierarchyModel>
@{
    IEnumerable<OfficeHierarchyModel> OfficeHierarchyModel = Model;
}

<table class="table" id="dataTable2">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ZoneCode)</th>
            <th>@Html.DisplayNameFor(model => model.ZoneName)</th>
            <th>@Html.DisplayNameFor(model => model.AreaCode)</th>
            <th>@Html.DisplayNameFor(model => model.AreaName)</th>
            <th>@Html.DisplayNameFor(model => model.TerritoryCode)</th>
            <th>@Html.DisplayNameFor(model => model.TerritoryName)</th>
            <th>@Html.DisplayNameFor(model => model.HQCode)</th>
            <th>@Html.DisplayNameFor(model => model.HQName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in OfficeHierarchyModel)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ZoneCode)</td>
                <td>@Html.DisplayFor(modelItem => item.ZoneName)</td>
                <td>@Html.DisplayFor(modelItem => item.AreaCode)</td>
                <td>@Html.DisplayFor(modelItem => item.AreaName)</td>
                <td>@Html.DisplayFor(modelItem => item.TerritoryCode)</td>
                <td>@Html.DisplayFor(modelItem => item.TerritoryName)</td>
                <td>@Html.DisplayFor(modelItem => item.HQCode)</td>
                <td>@Html.DisplayFor(modelItem => item.HQName)</td>
            </tr>
        }
    </tbody>
</table>

