@model IEnumerable<EpicCrmWebApi.EntityAgreementModel>

<h3>Agreements (@Model.Count())</h3>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>&nbsp;</th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WorkflowSeasonName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.AgreementNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LandSizeInAcres)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPassBookReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassBookReceivedDate) (dd-MM-yyyy)
        </th>
        <th>&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            <a href="/admin/EditAgreement?entityAgreementId=@item.Id" title="Edit agreement" class="editInPopup">
                <img height="35" width="35" src="~/Content/img/Edit.png" />
            </a>
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.WorkflowSeasonName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.AgreementNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LandSizeInAcres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPassBookReceived)
        </td>
        @if (item.IsPassBookReceived)
        {
        <td>
            @Html.DisplayFor(modelItem => item.PassBookReceivedDate, "DateTimeDate")
        </td>
        }
        else
        {
            <td>&nbsp;</td>
        }

        <td>
            @if (item.ActivityId > 0)
            {
                @Html.ActionLink("Activity", "ActivityOne", "Dashboard", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new", title = "Show Activity" })
            }
        </td>
    </tr>
    }
</table>

