@model KAR.KSFC.Components.Common.Dto.IDM.UnitDetails.IdmPromAssetDetDTO
@{
    Layout = null;
    var account = ViewBag.AccountNumber;
    var inunit = ViewBag.InUnit;
}

<div>
    <div>
        <form id="UDAssetDetails" asp-action="Create" onsubmit="return JqueryCUIAddMethod(this,'AssetDetails'); ClearPopupFormac();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@account" asp-for="LoanAcc" />
            @Html.HiddenFor(m => m.LoanAcc, new { @class = "form-control", value=@ViewBag.LoanAcc })
            @Html.HiddenFor(m => m.UniqueId, new { @class = "form-control"})
            @Html.HiddenFor(m => m.Action, new { @class = "form-control"})
            <input type="hidden" value="@ViewBag.LoanSub" asp-for="LoanSub" />
            <input type="hidden" value="@ViewBag.OffcCd" asp-for="OffcCd" />
            <input type="hidden" value="@inunit" asp-for="UtCd" />
            <div class="row">
                <div class="col-md-6">
                    <strong><label class="form-label">Name of Promoter</label><span id="spanDet1"> *</span></strong>
                    @Html.DropDownListFor(m => m.PromoterCode, new SelectList(ViewBag.AllPromoterNames, "PromoterCode", "PromName"),"---Select Promoter Name---", new { @class = "form-select", @id="Name",required = "required" })
                    <span asp-validation-for="PromoterCode" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label">Asset Category</label></strong>
                    @Html.DropDownListFor(m => m.AssetCatCD,
                    new SelectList(ViewBag.AssetCategary,"AssetcatCd", "AssetcatDets"), "---Select Type---"
                    , new { @class = "form-select", @id = "CatCd",@_ = "_" , @required="required"})
                    <span asp-validation-for="AssetCatCD" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <strong><label class="form-label">Asset Type</label><span  id="spanDet1"> *</span></strong>
                    @Html.DropDownListFor(m => m.AssetTypeCD,
                    new SelectList(ViewBag.AssetTypes,"AssettypeCd", "AssettypeDets"), "---Select Type---"
                    , new { @class = "form-select", @id = "typecd", @required="required",@style="white-space: pre-wrap"})
                    <span asp-validation-for="AssetTypeCD" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label">Type of Land/Shed</label><span  id="spanDet1"> *</span></strong>
                    @Html.DropDownListFor(m => m.LandType,
                    new SelectList(ViewBag.LandType,"Value", "Text"), "---Select Land Type---"
                    , new { @class = "form-select", @id = "formType" })
                    <span asp-validation-for="LandType" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <strong><label class="form-label">Survey/Site/Flat No</label><span  id="spanDet1"> *</span></strong>                                 
                    @Html.TextBoxFor(m => m.IdmAssetSiteno, new { @class = "form-control",@required="required", @id = "SiteNo",@_ = "_" ,@maxlength="50"})
                    <span id="spanDet">Max: 50 Characters</span><br />
                    <span asp-validation-for="IdmAssetSiteno" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label">Site/Flat Address</label><span  id="spanDet1"> *</span></strong>
                    @Html.TextAreaFor(m => m.IdmAssetaddr, new { @class = "form-control", @required="required", @id = "SiteAddress",@_ = "_",@maxlength="200"})
                    <span id="spanDet">Max: 200 Characters</span><br />
                    <span asp-validation-for="IdmAssetaddr" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <strong><label class="form-label">Dimensions (Sq. Mtrs.)</label><span  id="spanDet1"> *</span></strong>
                    @Html.TextBoxFor(m => m.IdmAssetDim, new {@onkeypress="allowAlphaNumericSpace(event)",@required="required", @class = "form-control", @id = "Dimens",@_ = "_",@maxlength="20"})
                    <span asp-validation-for="IdmAssetDim" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label">Area (Sq. Mtrs.)</label><span  id="spanDet1"> *</span></strong>
                    <input type="number" asp-for="IdmAssetArea" required class="form-control"  min="0" id="Area" onkeypress="return event.charCode >= 46 && event.charCode <= 57" />
                    <span asp-validation-for="IdmAssetArea" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row">
               <div class="col-md-6">
                    <strong><label class="form-label">Asset Description</label><span  id="spanDet1"> *</span></strong>
                    @Html.TextAreaFor(m => m.IdmAssetDesc, new { @class = "form-control",required = "required", @id = "AssetDisc",@_ = "_",@maxlength="200"})
                      <span id="spanDet">Max: 200 Characters</span><br />
                    <span asp-validation-for="IdmAssetDesc" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label">Value</label><span  id="spanDet1"> *</span></strong>
                    @Html.TextBoxFor(m => m.IdmAssetValue,"{0:n2}", new { @class = "form-control", @type="number", @id="promMobileNo",@onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)",maxlength="10" ,@style="text-align:right"})
                    <span asp-validation-for="IdmAssetValue" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group ">
                <div class="col-md-2 text-center float-end submit3 ">
                    <input type="submit" value="Submit" class="btn btn-primary" disabled="disabled" id="submit" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('select[id="Name"],select[id="CatCd"],select[id="typecd"],textarea[id="SiteNo"],input[class="form-control"]').change(function () {

        if ($(this).val()) {
            $("input[id='submit']").removeAttr('disabled');
        }
    });
</script>

<script>
    function allowAlphaNumericSpace(e) {
        var code = ('charCode' in e) ? e.charCode : e.keyCode;
        if (!(code == 32) && // space
            !(code > 47 && code < 58) && // numeric (0-9)
            !(code > 64 && code < 91) && // upper alpha (A-Z)
            !(code > 96 && code < 123)) { // lower alpha (a-z)

            e.preventDefault();
        }
    }

    $("#SiteNo").on('input', function () {
        debugger
       var value =  $("#SiteNo").val()
       $("#SiteNo").val(value.replace(/[^0-9a-zA-Z-_/\\]/, ''))    
    });

    $("#CatCd").change(function () {
        debugger;
        var status = $('#CatCd :selected').text();
        if (status == "Immovable Asset") {
            document.getElementById('SiteNo').readOnly = false
            document.getElementById('SiteAddress').readOnly = false
            document.getElementById('Dimens').readOnly = false
            document.getElementById('Area').readOnly = false
            document.getElementById('formType').disabled = false

        }
        else {
            document.getElementById('SiteNo').readOnly = true
            document.getElementById('SiteAddress').readOnly = true
            document.getElementById('Dimens').readOnly = true
            document.getElementById('Area').readOnly = true
            document.getElementById('formType').disabled = true
        }
    });

    $('select[id="CatCd"]').change(function () {
        debugger;
        if ($(this).val()) {
            $("select[id='typecd']").removeAttr('disabled');
        }
        var CategoryValue = $('#CatCd').val();
        var PD = parseInt(CategoryValue);
        $.ajax({
            type: 'Get',
            url: GetRoute('/AssetDetails/AssetTypeDropDown'),
            data: { Id: PD },
            success: function (data) {
                debugger;
                if (data.length != 0) {
                    var AssetType = AssetType + '<option value="">--Select Type--</option>';

                    for (var i = 0; i < data.length; i++) {
                        AssetType = AssetType + '<option value=' + data[i].value + '>' + data[i].text + '</option>';
                    }
                }
                $('#typecd').html(AssetType);
            },
            error: function (result) {
                console.log(result)
            }
        })

    });

</script>

<script>

    $("#typecd").change(function () {
       
        var status = $('#typecd :selected').text();
        if (status == 'LAND') {
            document.getElementById('formType').disabled = false
        }
        else {
            document.getElementById('formType').disabled = true
        }

    });


</script>