@model EpicCrmWebApi.EmployeeRecordModel
@{ 
    string[] activityPageTypeValues = ViewBag.ActivityPageType;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee Record</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeId, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AutoUploadFromPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <div class="checkbox">
                    @Html.EditorFor(model => model.AutoUploadFromPhone)
                    @Html.ValidationMessageFor(model => model.AutoUploadFromPhone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ActivityPageName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <select class="form-control" id="ActivityPageName" name="selActivityPageName">
                    <option value="">Select Default Page</option>
                    @foreach (var o in activityPageTypeValues)
                    {
                        var ActivityPage = o.Trim();

                        if (!string.IsNullOrEmpty(ActivityPage))
                        {
                            if (ActivityPage.Equals(Model.ActivityPageName, StringComparison.OrdinalIgnoreCase))
                            {
                                <option value="@ActivityPage" selected>@ActivityPage</option>
                            }
                            else
                            {
                                <option value="@ActivityPage">@ActivityPage</option>
                            }
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocationFromType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.LocationFromType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationFromType, "", new { @class = "text-danger" })
                <p>Xamarin / GPS / Network / Auto</p>
            </div>
        </div>

        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.EnhancedDebugEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.EnhancedDebugEnabled)
                        @Html.ValidationMessageFor(model => model.EnhancedDebugEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.TestFeatureEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.TestFeatureEnabled)
                        @Html.ValidationMessageFor(model => model.TestFeatureEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div>
                @Html.LabelFor(model => model.VoiceFeatureEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.VoiceFeatureEnabled)
                        @Html.ValidationMessageFor(model => model.VoiceFeatureEnabled, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div>
                @Html.LabelFor(model => model.ExecAppDetailLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.ExecAppDetailLevel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ExecAppDetailLevel, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-sm-2">
                    <input type="button" id="btnSave" value="Save" class="form-control btn-success" />
                </div>
                <div class="col-md-offset-2 col-sm-2">
                    <input type="button" id="btnDelete" value="Delete Data" class="form-control btn-danger" />
                </div>
            </div>
        </div>
    </div>
}
