@model IEnumerable<EpicCrmWebApi.SqliteDWSDisplayData>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DWSNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BagCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilledBagsWeightKg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmptyBagsWeightKg)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityWorkFlowDetailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DWSId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DWSNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BagCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilledBagsWeightKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmptyBagsWeightKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agreement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityWorkFlowDetailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DWSId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
        </tr>
    }
</table>

