@model IEnumerable<EpicCrmWebApi.SqliteEntityLocationDisplayData>

<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsGood)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationTaskStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationException)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude, "DecimalCoordinates")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude, "DecimalCoordinates")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.At)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsGood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationTaskStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationException)
            </td>
        </tr>
    }
</table>

