@model IEnumerable<EpicCrmWebApi.ExcelUploadHistory>

@{
    ViewBag.Title = "ExcelUploadHistory";
}

<h2>Excel Upload History (@Model.Count())</h2>
@if (Model.Count() > 0)
{
<table class="table" id="dataTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecordCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleteRefresh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostingTimestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadFileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecordCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCompleteRefresh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTimestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostingTimestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UploadFileName)
        </td>
        @if (item.DoesFileExist)
        {
        <td>
            <a href="/TestBed/PreSignedLinkFromS3?fileName=@item.UploadFileName">Download</a>
        </td>
        }
        else
        {
            <td>&nbsp;</td>
        }
    </tr>
}

</table>
}