@model IEnumerable<EpicCrmWebApi.FeatureControlModel>

@{
    ViewBag.Title = "Rights";
}

<h2>(Virtual) Super Admin User Rights</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>@Html.DisplayNameFor(model => model.SuperAdminPage)</th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th>
            &nbsp;
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/superadmin/EditRights?userName=@item.UserName" title="Edit" class="editInPopup">@item.UserName</a>
            @if (item.IsDefaultSecurityContext == false)
            {
                <span>&nbsp; =>&nbsp; @item.SecurityContextUser</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperAdminPage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteUser", "SuperAdmin", new { userName = item.UserName }, new { title = "Delete " + @item.UserName + " user" })
        </td>
    </tr>
}

</table>

@* editPopupLinkClicked is defined in
    CRMSolution\EpicCrmWebApi\Scripts\CustomScripts\EpicCrmAjax.js
*@

@section scripts{
    <script>
            $(document).ready(
                function () {
                    $(".editInPopup").off('click').on('click', editPopupLinkClicked);
                }
            );
    </script>
}