@model IEnumerable<EpicCrmWebApi.SqliteQuestionnaireDisplayData>
@{
    ViewBag.Title = "ShowSavedQuestionnaire";
    string pageTitle = String.Format("Saved Questionnaire Batch Items [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SqliteQuestionPaperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneDbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SqliteQuestionPaperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityId)
            </td>
        </tr>
    }

</table>

