@model IEnumerable<EpicCrmWebApi.SqliteFollowUpTaskActionDisplayData>

@{
    ViewBag.Title = "Saved FollowUp/Task Action Batch Items";
    string pageTitle = String.Format("Saved FollowUp/Task Action Batch Items [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsNewTask)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskAssignmentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneDbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentReferenceTaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SqliteActionPhoneDbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskActionId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsNewTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskAssignmentId)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp, "DatetimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentReferenceTaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SqliteActionPhoneDbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskActionId)
            </td>
        </tr>
    }

</table>
