@model IEnumerable<PurgeDataModel>

@{
    ViewBag.Title = "Purge Data Log";
    //string currentUtcDateTime = String.Format("{0:yyyy-MM-dd hh:mm:ss tt}", DateTime.UtcNow);
}

<h2>Purge Data Log (@Model.Count())</h2>

@if (Model.Count() > 0)
{
    <table class="table" id="dataTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionPurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActionDupPurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpensePurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderPurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentPurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnPurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityPurged)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionPurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDupPurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpensePurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderPurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentPurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnPurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityPurged)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
            </tr>
        }

    </table>
}