@model IEnumerable<EpicCrmWebApi.SqliteDayPlanTargetDisplayData>

@{
    ViewBag.Title = "Saved Day Plan Batch Items";
    string pageTitle = String.Format("Saved Day Plan Batch Items [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TargetSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetCollection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetNewDealerAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetDemoActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetVigoreSales)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanTimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneDbId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TargetSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetCollection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetNewDealerAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetDemoActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetVigoreSales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanTimeStamp, "DatetimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDbId)
            </td>
        </tr>
    }

</table>
