@model IEnumerable<EpicCrmWebApi.SqliteReturnOrderItemDisplayData>

@{
    ViewBag.Title = "Saved Return Items";
    string pageTitle = String.Format("Saved Return Order Lines [SqliteReturnOrder Id:{0}; Employee Name: {1}]", ViewBag.SqliteReturnOrderId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitQuantity)
        </th>
        <th style="text-align:right;">
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitQuantity)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
    </tr>
}
</table>
