@model IEnumerable<EpicCrmWebApi.SqliteSurveyDisplayData>

@{
    ViewBag.Title = "Saved Survey Batch Items";
    string pageTitle = String.Format("Saved Survey Batch Items [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsNewEntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SowingType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acreage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SowingDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.MajorCrop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCrop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoilType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaterSource)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntitySurveyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneDbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentReferenceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsNewEntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SowingType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acreage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SowingDate, "DatetimeShort")
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MajorCrop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCrop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoilType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaterSource)
        </td>


        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp, "DatetimeShort")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntitySurveyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneDbId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentReferenceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityId)
        </td>
    </tr>
}

</table>
