@model IEnumerable<DomainEntities.ExecAppImei>

@{
    ViewBag.Title = "Exec App IMEI";
}

<h2>IMEI data for Exec App (<a href="/superAdmin/AddExecAppImei" title="Add" class="addInPopup">Add New</a>)</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IMEINumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSupportPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableLog)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ExecAppDetailLevel)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>

        <th>&nbsp;</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/superadmin/EditExecAppImei?imeiRecId=@item.Id" title="Edit @item.Comment" class="editInPopup">@item.IMEINumber</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsSupportPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate, "DayAndDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate, "DayAndDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableLog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExecAppDetailLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteExecAppImei", "SuperAdmin", new { execAppImeiId = item.Id }, new { title = "Delete " + @item.IMEINumber + " " + @item.Comment })
        </td>
    </tr>
}
</table>

@section scripts{
    @* editPopupLinkClicked is defined in EpicCrmAjax.js *@
    <script>
            $(document).ready(
                function () {
                    $(".editInPopup").off('click').on('click', editPopupLinkClicked);
                    $(".addInPopup").off('click').on('click', addPopupLinkClicked);
                }
            );
    </script>
}
