@model IEnumerable<EpicCrmWebApi.SqliteDeviceLogDisplayData>

@{
    ViewBag.Title = "Device Logs";
    string pageTitle = String.Format("Device Logs [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogText)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.LogText)
        </td>
    </tr>
}
</table>
