@model IEnumerable<EpicCrmWebApi.SqliteFollowUpTaskDisplayData>

@{
    ViewBag.Title = "Saved FollowUp Task Batch Items";
    string pageTitle = String.Format("Saved FollowUp Task Batch Items [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsNewEntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUpStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUpEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FollowUpStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.NotificationDate)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneDbId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskAssignmentId)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsNewEntity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.ClientCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpStartDate, "DatetimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpEndDate, "DatetimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProcessed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneDbId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskAssignmentId)
            </td>
        </tr>
    }

</table>
