@model IEnumerable<DomainEntities.AppVersion>

@{
    ViewBag.Title = "App Versions";
}

<h2>Released Phone App Version (<a href="/superAdmin/AddAppVersion" title="Add" class="addInPopup">Add New</a>)</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Version)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>&nbsp;</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/superadmin/EditAppVersion?recId=@item.Id" title="Edit" class="editInPopup">@item.Version</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate, "DayAndDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate, "DayAndDate")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteAppVersion", "SuperAdmin", new { recId = item.Id }, new { title = "Delete " + @item.Version })
        </td>
    </tr>
}

</table>

@section scripts{
    @* editPopupLinkClicked is defined in EpicCrmAjax.js *@
    <script>
            $(document).ready(
                function () {
                    $(".editInPopup").off('click').on('click', editPopupLinkClicked);
                    $(".addInPopup").off('click').on('click', addPopupLinkClicked);
                }
            );
    </script>
}
