@model IEnumerable<DomainEntities.AspNetUser>

@{
    ViewBag.Title = "AspNetUser";
    string currentDateTime = String.Format("{0:ddd yyyy-MM-dd hh:mm:ss tt}", Helper.GetCurrentIstDateTime());
}

<h2>AspNet User [ @currentDateTime IST]</h2>

<table class="table" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>Roles</th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th>LockoutEndDate (IST)</th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th>DisableUserAfter (IST)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            System.Text.StringBuilder sb = new System.Text.StringBuilder();
            foreach (string r in item.Roles)
            {
                sb.Append($"{r}, ");
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @sb.ToString().Trim(new char[] { ',', ' ' })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @if (item.LockoutEndDateUtc.HasValue)
                    {
                        @Helper.ConvertUtcTimeToIst(item.LockoutEndDateUtc.Value).ToString("dd-MM-yyyy hh:mm:ss tt")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @if (item.DisableUserAfterUtc.HasValue)
                    {
                        @Helper.ConvertUtcTimeToIst(item.DisableUserAfterUtc.Value).ToString("dd-MM-yyyy hh:mm:ss tt")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(
            function () {
                $("#dataTable").DataTable();
            });
    </script>
}