@model IEnumerable<EpicCrmWebApi.SqliteIssueReturnDisplayData>

@{
    ViewBag.Title = "Saved Issue/Return Batch Items";
    string pageTitle = String.Format("Saved IssueReturn Batch Items [Batch Id:{0}; Employee Name: {1}]", ViewBag.BatchId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsNewEntity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsNewAgreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agreement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TranType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SlipNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Acreage)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ItemRate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsProcessed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueReturnId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentReferenceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsNewEntity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsNewAgreement)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.EntityId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AgreementId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Agreement)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TranType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlipNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acreage)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ItemRate)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TimeStamp, "DatetimeShort")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsProcessed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueReturnId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ParentReferenceId)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ActivityId)
        </td>

    </tr>
}

</table>
