@model IEnumerable<EpicCrmWebApi.SqliteOrderLineDisplayData>

@{
    ViewBag.Title = "Saved Order Items";
    string pageTitle = String.Format("Saved Order Lines [SqliteOrder Id:{0}; Employee Name: {1}]", ViewBag.SqliteOrderId, ViewBag.EmpName);
}

<h2>@pageTitle</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductCode)
        </th>

        <th style="text-align:right;">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.DiscountPercent)</th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.DiscountedPrice)</th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.UnitQuantity)</th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.ItemPrice)</th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.GstPercent)</th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.GstAmount)</th>
        <th style="text-align:right;">@Html.DisplayNameFor(model => model.NetPrice)</th>

        <th style="text-align:right;">
            @Html.DisplayNameFor(model => model.Amount)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCode)
        </td>
        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>

        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.DiscountPercent)</td>
        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.DiscountedPrice)</td>
        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.UnitQuantity)</td>
        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.ItemPrice)</td>
        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.GstPercent)</td>
        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.GstAmount)</td>
        <td style="text-align:right;">@Html.DisplayFor(modelItem => item.NetPrice)</td>

        <td style="text-align:right;">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
    </tr>
}
</table>
