@model EpicCrmWebApi.SMSScheduleModel

@{
    ViewBag.Title = "SMS Schedule";
}

<h2>Tenant Holidays</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Holidays.First().TenantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Holidays.First().HolidayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Holidays.First().Description)
        </th>
    </tr>

    @foreach (var item in Model.Holidays)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
</table>

<h2>Tenant Work Day</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkDays.First().TenantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDays.First().WeekDayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkDays.First().IsWorkingDay)
        </th>
    </tr>

    @foreach (var item in Model.WorkDays)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeekDayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWorkingDay)
            </td>
        </tr>
    }

</table>


<h2>Tenant SMS Types</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SmsTypes.First().TenantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmsTypes.First().TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmsTypes.First().MessageText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmsTypes.First().SprocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmsTypes.First().SmsProcessClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmsTypes.First().PlaceHolders)
        </th>
    </tr>

    @foreach (var item in Model.SmsTypes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SprocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmsProcessClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceHolders)
            </td>
        </tr>
    }

</table>


<h2>SMS Schedule</h2>

<table class="table" id="smsScheduleTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SmsSchedule.First().TenantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmsSchedule.First().SmsTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmsSchedule.First().WeekDayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmsSchedule.First().SMSAt)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SmsSchedule)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SmsTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WeekDayName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SMSAt)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(
            function () {
                $("#smsScheduleTable").DataTable();
            });
    </script>
}

