@model List<KAR.KSFC.Components.Common.Dto.LoanAccounting.LoanRelatedReceipt.TblLaReceiptPaymentDetDTO>
@{
    int count = 0;
    var accountnumber = ViewBag.AccountNumber;
    var loansub = ViewBag.LoanSub;
    var unitname = ViewBag.UnitName;
}

<div class="row">   
    <div class="col-3">
        <a class="nav-link" asp-area="Admin" asp-controller="SavedReceipt" asp-action="Create" asp-route-AccountNumber="@accountnumber" asp-route-LoanSub="@loansub" asp-route-UnitName="@unitname">
            <div class="savedreceipt">
                <input type="submit" value="Add Receipt Payment" class="btn btn-primary text-white mb-2 mt-2 btnDet" />
            </div>
        </a>
    </div>
</div>
<div class="pre-scrollable">
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblReceiptPaymentDatatable">
        <thead>
            <tr>
                <th class="th1">S. No.</th>
                <th class="th3">Payment Reference Number</th>
                <th class="th2">Payment Amount</th>
                <th class="th2">Payment Date</th>
                <th class="th2">Due Date For Payment</th>
                <th class="th2">Mode Of Payment</th>
                <th class="th3">Status</th>
                <th class="th5a">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@Html.DisplayFor(modelItem => item.TblLaPaymentDet.PaymentRefNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.TblLaPaymentDet.ActualAmt)</td>
                        <td>@Html.DisplayFor(modelItem => item.TblLaPaymentDet.PaidDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.TblLaReceiptDet.DueDatePayment)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModeType)</td>
                        <td>@Html.DisplayFor(modelItem => item.TblLaPaymentDet.PaymentStatus)</td>
                        <td class="textCenter">
                            @if (item.TblLaPaymentDet != null )
                            {
                                <a onclick="showInPopupLA('@Url.Action("ViewRecord","SavedReceipt",new {ReferenceNumber=item.TblLaPaymentDet.PaymentRefNo,Id=item.TblLaPaymentDet.Id,AccountNumber=@accountnumber, LoanSub=loansub, UnitName=unitname},Context.Request.Scheme)','View Generated Receipts','ReceiptPayment')" class="btn btn-warning text-white">  View</a>
                            }                            
                            @if (item.TblLaPaymentDet != null && item.TblLaPaymentDet.PaymentStatus != "Paid")
                            {
                                <a onclick="showInPopupLA('@Url.Action("Edit","SavedReceipt",new {id=item.TblLaPaymentDet.Id, RefrenceNumber=item.TblLaPaymentDet.PaymentRefNo},Context.Request.Scheme)','Generated Payments','ReceiptPayment')" class="btn btn-primary text-white"> Edit</a>
                            }
                            @if (item.TblLaPaymentDet != null && item.TblLaPaymentDet.PaymentStatus != "Paid" && item.TblLaPaymentDet.PaymentStatus != "Not Paid")
                            {
                                <a onclick="return ApprRejctPayment('@item.TblLaPaymentDet.PaymentRefNo','@item.TblLaPaymentDet.Id','@item.TblLaReceiptDet.Id','Approve')" class="btn btn-success">Approve</a>
                            }
                            @if (item.TblLaPaymentDet != null && item.TblLaPaymentDet.PaymentStatus == "Payment Initiated")
                            {
                                <input type="button" value="Download Challan" class="btn btn-info" id="btnDet5" />
                            }
                            @if (item.TblLaPaymentDet != null && item.TblLaPaymentDet.PaymentStatus != "Paid" && item.TblLaPaymentDet.PaymentStatus != "Not Paid")
                            {
                                <a onclick="ApprRejctPayment('@item.TblLaPaymentDet.PaymentRefNo','@item.TblLaPaymentDet.Id','@item.TblLaReceiptDet.Id','Reject')" class="btn btn-danger">Reject</a>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        No Data Available.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblReceiptPaymentDatatable').DataTable();
    });
</script>