@using KAR.KSFC.Components.Common.Dto.IDM
@model KAR.KSFC.Components.Common.Dto.IDM.UnitDetails.IdmPromoterBankDetailsDTO
@{
    Layout = null;
    var account = ViewBag.LoanAcc;
    var loansub = ViewBag.LoanSub;
    var offccd  = ViewBag.OffcCd;
    var inunit = ViewBag.InUnit;
}

<div>
    <div>
        <form id="PromBank" asp-action="Edit" onsubmit="return JqueryCUIEditMethod(this,'PromoterBankInfo'); ClearPopupFormsh();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <input type="hidden" value="@account" asp-for="LoanAcc" />
            <input type="hidden" value="@ViewBag.LoanSub" asp-for="LoanSub" />
            <input type="hidden" value="@ViewBag.OffcCd" asp-for="OffcCd" />
            <input type="hidden" value="@ViewBag.idmprombankid" asp-for="IdmPromBankId" />
            <input type="hidden" value="@ViewBag.InUnit" asp-for="UtCd" />
            @Html.HiddenFor(m => m.Action, new { @class = "form-control"})   
              <div id="bootLoader">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

            <div class="row">
                 <div class="col-md-4">
                    <strong><label class="form-label">Name of Promotor <span id="spanDet1"> *</span></label></strong>
                    @Html.DropDownListFor(m => m.PromoterCode, new SelectList(ViewBag.AllPromoterNames, "PromoterCode", "PromName"),"---Select Promoter Name---", new { @class = "form-select", @id="PromotorName", @disabled = "disabled" })
                    <span asp-validation-for="PromoterCode" class="text-danger"></span>
                 </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Bank IFSC</label></strong>
                    @*@Html.DropDownListFor(m => m.PrmIfscId, new SelectList(@ViewBag.IfscCodeDDL, "Value", "Text"), "--- Select  IFSC ---", new { @class = "form-select",@id="prmifsc"})<br />*@
                     @*@Html.TextBoxFor(m => m.PrmIfscId, new { @class = "form-control", @maxlength = "11", @id = "prmifsc",required="required"})<br />*@
                    <input type="text" class="form-control" maxlength="11" id="prmifsc" required="required" />
                    <input type="text" class="form-control" id="ifscrowid" hidden name="PrmIfscId" />
                    <span asp-validation-for="PrmIfscId" class="text-danger"></span>                    
                    <input type="button" id="getdetailsedit" value="Get Details" class="btn btn-warning mt-2" onclick="fillIfscDetails()" />
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Name Of Bank</label></strong>
                    @Html.TextBoxFor(m => m.PrmBankName, new { @class = "form-control",@readonly = "true", @id = "prmbankname" })
                    <span asp-validation-for="PrmBankName" class="text-danger"></span>
                </div>
                
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong><label class="form-label">Name Of Branch</label></strong>
                    @Html.TextBoxFor(m => m.PrmBankBranch, new { @class = "form-control",@readonly = "true", @id = "prmbankbranch" })
                    <span asp-validation-for="PrmBankBranch" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Bank Address</label></strong>
                    @Html.TextAreaFor(m => m.PrmBankAddress, new { @class = "form-control",@readonly = "true", @id = "prmbankadd" })
                    <span asp-validation-for="PrmBankAddress" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">State</label></strong>
                    @Html.TextBoxFor(m => m.PrmBankState, new { @class = "form-control",@readonly = "true", @id = "prmbankstate" })
                    <span id="spanDet">Max: 100 Characters</span>
                    <span asp-validation-for="PrmBankState" class="text-danger"></span>
                </div>
               
            </div>
            <br />
            <div class="row">
                 <div class="col-md-4">
                    <strong><label class="form-label">District</label></strong>
                    @Html.TextBoxFor(m => m.PrmBankDistrict, new { @class = "form-control",@readonly = "true", @id = "prmbankdistrict" })
                    <span asp-validation-for="PrmBankDistrict" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Taluk</label></strong>
                    @Html.TextBoxFor(m => m.PrmBankTaluk, new { @class = "form-control",@readonly = "true", @id = "prmbanktaluk" })
                    <span asp-validation-for="PrmBankTaluk" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <strong><label for="input" class="form-label">Pin Code<span id="spanDet1"> *</span></label></strong>
                    @Html.TextBoxFor(m => m.PrmBankPincode, new { @class = "form-control", @type="number",required="required",@id = "prmbankpincd",onkeydown="return event.keyCode !== 69", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)",maxlength="6"})
                    <span asp-validation-for="PrmBankPincode" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong><label class="form-label">Bank Account No.<span id="spanDet1"> *</span></label></strong>
                    @Html.TextBoxFor(m => m.PrmAcNo, new{@class = "form-control", @type="number",required="required",@id="prmacno",onkeydown="return event.keyCode !== 69", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)",maxlength="15"})
                    <span asp-validation-for="PrmAcNo" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <strong><label for="input" class="form-label">Name Of Account Holder<span id="spanDet1"> *</span></label></strong>
                    <input type="text" asp-for="PrmBankAcName" id="prmacname" class="form-control" required="required" />
                    <span asp-validation-for="PrmBankAcName" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Type Of Account <span id="spanDet1"> *</span></label></strong>
                    @Html.DropDownListFor(m => m.PrmAcType, new SelectList(ViewBag.PromoterAccount,"Value", "Text"), "--- Select Type Of Account ---", new { @class = "form-select", @id = "prmactype" })
                    <span asp-validation-for="PrmAcType" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                  <div class="col-md-4">
                    <strong><label class="form-label">CIBIL Score</label></strong>
                    @Html.TextBoxFor(m => m.PrmCibilScore, new { @class = "form-control", @type="number",@id = "prmcibil",onkeydown="return event.keyCode !== 69", oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength)",maxlength="3"})
                    <span asp-validation-for="PrmCibilScore" class="text-danger"></span>
                </div>
               @* <div class="col-md-5">
                    @Html.CheckBoxFor(m => m.PrmPrimaryBank, new{@id="prmpribk"})
                    <strong><label class="form-label">&nbsp;&nbsp;&nbsp;Whether Primary Bank</label></strong> 
                </div>*@
            </div>          
            <div class="form-group">
                <div class="col-md-2 text-center float-end submit3">
                    <input type="submit" value="Submit" disabled class="btn btn-primary mt-2" id="submit" />
                </div>
            </div>
        </form>
        <br/>
        <br/>
    </div>
</div>
<script defer>


    document.getElementById("bootLoader").style.visibility = "hidden";

    function fillIfscDetails() {

        document.getElementById("bootLoader").style.visibility = "visible";


        var IFSC = $('#prmifsc').val();
        var ItemNo = @Html.Raw(Json.Serialize(@ViewBag.IfscBankDetails));
        var code = ItemNo.find(x => x.ifscCode === IFSC);

        if (code) {
            setTimeout(() => {
                $("#prmbankname").val(code.bankName);
                $("#prmbankbranch").val(code.branchName);
                $("#prmbankadd").val(code.bankAddress);
                $("#prmbankstate").val(code.bankState);
                $("#prmbankdistrict").val(code.bankDistrict);
                $("#prmbanktaluk").val(code.bankTaluk);
                $("#ifscrowid").val(code.ifscRowID);
                setTimeout(() => {
                    document.getElementById("bootLoader").style.visibility = "hidden";

                }, 700)

            }, 500)
            return true;
        }
        else {

            swal.fire({
                title: 'Ifsc Code does not Exist',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancel',
                reverseButtons: true
            })

            $("#prmbankname").val('');
            $("#prmbankbranch").val('');
            $("#prmbankadd").val('');
            $("#prmbankstate").val('');
            $("#prmbankdistrict").val('');
            $("#prmbanktaluk").val('');
            document.getElementById("bootLoader").style.visibility = "hidden";


        }

    }



    $('select[class="form-select"],input[class="form-control"]').change(function() {
        if ($(this).val()) {
            $("input[id='submit']").removeAttr('disabled');
        }
    });

    debugger;
    var rowID = @Model.PrmIfscId
    var ItemNo = @Html.Raw(Json.Serialize(@ViewBag.IfscBankDetails));
    var code = ItemNo.find(x => x.ifscRowID === parseInt(rowID));
    $("#prmifsc").val(code.ifscCode);
  

</script>
 



    