@model IEnumerable<CustomerQuestionnaireModel>
@{
    ViewBag.Title = "Show Customer Questionnaire";

    IEnumerable<CustomerQuestionnaireModel> Modeldet = ViewBag.CustModel as IEnumerable<CustomerQuestionnaireModel>;
}

<style>
    div#divOverGlass {
        width: 70%;
        max-height: 530px;
        left: 15%;
        right: 15%;
    }
</style>
@*Display to Excel*@
<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <tr id="dataTableHeader">
        <td colspan="4" id="downloadLinkArea">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th class="removeFromDownload checkboxCell" style="display:none">All<input class='check-box allRecMark' type='checkbox' style="display:none" /></th>
        <th style="display:none">
            @Html.DisplayName("DateCreated")
        </th>
        <th style="display:none">
            @Html.DisplayName("EmployeeCode")
        </th>
        <th style="display:none">
            @Html.DisplayName("EmployeeName")
        </th>
        <th style="display:none">
            @Html.DisplayName("CustomerCode")
        </th>
        <th style="display:none">
            @Html.DisplayName("EntityType")
        </th>
        <th style="display:none">
            @Html.DisplayName("EntityName")
        </th>
        <th style="display:none">
            @Html.DisplayName("QuestionnaireType")
        </th>
        <th style="display:none">
            @Html.DisplayName("Questions")
        </th>
        <th style="display:none">
            @Html.DisplayName("Answer")
        </th>
        <th style="display:none">
            @Html.DisplayName("TextComment")
        </th>

        <th class="removeFromDownload" style="display:none">&nbsp;</th>
    </tr>

    @foreach (var items in Modeldet)
    {
        <tr>
            <td class="removeFromDownload checkboxCell" style="display:none">
                <input class='check-box oneRecMark' type='checkbox' data-id="@items.Id" />
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.DateCreated, "DateTimeShort")
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.EmployeeCode)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.EmployeeName)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.CustomerCode)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.EntityType)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.EntityName)
            </td>
            <td style="display:none">
                <a href="/Dashboard/ShowCustomerQuestionnairedetails?QuestionnaireID=@items.Id" title="Dealer Questionnaire" class="editInPopup">@Html.DisplayFor(modelItem => items.QuestionPaperName)</a>
            </td>
            <td style="display: none; width:500px">
                @Html.DisplayFor(modelItem => items.QText)
            </td>
            <td style="display: none; width:550px">
                @Html.DisplayFor(modelItem => items.AText)
            </td>
            <td style="display:none">
                @Html.DisplayFor(modelItem => items.TextComment)
            </td>

        </tr>

    }

    @*Display to Search table*@
    <tr id="DealerQuestionnaireExcelheader">
        <th class="removeFromDownload checkboxCell">All<input class='check-box allRecMark' type='checkbox' /></th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>

        <th>Questionnaire Type</th>
        <th class="removeFromDownload">&nbsp;</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="DealerQuestionnaireExceldata">
            <td class="removeFromDownload checkboxCell">
             <input class='check-box oneRecMark' type='checkbox' data-id="@item.Id" />
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DateCreated, "DateTimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityName)
            </td>
            <td>
                <a href="/Dashboard/ShowCustomerQuestionnairedetails?QuestionnaireID=@item.Id" title="Dealer Questionnaire" class="editInPopup">@Html.DisplayFor(modelItem => item.QuestionPaperName)</a>
            </td>

            <td class="removeFromDownload">
                @if (item.ActivityId > 0)
                {
                    @Html.ActionLink("Activity", "ActivityOne", "Dashboard", new { activityId = item.ActivityId }, new { @class = "c_activityLink", target = "_new", title = "Show Questionnaire Activity" })
                }
            </td>
        </tr>

    }
    @*<tr>
            <td colspan='23'>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label><b>Message Text</b></label>
                        <input type="text" class="form-control" id="txtSMS" maxlength="150" style="width:700px"/>
                    </div>
                </div>
                </td>
        </tr>*@
    <tr class="buttonActions">
        <td colspan='23'>
            @*<input style='width:200px;' type='button' id='btnSendSms' value='Send Message' class='form-control btn-success' />*@
            <input style='width:200px;' type='button' id='btnShowMarked' value='Show Selected' title='Show checked rows' class='form-control btn-warning' />
            <input style='width:200px;' type='button' id='btnShowUnMarked' value='Show Un-selected' title='Show un-selected rows' class='form-control btn-warning' />
            <input style='width:200px;' type='button' id='btnShowAll' value='Show All' title='Show all rows' class='form-control btn-warning' />


        </td>
    </tr>
</table>






<script>
    // if there are no rows with check box, then hide action button row
    if ($("input.oneRecMark").length == 0) {
        $(".buttonActions").hide();
        //$("input.allRecMark").hide();
        $(".checkboxCell").each(function (index, element) {
            $(element).remove();
        });
    }
    else {
        $("input.allRecMark").click(function () {
            $("input.oneRecMark").prop('checked', $(this).prop('checked'));
        });
    }

    /*   $('input#btnSendSms').click(btnSendSmsClicked);*/
    $('input#btnShowMarked').click(showMarkedRowsClicked);
    $('input#btnShowUnMarked').click(showUnMarkedRowsClicked);
    $('input#btnShowAll').click(showAllRowsClicked);

    $('input#btnSendSms').css('display', 'inline');
    $('input#btnShowMarked').css('display', 'inline');
    $('input#btnShowUnMarked').css('display', 'inline');
    $('input#btnShowAll').css('display', 'inline');



    function showMarkedRowsClicked() {
        $("input.oneRecMark").each(function (index, element) {
            var trow = $(element).parent().parent();
            ($(element).is(':checked')) ? trow.show() : trow.hide();
        });
    }

    function showUnMarkedRowsClicked() {
        $("input.oneRecMark").each(function (index, element) {
            var trow = $(element).parent().parent();
            ($(element).is(':checked')) ? trow.hide() : trow.show();
        });
    }

    function showAllRowsClicked() {
        $("input.oneRecMark").each(function (index, element) {
            var trow = $(element).parent().parent();
            trow.show();
        });
    }
</script>