@{
    var UserName = ViewBag.UserName;
    ViewData["Title"] = "Index";
    var gridId = "ListOfTransactionGrid";
    var contr = "ListOfTransaction";
    var pref = "filter";
}
<div id="outFilter" class=" awe-il searchgrid">
    @*context will add a prefix to all awesome editors html ids*@
    @using (Html.Awe().BeginContext(pref))
    {
        @*html input name matches filter rule name*@

        <div class="row mt-3">
            <div class="col-md-2 px-2">
                @Html.Awe().TextBox("transactionFilter.vendorName").Placeholder("Vendor Name").CssClass("input-search")

            </div>
            <div class="col-md-2 px-2">
                @Html.Awe().TextBox("transactionFilter.minimumAmount").Numeric().Placeholder("Min Amount").CssClass("input-label min_val")

            </div>
            <div class=" col-md-2 px-2">
                @Html.Awe().TextBox("transactionFilter.maximumAmount").Numeric().Placeholder("Max Amount").CssClass("input-label max_val")

            </div>
            <div class="col-md-2 px-2">
                @Html.Awe().TextBox("transactionFilter.referenceNumber").Placeholder("Reference Number").CssClass("input-search")
            </div>
            <div class="col-md-2 px-2">
                @Html.Awe().TextBox("transactionFilter.UTRNumber").Placeholder("UTR Number").CssClass("input-search")
            </div>
            <div class=" col-md-2 px-2">
                @Html.Awe().DatePicker("transactionFilter.transactionDate").Placeholder("Transanction Date").SelectRange().ChangeMonth().ChangeYear()
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2 px-2">
                @Html.Awe().AjaxRadioList("transactionFilter.status").Url(Url.Action("GetStatusList", "ListOfTransaction")).Odropdown(o =>o.Caption("--- Select Status ---").ClearBtn())
             </div>
            <div class="col-md-2 px-2">
                @Html.Awe().TextBox("transactionFilter.accountNumber").Placeholder("Account Number").CssClass("input-search")
            </div>
            <div class="col-md-3">
                @Html.Awe().AjaxRadioList("transactionFilter.assessmentYear").Url(Url.Action("GetAssessmentYear", "ListOfTransaction")).Odropdown(o => o.Caption("--- Select Assessment Year ----").ClearBtn())
            </div>
            <div class="col-md-3 ">
                @Html.Awe().AjaxRadioList("transactionFilter.transactionType").Url(Url.Action("GetTransactionType", "ListOfTransaction")).Odropdown(o =>o.Caption("--- Select Transaction Type ---").ClearBtn())
            </div>
            <div class="col-md-2 ">
                <button type="button" id="btnClearFilter" style="margin-left:-3%;" class="btn btn-primary  btnreset"><i class="bi bi-bootstrap-reboot"></i> Reset</button>
            </div>
        </div>
        <br />
        <div>
        </div>


    }
</div>
<button type="submit" class="btn btn-primary btnxls  btndownload" title="Download File" value="Submit" onclick="exportToExcel()">
    <i class="bi bi-download"></i> Download
</button>
<div>&nbsp;</div>
<div>&nbsp;</div>
@(Html.Awe().Grid(gridId)
      .Mod(o => o.Main().Custom("outsideFilter"))
      .Url(Url.Action("GetListOfTransactionList", contr))
      .Height(450)
      .Resizable()
      .Reorderable()
      .Columns(
         @*new Column { Bind = "BillReferenceNo", ClientFormat = "<a href='" + Url.Action("BillDetails", "Bill", new { Id = ".(ReferenceNumber)" }) + "'>.(BillReferenceNo)</a>", Header = "Reference No", HeaderCssClass = "boldh", MinWidth = 180 },*@
         new Column { ClientFormatFunc = "showbuttonByStatus", Header = "Bill Reference No", HeaderCssClass = "boldh", MinWidth = 180 },
          @* new Column { Bind = "AccountNumber", Prop = "Name", Header = "Bank Account No.", HeaderCssClass = "boldh" },*@
          new Column { Bind = "TransactionRefNo", Header = "Transaction Ref.No", HeaderCssClass = "boldh", MinWidth = 180 },
          new Column { Bind = "BillNo", Header = "Bill.No", HeaderCssClass = "boldh", MinWidth = 180 },
          new Column { Bind = "VendorName", Width = 150, Header = "Vendor Name", Prop = "VendorName", HeaderCssClass = "boldh" },
              new Column { Bind = "GSTIN_Number", Prop = "GstIn_Number", Header = "GST IN Number", MinWidth = 170, HeaderCssClass = "boldh" },
        new Column { Bind = "PAN_Number", Prop = "Pan_Number", Header = "PAN Number", MinWidth = 100, HeaderCssClass = "boldh" },
        new Column { Bind = "TAN_Number", Prop = "Tan_Number", Header = "TAN Number", MinWidth = 170, HeaderCssClass = "boldh" },
          new Column { Bind = "Amount", Prop = "Amount", Header = "Amount", HeaderCssClass = "boldh ", CssClass = "amount" },
       new Column { Bind = "CodeValue", Header = "Transaction Detailed Type", Prop = "CodeValue", HeaderCssClass = "boldh", MinWidth = 250 },
                 new Column { Bind = "TransactionType", Header = "Transaction Type", Prop = "TransactionType", HeaderCssClass = "boldh ",MinWidth = 200 },
          new Column { Bind = "AccountNumber", Header = "Account No", Prop = "AccountNumber", HeaderCssClass = "boldh" },
           new Column { Bind = "dfsd", Prop = "dfsd", Header = "UTR Number", HeaderCssClass = "boldh ", CssClass = "amount" },
        new Column { Bind = "TransactionDate", Header = "Transaction Date", Prop = "TransactionDate", HeaderCssClass = "boldh", MinWidth = 200 },
        new Column { Bind = "TransactionGeneratedDate", Header = "Transaction Generated Date", Prop = "TransactionGeneratedDate", HeaderCssClass = "boldh", MinWidth = 240 },
        new Column { Bind = "Status", Header = "Status", Prop = "Status", HeaderCssClass = "boldh" },
        new Column { Bind = "ReconcileStatus", Header = "Reconcile Status", Prop = "ReconcileStatus", HeaderCssClass = "boldh", MinWidth = 200 },
         new Column { Bind = "CreatedBy", Prop = "CreatedBy", Header = "Created By", HeaderCssClass = "boldh ", MinWidth = 200, CssClass = "amount" }))

<br />
<script>

    var gridId = "@gridId";
    var contr = "@contr";


</script>

<script src="~/js/ListOfTransaction/ListOfTransaction.js"></script>




