@model IEnumerable<KAR.KSFC.Components.Common.Dto.EnquirySubmission.PromoterGuarantorDetails.GuarantorDetailsDTO>

    @{
    int count = 1;
}
 
@if (Model!=null && Model.ToList().Any())
{
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblGuaDetailsDatatable">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name of Guarantor
                </th>
                <th>
                    Pan
                </th>
                <th>
                    Domicile
                </th>
                <th>
                    Mobile No.
                </th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @(count++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoterMaster.PromoterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PromoterMaster.PromoterPan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DomicileMasterDTO.DomDets)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PromoterMaster.PromoterMobno)
                    </td>

                </tr>
            }
        </tbody>
    </table>
}else
{
    <p style="color: red"><b>No data added, Please add the Guarantor  details</b></p>
}



