@model IEnumerable<KAR.KSFC.Components.Common.Dto.EnquirySubmission.SecurityDocumentsDetails.SecurityDetailsDTO>
@{
    int count = 1;
}

@if (Model!=null && Model.Any())
{
    <table class="table table-striped table-bordered table-sm table-responsive-xl">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqSecDesc)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.EnqSecName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PromrelCd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnqSecValue)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(count++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqSecDesc)
                    </td> 
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqSecName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecCdNavigation.SecDets)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnqSecValue)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p style="color: red"><b>No data added, Please add the Security details</b></p>
}


