@using Common.ConstantVariables;
@model List< Presentation.Models.GenerateBankFiles.MappingPaymentGenerateBankFileModel>
@{
    var UserName = ViewBag.UserName;
    Layout = null;
    var date = @Model.FirstOrDefault().GenerateBankFile.CreatedOn.ToString("dd-MM-yyyy");
    var ID = ViewBag.ID;
}
<style>
    th {
        font-size: 14px;
    }

    td {
        font-size: 14px;
    }

</style>
<hr />
<div class="mt-1">
    <div class="col-md mt-lg-3">

        <input type="checkbox" id="title1" class="accordioncollapse" checked />
        <label for="title1" class="labelclass">Bank File Details</label>
        <div class="content">
            <div class=" d-flex flex-row justify-content-start">
                <div class=" col-md-3">
                    <label class="control-label">Gen Bank File Ref No</label>

                    <input asp-for="@Model.FirstOrDefault().GenerateBankFile.BankFileReferenceNo" class="form-control" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">No Of Vendors </label>
                    <input class="form-control" asp-for="@Model.FirstOrDefault().GenerateBankFile.NoOfVendors" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">No Of Transactions</label>

                    <input class="form-control" asp-for="@Model.FirstOrDefault().GenerateBankFile.NoOfTransactions" readonly />

                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">File Gen.Date</label>

                    <input class="form-control" asp-for="@date" readonly />

                </div>
            </div>

            <div class=" d-flex flex-row justify-content-start">

               
                <div class="form-group col-md-3">
                    <label class="control-label">₹ Total Amount</label>

                    <input class="form-control" asp-for="@Model.FirstOrDefault().GenerateBankFile.TotalAmount" readonly />

                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Bank Name</label>

                    <input class="form-control" asp-for="@Model.FirstOrDefault().BankName" readonly />

                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Bank Account Number</label>

                    <input class="form-control" asp-for="@Model.FirstOrDefault().AccountNumber" readonly />

                </div>

            </div>
        </div>
        <br />
        <form method="post" asp-controller="BankFiles" asp-route-fileName="BankFile.xlsx" asp-route-ID="@ID" asp-action="FileDownload">
            <button type="submit" class="btn btn-primary btnxls btndownload" title="Download File" value="Submit">
                <i class="bi bi-download"></i> Download
            </button>
        </form>
        <br />
        <br /> 
        <input type="checkbox" id="title2" class="accordioncollapse" checked="checked" />
        <label for="title2" class="labelclass">List of Payments</label>
        <div class="content">

            <table id="tblAddPayments" class="table  table-bordered ">
                <caption hidden>Bank File Details</caption>

                <tr>
                    <th>Payment Ref No</th>
                    <th title="(dd-mm-yyyy)">Payment Date</th>
                    <th>Vendor Name</th>
                    <th>Vendor Bank Name</th>
                    <th>Vendor Branch Name</th>
                    <th>Vendor Ifsc Code</th>
                    <th>Vendor Account Number</th>
                    <th>₹ Paid Amount</th>
                    <th>Payment Status</th>
                    <th>Approved By </th>

                </tr>

                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr class="trow">

                            <td>
                                @Html.DisplayFor(m=>m[i].Payments.PaymentReferenceNo)

                            </td>
                            <td>
                              @*  @Html.DisplayFor(m=>m[i].Payments.PaymentDate)*@
                                @Model[i].CreatedOn.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m[i].Payments.Vendor.Name)
                            </td>

                            <td>
                                @Html.DisplayFor(m=>m[i].Payments.Vendor.VendorBankAccounts.BranchMaster.BankDetails.BankName)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m[i].Payments.Vendor.VendorBankAccounts.BranchMaster.branch_name)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m[i].Payments.Vendor.VendorBankAccounts.BranchMaster.branch_ifsc)
                            </td>
                            <td>
                                @Html.DisplayFor(m=>m[i].Payments.Vendor.VendorBankAccounts.AccountNumber)
                            </td>
                            <td class="amount">
                                @Html.DisplayFor(m=>m[i].Payments.PaidAmount)
                            </td>
                            <td class="">
                                @Html.DisplayFor(m=>m[i].Payments.PaymentStatus.StatusMaster.CodeValue)
                            </td>
                            <td class="">
                                @Html.DisplayFor(m=>m[i].Payments.ApprovedBy)
                            </td>

                        </tr>

                    }
                </tbody>
            </table>

        </div>
        <br />
    </div>
</div>
