@using AweCoreDemo.Utils;
@using Presentation.Models.Vendor
@model Presentation.Models.GenerateBankFiles.GenerateBankFileModel


@{
    var UserName = ViewBag.UserName;
    ViewData["Title"] = "BankFile";
    var gridId = "BankFileListGrid";
    var contr = "BankFiles";
    var pref = "filter";
    var defaultDateFrom = DateTime.Now.ToString("yyyy-MM-dd");
    var chkFormat = Html.Awe().CheckBox("Id").Ochk().Prefix("c.(Id)").HtmlAttributes(null, new { data_val = ".(Id)" }).ToString();
}


<div id="outFilter" class=" awe-il searchgrid">
    @*context will add a prefix to all awesome editors html ids*@
    @using (Html.Awe().BeginContext(pref))
    {
        @*html input name matches filter rule name*@
        <div class="row mt-3">
            <div class=" col-md-2 px-3">

                @Html.Awe().TextBox("bankFileFilters.noOfVendors").Numeric().Placeholder(" No.Of Vendors").CssClass("input-search")

            </div>
            <div class=" col-md-2 px-3">

                @Html.Awe().TextBox("bankFileFilters.noOfTransactions").Numeric().Placeholder(" No.Of Transactions").CssClass("input-search")

            </div>
            <div class=" col-md-2 px-3">
                @Html.Awe().TextBox("bankFileFilters.paidAmount").Numeric().Placeholder("Payable Amount").CssClass("input-label")
            </div>
            <div class=" col-md-2 px-3">

                @Html.Awe().AjaxRadioList("bankFileFilters.bankName").Url(Url.Action("GetBankNameList", "BankFiles")).Odropdown(o => o.Caption("--- Select ---").ClearBtn())

            </div>
            <div class=" col-md-2 px-3">

                @Html.Awe().TextBox("bankFileFilters.accountNo").Numeric().Placeholder("Account No.").CssClass("input-search")

            </div>
            <div class=" col-md-2 px-3">
                @Html.Awe().DatePicker("bankFileFilters.fileGenDate").Placeholder(defaultDateFrom).SelectRange().ChangeMonth().ChangeYear()

            </div>
        </div>
        <div class="row mt-3">
            @*Add new Drop Down Field for Bank Name search Filter*@
            <div class=" col-md-2 px-3">

                @Html.Awe().AjaxRadioList("bankFileFilters.paymentStatus").Url(Url.Action("GetBankFileStatus", "BankFiles")).Odropdown(o =>o.AutoSelectFirst().ClearBtn())

            </div>
            <div class=" col-md-12 px-5">
                <button type="button" id="btnClearFilter" class="btn  btn-sm btn-primary mr-n3 bnkreset"><i class="bi bi-bootstrap-reboot"></i> Reset</button>
            </div>
        </div>
        <br />
        <div>
        </div>
    }

</div>
<div class="bar">
    <label class="frow-label">
        No Of Records
        <input class="form-control amount" id="totalrecords" readonly />
    </label>&emsp;
    <label class="frow-label">
        ₹ Total Payable
        <input class="form-control amount" id="totalApprovedAmount" readonly />
    </label>&emsp;

</div>

<div class="bar">
    <button type="submit" class="btn btn-primary btnxls  btndownload" title="Download File" value="Submit" onclick="exportToExcel()">
        <i class="bi bi-download"></i> Download
    </button>
    @(Html.Awe().InitPopup()
        .Name("enterUTR")
        .Url(Url.Action("EnterUTR", "BankFiles"))
        .Height(250)
        .ParameterFunc("setParams")
        .Draggable(false)
        .Modal()
        )
    @*US#002 Add Disable property for this button*@
    @Html.Awe().Button().Text("Enter UTR").CssClass("btnadd mt-2 mr-3").OnClick(Html.Awe().OpenPopup("enterUTR"))
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>
    @Html.InitCrudPopupsForGrid(gridId, contr, inlineContId: "inlCont1")
    @(
        Html.Awe().Grid(gridId)
        .Mod(o => o.Main().Custom("outsideFilters"))
        .Url(Url.Action("GetBankFileList", contr))
        .Persistence(Persistence.Session)
        .ParameterFunc("sendValue")
        .Height(450)
        .Resizable()
        .Reorderable()
        .Columns(
        @*new Column
    {
        Width = 50,
      //  ClientFormatFunc = "showbuttonByStatus",
        ClientFormat = Html.Awe().CheckBox("Id")
    .Ochk()    
    .Prefix("c.(Id)")
    .HtmlAttributes(null, new { data_val = ".(Id)" })
    .ToString(),
    
        Header = Html.Awe().CheckBox("ChkAll").Ochk().SyncScript().ToString()
    }.Mod(o => o.Nohide()),*@
      new Column { ClientFormatFunc = "condChkFunc", Width = 70 },
        new Column { Bind = "BankFileReferenceNo", Prop = "BankFileReferenceNO", ClientFormat = "<a onclick='JqueryBankFilePopup(.(Id))' href = '#' >.(BankFileReferenceNO) </ a > ", Header = "Bank File Ref No", HeaderCssClass = "boldh" },      
        new Column { Bind = "CreatedOn", Header = "<p title='(dd-mm-yyyy)'>Bank File Gen.Date</p>", HeaderCssClass = "boldh", MinWidth = 200 },
        new Column { Bind = "NoOfVendors", Header = "No. Of Vendors", HeaderCssClass = "boldh" },
        new Column { Bind = "sameUTRno", Width = 150, Prop = "sameUTRno", Header = "UTR No.", HeaderCssClass = "boldh" },
       // new Column { Bind = "differentUTRNo", Width = 250, Prop = "differentUTRNo", Header = "Different Bank UTR No.", HeaderCssClass = "boldh" },
        new Column { Bind = "NoOfTransactions", Header = "No.Of Transactions", Width = 160, HeaderCssClass = "boldh" },
        new Column { Bind = "TotalAmount", Prop = "TotalAmount", Header = " ₹ Payable", HeaderCssClass = "boldh", CssClass = "amount" },
        new Column { Bind = "SourceBankName", Header = "Bank Name", HeaderCssClass = "boldh" },
        new Column { Bind = "AccountNumber", Header = "Account No", HeaderCssClass = "boldh" },
        new Column { Bind = "Status", Header = "Bank File Status", HeaderCssClass = "boldh" }

        )
        )
</div>
<div class="modal" tabindex="-1" role="dialog" id="modelBudgetLineItem">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" onclick="ClosePopupFormsh();" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<script>
    var frmt = @Html.Raw(DemoUtils.Encode(chkFormat));
    var gridId = "@gridId";
    var contr = "@contr";
</script>

<script src="~/js/BankFile/BankFile.js"></script>


