@model KAR.KSFC.Components.Common.Dto.IDM.IdmAuditDetailsDTO
@{
    Layout = null;
    var account = ViewBag.LoanAcc;
    var offcd =  ViewBag.OffcCd;
    var loansub =   ViewBag.LoanSub;
}

<div>
    <div>
        <form id="ACAuditDetails" asp-action="Create" onsubmit="return AjaxSingleTabAddMethod(this,'AuditClearence');ClearPopupFormac();">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@account" asp-for="LoanAcc" />
            <input type="hidden" value="@offcd" asp-for="OffcCd" />
            <input type="hidden" value="@loansub" asp-for="LoanSub" />
            @Html.HiddenFor(m => m.Action, new { @class = "form-control"})
            <div class="row">
                <div class="col-md-6">
                    <strong><label class="form-label textleft2">Audit Observation<span id="spanDet1"> *</span></label></strong>
                    @Html.TextAreaFor(m => m.AuditObservation, new { @class = "form-control",@maxlength = "150",@id="auditobservation",@required = "required" })
                    <span asp-validation-for="AuditObservation" class="text-danger"></span>
                    <span id="spanDet">Max:150 Characters</span>
                </div>
                <div class="col-md-6">
                    <strong><label class="form-label textleft2">Note Sheet Comments<span id="spanDet1"> *</span></label></strong>
                    @Html.TextAreaFor(m => m.AuditCompliance, new { @class = "form-control", @maxlength = "150", @id="auditcondtion",@required = "required" })
                    <span asp-validation-for="AuditObservation" class="text-danger"></span>
                    <span id="spanDet">Max:150 Characters</span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-2 text-center float-end submit3">
                    <input type="submit" value="Submit" class="btn btn-primary" disabled="disabled" id="submit" />
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $('textarea[id="auditcondtion"],textarea[id="auditobservation"]').change(function() {
        if ($(this).val()) {
            $("input[id='submit']").removeAttr('disabled');
        }
    });
</script>