@using KAR.KSFC.Components.Common.Dto.EnquirySubmission.UnitDetails;
@model RegistrationNoDetailsDTO
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEdit" id="formUDRD" asp-route-id="@Model.EnqRegnoId" onsubmit="return jQueryAjaxPostRD(this); ClearPopupFormRD();">
            @Html.HiddenFor(model => model.EnqtempId, new { @class = "form-control" })

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.EnqRegnoId)
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Registration Type</label>
                @Html.DropDownListFor(model => model.RegrefCd, new SelectList(ViewBag.ListRegnType, "Value", "Text"), "-- Please select --", new { @class = "form-select", @id = "ddlRegistrationTypesBDRD" })
                <span asp-validation-for="RegrefCd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Registration Number</label>
                @Html.TextBoxFor(model => model.EnqRegno, new { @class = "form-control",@maxlength="10", @minlength="4" })
                <span asp-validation-for="EnqRegno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </form>

    </div>
</div>
