@using Presentation.Models.Vendor


@{
    var UserName = ViewBag.UserName;
    ViewData["Title"] = "TDS";
    var gridId = "TDSPayableList";
    var contr = "TDS";
    var pref = "filter";

    var defaultDateFrom = DateTime.Now.ToString("yyyy-MM-dd");
}

<div id="outFilter" class=" awe-il searchgrid">
    @*context will add a prefix to all awesome editors html ids*@
    @using (Html.Awe().BeginContext(pref))
    {
        @*html input name matches filter rule name*@
        <div class="row mt-3">
            <div class=" col-md-2 px-2">
                @Html.Awe().TextBox("tdsFilters.paymentReferenceNo").Placeholder("Bill Ref. No.").CssClass("input-search")
            </div>
            <div class=" col-md-2 px-2">
                @Html.Awe().TextBox("tdsFilters.vendorName").Placeholder("Vendor Name").CssClass("input-search")
            </div>

            <div class=" col-md-2 px-2">
                @Html.Awe().TextBox("tdsFilters.payableAmount").Numeric().Placeholder("Min Of TDS Payable").CssClass("input-label min_val")
            </div>

            <div class=" col-md-2 px-2">
                @Html.Awe().TextBox("tdsFilters.payableMaxAmount").Numeric().Placeholder("Max Of TDS Payable").CssClass("input-label max_val")
            </div>

            <div class="col-md-2 px-2">
                @Html.Awe().DatePicker("tdsFilters.paymentFromDate").Placeholder("Bill Date Range").DayFunc("dayfirst").SelectRange().ChangeMonth().ChangeYear()
            </div>

           @* <div class="col-md-2 px-2">
                @Html.Awe().DatePicker("tdsFilters.paymentToDate").Placeholder("To Date").DayFunc("daylast").ChangeMonth().ChangeYear()
            </div>*@

            <div class=" row mt-3">

                <div class="col-md-2 px-2">
                    @Html.Awe().AjaxRadioList("tdsFilters.tdsSection").Url(Url.Action("GetTDSSectionList", "TDS")).Odropdown(o => o.Caption("--- Select TDS Section ---").ClearBtn())
                </div>
                <div class="col-md-2 px-3 ml-4"  >
                    @Html.Awe().AjaxRadioList("tdsFilters.tdsStatus").Url(Url.Action("GetTDSStatus", "TDS", new { isIdKey = true })).Odropdown(o => o.AutoSelectFirst().ClearBtn())
                </div>
                <div class="col-md-2 px-0 ml-2"  >
                    @Html.Awe().AjaxRadioList("tdsFilters.assessmentYear").Url(Url.Action("GetTDSAssessmentYear", "TDS")).Odropdown(o => o.Caption("--- Select Assessment Year ----").ClearBtn())
                </div>
                <div class=" col-md-1 offset-md-4 px-5">
                    <button type="button" id="btnClearFilter" class="btn  btn-sm btn-primary mr-n5 bnkreset"><i class="bi bi-bootstrap-reboot"></i> Reset</button>
                </div>
            </div>

        </div>
        <br />
        <div>
        </div>
    }

</div>
<div class="bar">
    <div class="row">
        <div class="col-md-2 px-3">
            <label for="numberOfRecords"> No of Records</label>
            <input type="text" class="form-control" id="numberOfRecords" readonly>
        </div>
        <div class="col-md-2 px-3">
            <label for="totalTDSPayableAmount"> ₹ Total TDS Payable</label>
            <input type="text" class="form-control" id="totalTDSPayableAmount" readonly>
        </div>
        <div class="col-md-2 px-3">
            <label for="selVendors"> No of Vendors Selected</label>
            <input type="text" class="form-control" id="selVendors" readonly>
        </div>
        <div class="col-md-2 px-3">
            <label for="selTransactions"> No of Transactions Selected</label>
            <input type="text" class="form-control" id="selTransactions" readonly>
        </div>
        <div class="col-md-2 px-3">
            <label for="selPayableAmount"> ₹ TDS Payable Amount Selected</label>
            <input type="text" class="form-control" id="selPayableAmount" readonly>
        </div>
        <div class="col-md-2 px-5 pt-4" >
            <button type="submit" class="btn btn-primary" title="Download File" value="Submit" onclick="exportToExcel()">
                <i class="bi bi-download"></i> Download
            </button>
        </div>

    </div>
    <div class="row mt-4 mb-3">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>

        <div class="col-md-4" >
        @(Html.Awe().InitPopup()
            .Name("GenerateTDSChallan")
            .Width(50)
            .Height(200)
            .Url(Url.Action("GenerateTDSChallan", contr))
            .ParameterFunc("setParams")
            .Draggable(false)
            .Modal())

        @Html.Awe().Button().Text("Generate TDS Challan").Id("btnGenerateTDSChallan").CssClass("btnadd col-sm-5 offset-sm-9").OnClick(Html.Awe().OpenPopup("GenerateTDSChallan"))
        </div>

    </div>

  


</div>

@(Html.Awe().Grid(gridId)
      .Mod(o => o.Main().Custom("outsideFilter"))
      .Url(Url.Action("GetTDSList", contr))
      .Height(450)
      .Resizable()
      .Reorderable()
      .Columns(
          new Column
          {
              Width = 50,
              ClientFormat = Html.Awe().CheckBox("Id")
                                .Ochk()
                                .Prefix("c.(Id)")
                                .HtmlAttributes(null, new { data_val = ".(Id)" })
                                .ToString(),

              Header = Html.Awe().CheckBox("ChkAll").Ochk().SyncScript().ToString(),

          }.Mod(o => o.Nohide()),
          new Column { Bind = "BillReferenceNo",ClientFormat = "<a href='" + Url.Action("BillDetails","Bill",new { id = ".(Id)",ModuleType ="TDS" }) + "'>.(BillReferenceNo)</a>",Header = "Bill Reference Number",HeaderCssClass = "boldh",MinWidth = 180 },
          new Column { Bind = "BillDate", Prop = "BillDate", Header = "<p title='(dd-MM-yyyy)'>Bill Date</p>", HeaderCssClass = "boldh", MinWidth = 230 },
        new Column { Bind = "Vendor.Name", Prop = "VendorName", Header = "Vendor Name", HeaderCssClass = "boldh" },
        new Column { Bind = "Vendor.PAN_Number", Prop = "Pan_Number", Header = "PAN No", HeaderCssClass = "boldh" },
        new Column { Bind = "Vendor.VendorBalance.TotalBillAmount", Prop = "InvoiceAmount", Header = "₹ Invoice Amount", HeaderCssClass = "boldh", CssClass = "amount" },
        new Column { Bind = "Vendor.VendorDefaults.TDSSection", Prop = "TdsSection", Header = "TDS Section", HeaderCssClass = "boldh " },
         new Column { Bind = "TDS", Prop = "TdsPayableAmount", Header = "₹ TDS Payable", HeaderCssClass = "boldh", CssClass = "amount" },
           new Column { Bind = "TDSStatus", Prop = "TdsStatus", Header = "TDS Status", HeaderCssClass = "boldh ", CssClass = "statuscolor" }))

<br />


<script>

    var gridId = "@gridId";
    var contr = "@contr";
    
    
</script>



<script src="~/js/TDS/TDSpayable.js"></script>
