@{
    var UserName = ViewBag.UserName;
    ViewData["Title"] = "TDS Quarterly Paid List";
    var gridId = "TDSQuarterlyPaidList";
    var contr = "TDS";
    var pref = "filter";
}
<script src="~/js/TDS/Quaterlypaidlist.js"></script>
<div id="outFilter" class=" awe-il searchgrid">
    @using (Html.Awe().BeginContext(pref))
    {
        <div class="row mt-3">
            <div class=" col-md-2 px-3">
                @Html.Awe().TextBox("tdsQuarterlyPaidListFilters.payableMinAmount").Numeric().Placeholder("Min Amount").CssClass("input-label min_val")
            </div>

            <div class=" col-md-2 px-3">
                @Html.Awe().TextBox("tdsQuarterlyPaidListFilters.payableMaxAmount").Numeric().Placeholder("Max Amount").CssClass("input-label max_val")
            </div>
            <div class=" col-md-2 px-3">
                @Html.Awe().TextBox("tdsQuarterlyPaidListFilters.noOfVendors").Numeric().Placeholder("No. of Vendors").CssClass("input-search")
            </div>

            <div class=" col-md-2 px-3">
                @Html.Awe().TextBox("tdsQuarterlyPaidListFilters.noOfTransactions").Numeric().Placeholder("No. of Transaction").CssClass("input-search")
            </div>
            <div class=" col-md-2 px-3">
                @Html.Awe().AjaxRadioList("tdsQuarterlyPaidListFilters.quarter").Url(Url.Action("GetQuarterly", "TDS")).Odropdown(o => o.AutoSelectFirst())
            </div>
            <div class="col-md-2 px-3">
                @Html.Awe().DatePicker("tdsQuarterlyPaidListFilters.challanDate").Placeholder("Challan Date Range").SelectRange().ChangeMonth().ChangeYear()
            </div>

            <div class=" row mt-4">
                <div class="col-md-2 px-3">
                    @Html.Awe().AjaxRadioList("tdsQuarterlyPaidListFilters.tdsSection").Url(Url.Action("GetTDSSectionList", "TDS")).Odropdown(o => o.Caption("--- Select TDS Section ---").ClearBtn())
                </div>
                <div class=" col-md-2 px-5 ml-2">
                    @Html.Awe().AjaxRadioList("tdsQuarterlyPaidListFilters.bankName").Url(Url.Action("GetBanks", "TDS")).Odropdown(o => o.Caption("--- Select Bank Name ---").ClearBtn())
                </div>
                <div class=" col-md-2 px-5 ml-5" >
                    @Html.Awe().AjaxRadioList("tdsQuarterlyPaidListFilters.accountNo").Parent("tdsQuarterlyPaidListFilters.bankName", "bankNames").Url(Url.Action("GetAccountNumber", "TDS")).Odropdown(o => o.Caption("---Select Account No ---").ClearBtn())
                </div>
                <div class="col-md-2 px-5  ml-5">
                    @Html.Awe().AjaxRadioList("tdsQuarterlyPaidListFilters.assessmentYear").Url(Url.Action("GetTDSAssessmentYear", "TDS")).Odropdown(o => o.Caption("--- Select Assessment Year ---").ClearBtn())
                </div>
                <input type="hidden" id="branchid" name="tdsQuarterlyPaidListFilters.bankMasterId" />
                <div class=" col-md-2 pl-5 ml-5">
                    <button type="button" id="btnClearFilter" class="btn  btn-sm btn-primary mr-n5 bnkreset"><i class="bi bi-bootstrap-reboot"></i> Reset</button>
                </div>
            </div>
        </div>
        @*<div class="row ">
    <div class=" col-md-12 px-5">
    <button type="button" id="btnClearFilter" class="btn  btn-sm btn-primary mr-n3 bnkreset"><i class="bi bi-bootstrap-reboot"></i> Reset</button>
    </div>
    </div>*@
        <br />
    }

</div>
<div class="bar">
    <div class="form-group row pt-3 " >
        <label for="numberOfRecords" class="frow-label col-sm-1 pt-2"> No. of Records </label>
        <div class="col-sm-1">
            <input type="text" id="numberOfRecords" class="form-control" readonly>
        </div>
        <label for="totalTDSPayableAmount" class="frow-label col-sm-2 pt-2 text-end"> ₹ Total TDS Payable </label>
        <div class="col-sm-2">
            <input type="text" id="totalTDSPayableAmount" class="form-control" readonly>
        </div>

        <div class="col-sm-6 d-flex">
            @Html.Awe().Button().Text("Quarterly Filing").Id("btnQuarterlyFiling").Enabled(false).CssClass("btnadd col-sm-4 offset-sm-5")
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btnxls  btndownload" title="Download File" value="Submit" onclick="exportToExcel()">
                    <i class="bi bi-download"></i> Download
                </button>
            </div>
        </div>
    </div>
</div>
@(Html.Awe().Grid(gridId)
      .Mod(o => o.Main().Custom("outsideFilter"))
      .Url(Url.Action("GetTDSQuarterlyPaidList", contr))
      .Resizable()
      .Height(450)
      .Reorderable()
      .Columns(
          new Column
          {
              Width = 50,
              ClientFormat = Html.Awe().CheckBox("Id")
                                .Ochk()
                                .Prefix("c.(Id)")
                                .HtmlAttributes(null, new { data_val = ".(Id)" })
                                .ToString(),
              Header = Html.Awe().CheckBox("ChkAll").Ochk().SyncScript().ToString(),
          }.Mod(o => o.Nohide()),
         new Column { Bind = "CreatedOn", Prop = "CreatedOn", Header = "Challan Date", HeaderCssClass = "boldh" },
        new Column { Bind = "TDSSection", Prop = "TdsSection", Header = "TDS Section", HeaderCssClass = "boldh" },
        new Column { Bind = "NoOfVendors", Prop = "NoOfVendors", Header = "No. of Vendors", HeaderCssClass = "boldh", CssClass = "amount" },
        new Column { Bind = "NoOfTrans", Prop = "NoOfTransactions", Header = "No. of Transaction", HeaderCssClass = "headerboldh60px", CssClass = "amount" },
        new Column { Bind = "Bank.BankName", Prop = "BankName", Header = "Bank Name", HeaderCssClass = "boldh" },
        new Column { Bind = "Bank.Accountnumber", Prop = "AccountNo", Header = "Account No.", HeaderCssClass = "boldh " },
        new Column { Bind = "ChallanNo", Prop = "ChallanNo", Header = "Challan No.", HeaderCssClass = "boldh" },
        new Column { Bind = "UTRNo", Prop = "UtrNo", Header = "UTR No.", HeaderCssClass = "boldh " },
        new Column { Bind = "TotalTDSPayment", Prop = "TotalTdsPayment", Header = "₹ TDS Payable", HeaderCssClass = "headerboldh60px", CssClass = "amount" },
        new Column { Bind = "TDSStatus", Prop = "TdsStatus", Header = "Status", HeaderCssClass = "boldh", CssClass = "statuscolor" },
        new Column { ClientFormat = "<a href='/TDS/DownloadPaidChallan/.(Id)'><img src='../images/download.png'alt='download Image'></a>", Header = "Paid Challan", HeaderCssClass = "boldh ", CssClass = "icon" }))

<script>

    var gridId = "@gridId";
    var contr = "@contr";
</script>
<script src="~/js/TDS/Quaterlypaidlist.js"></script>
