@model Presentation.Models.TDS.UpdateChallanViewModel

@{
    var UserName = ViewBag.UserName;
    var id = ViewBag.ID;

    var assementYear = ViewBag.assessmentYear;
}

<style>
    input[type='file'] {
        color: black;
    }
</style>
<h4 >UTR DETAILS </h4>
<div class="mt-2 searchgrid">
    <form asp-action="UpdateTDSPaymentChallan" enctype="multipart/form-data" method="post">
        <input type="hidden" value="@id" asp-for="Id" />
        <div class="row">
            <div class="form-group  col-md-4">
                <label class="control-label">Payment Date </label>
                <label class="text-danger">  * </label>

                <input type="date" class="form-control" asp-for="PaymentDate" required  />
            </div>

            <div class="form-group  col-md-4">
                <label class="control-label">UTR No. </label>
                <label class="text-danger">  * </label>

                <input class="form-control" asp-for="UTRNo" type="text" required  id="utrno" maxlength="25"  onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <span id="spanDet" class="spanfont">Max: 25 Characters</span><br />
            </div>

            <div class="form-group  col-md-4">
                <label class="control-label">BSR Code </label>
                <label class="text-danger">  * </label>

                <input class="form-control" asp-for="BSRCode" id="bsrCode" type="text" required maxlength="7"   onkeypress="return (event.charCode !=8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))" />
                <span id="spanDet" class="spanfont">Max: 7 Characters</span><br />
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-4">
                <label class="control-label">Challan No. </label>
                <label class="text-danger">  * </label>
                <input class="form-control" asp-for="ChallanNo" type="text" id="challanno" required maxlength="25" />
                <span id="spanDet" class="spanfont">Max: 25 Characters</span><br />

            </div>

            <div class="form-group  col-md-4">
                <label class="control-label">₹ TDS Amount </label>
                <label class="text-danger">  * </label>

                <input type="number" class="form-control" asp-for="TotalTDSAmount" readonly />
            </div>
            <div class="form-group  col-md-4">
                <label class="control-label">Tender Date </label>
                <label class="text-danger">  * </label>

                <input type="date" class="form-control" asp-for="TenderDate" required />
            </div>
        </div>
        <div class="row">
            <div class="form-group  col-md-6">
                <label class="control-label">Upload Challan </label>
                <label class="text-danger">  * PDF</label>

                <input id="File" name="File" asp-for="File"type="file" class="form-control" accept="application/pdf" required />
                @*<div id="file-upload-filename"></div>*@
                <span id="spanDet" class="spanfont">Max File Length: 2 MB &nbsp;&nbsp;Max File Count: 1</span><br />

            </div>
            <div class="form-group  col-md-4">
                <label class="control-label">Assessment Year </label>
                <label class="text-danger">  * </label>
                <select class="form-dropdown form-control" asp-for="AssessmentYear" required>
                    <option value="">--- Select Assement Year ---</option>
                    @foreach (var o in assementYear)
                    {
                        <option value="@o.Id">@o.CodeName</option>
                    }
                </select>
            </div>
                        <div class="form-group col-md-2">
                <label class="control-label px-2" style="margin-right:21%">Is Bulk TDS</label>
                <input class="form-check-input" type="checkbox" asp-for="IsBulkTDS" id="selectedbankTDSLevel" readonly />
            </div>

            <div class="form-group  col-md-12">
                <button value="" type="submit" class=" btn btn-sm btn-primary float-right"><i class="fa fa-save mr-2"></i>Update</button>

            </div>
           
        </div>
    </form>
</div>
<script type="text/javascript">
    var bsravailable = @Html.Raw(Json.Serialize(@ViewBag.BSRCode));
    var challanNoAvailable = @Html.Raw(Json.Serialize(@ViewBag.ChallanNo));
    var utrAvailable = @Html.Raw(Json.Serialize(@ViewBag.UTRNo));
</script>
<script src="~/js/TDS/UpdateTDSUTR.js"></script>