@model KAR.KSFC.Components.Common.Dto.EnquirySubmission.PromoterGuarantorDetails.PromoterLiabilityDetailsDTO
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreateOrEditLiability" asp-route-id="@Model.EnqPromliabId" onsubmit="return jQueryAjaxPostPGPD(this); ">
            @Html.HiddenFor(model => model.EnqPromliabId)
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Name Of Promoter</label>
                @if (ViewBag.PromoterDetailsList != null)
                {
                    @Html.DropDownListFor(model => model.PromoterCode, new SelectList(ViewBag.PromoterDetailsList, "PromoterMaster.PromoterCode", "PromoterMaster.PromoterName"), "-- Please select --", new { @class = "form-select" })
                }
                else
                {
                    <select class="form-select" name="PromoterCode" id="PromoterCode" asp-for="PromoterCode"
                            asp-items="@(new SelectList(string.Empty,"PromoterMaster.PromoterCode","PromoterMaster.PromoterName"))">
                    </select>
                }
                <span asp-validation-for="PromoterCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Liability Description</label>
                @Html.TextAreaFor(model => model.EnqLiabDesc, new { @class = "form-control" })
                <span asp-validation-for="EnqLiabDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="inputEmail4" class="form-label">Value</label>
                @Html.TextBoxFor(model => model.EnqLiabValue, new { @class = "form-control" })
                <span asp-validation-for="EnqLiabValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    @if (!ViewBag.IsEdit)
                    {
                        <input type="reset" value="Reset" class="btn btn-secondary" />
                    }

                </div>
            </div>
        </form>

    </div>
</div>
