@model IEnumerable<EpicCrmWebApi.STRWeightModel>
@{
    int itemCount = Model.Count();

    int totalColumns = 12;
}

<div>
    <h3><a href="" title="Refresh Search Result" onclick="btnSearchClicked();return false;">
    <img height="25" width="25" src="~/Content/img/refresh.png" /></a>&nbsp;Weighment / Silo Details (@itemCount)
        <a href="/admin/AddStrWeight" title="Add STR Weighment / Silo Data" class="addInPopup">
            <img height="15" width="15" src="~/Content/img/Add.png" />
        </a>
    </h3>
</div>
@if (itemCount > 0)
{
<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <tr>
        <th style="column-width:45px;" id="downloadLinkArea" class="removeFromDownload">&nbsp;</th>
       
        <th>@Html.DisplayNameFor(model => model.STRNumber)</th>
        <th>@Html.DisplayNameFor(model => model.STRDate)</th>

        <th>@Html.DisplayNameFor(model => model.VehicleNumber)</th>
        <th>@Html.DisplayNameFor(model => model.DWSCount)</th>

        <th>@Html.DisplayNameFor(model => model.BagCount)</th>
        <th>@Html.DisplayNameFor(model => model.EntryWeight)</th>
        <th>@Html.DisplayNameFor(model => model.ExitWeight)</th>

        <th>@Html.DisplayNameFor(model => model.GrossItemWeight)</th>
        <th>@Html.DisplayNameFor(model => model.DeductionPercent)</th>
        @*<th>@Html.DisplayNameFor(model => model.NetItemWeight)</th>*@

        <th>@Html.DisplayNameFor(model => model.ExitOdometer)</th>
        <th>@Html.DisplayNameFor(model => model.SiloNumber)</th>
        <th>@Html.DisplayNameFor(model => model.SiloIncharge)</th>
        <th>@Html.DisplayNameFor(model => model.UnloadingIncharge)</th>

        <th>@Html.DisplayNameFor(model => model.Notes)</th>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.IsEditAllowed)
            {
            <td class="removeFromDownload">
                <a href="/admin/EditSTRWeight?strWeightId=@item.Id" title="Edit STR Weight Data" class="editInPopup">
                    <img height="35" width="35" src="~/Content/img/Edit.png" />
                </a>
            </td>
            }
            else
            {
                <td class="removeFromDownload">&nbsp;</td>
            }

            <td>@Html.DisplayFor(modelItem => item.STRNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.STRDate, "DateTimeDate")</td>

            <td>@Html.DisplayFor(modelItem => item.VehicleNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.DWSCount)</td>

            <td>@Html.DisplayFor(modelItem => item.BagCount)</td>
            <td>@Html.DisplayFor(modelItem => item.EntryWeight)</td>
            <td>@Html.DisplayFor(modelItem => item.ExitWeight)</td>
            <th>@Html.DisplayFor(modelItem => item.GrossItemWeight)</th>
            <td>@Html.DisplayFor(modelItem => item.DeductionPercent)</td>
            @*<th>@Html.DisplayFor(modelItem => item.NetItemWeight)</th>*@

            <td>@Html.DisplayFor(modelItem => item.ExitOdometer)</td>

            <td>@Html.DisplayFor(modelItem => item.SiloNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.SiloIncharge)</td>
            <td>@Html.DisplayFor(modelItem => item.UnloadingIncharge)</td>
            <td>@Html.DisplayFor(modelItem => item.Notes)</td>
            <td>@Html.DisplayFor(modelItem => item.Status)</td>
        </tr>
    }
</table>
}
