@using KAR.KSFC.Components.Common.Dto.IDM
@model KAR.KSFC.Components.Common.Dto.IDM.AssetRefnoDetailsDTO
@{
    Layout = null;
  
}

<div>
    <div>
        <form id="LDHypoDetails" asp-action="ViewCreate" onsubmit="ClearPopupFormsh();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.LoanAcc, new { @class = "form-control", value=@ViewBag.LoanAcc })
            <div class="row">
                <div class="col-md-4">
                    <strong><label class="form-label">Type Of Asset</label></strong>
                    @Html.DropDownListFor(m => m.AssetcatCd , new SelectList(ViewBag.AssetType, "Value", "Text"), "---Select Asset Type---", new { @class = "form-select", @disabled = "disabled" })
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Name Of Asset</label></strong>
                    @Html.TextBoxFor(m => m.TblIdmHypothDet.FirstOrDefault().AssetName, new { @class = "form-control",@disabled = "disabled" })
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Asset Description</label></strong>
                    @Html.TextAreaFor(m => m.TblIdmHypothDet.FirstOrDefault().AssetDet, new { @class = "form-control", @disabled = "disabled" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong><label class="form-label">Value</label></strong>
                    @Html.TextBoxFor(m => m.TblIdmHypothDet.FirstOrDefault().AssetValue,"{0:n2}",  new { @class = "form-control", @disabled = "disabled",@style="text-align:right" })
                </div>
                <div class="col-md-4">
                    <strong><label class="form-label">Hypoth./Mortgage Description</label></strong>
                    @Html.TextAreaFor(m => m.TblIdmHypothDet.FirstOrDefault().HypothDesc, new { @class = "form-control", @disabled = "disabled" })
                </div>
                  <div class="col-md-4">
                    <strong><label class="form-label">Hypothecation Deed No.</label></strong>
                    @Html.TextBoxFor(m => m.TblIdmHypothDet.FirstOrDefault().HypothNo, new { @class = "form-control", @disabled = "disabled"  })
                </div>
               

            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong><label class="form-label">Date of Execution</label></strong>
                    @Html.TextBoxFor(m => m.TblIdmHypothDet.FirstOrDefault().ExecutionDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type="date", @disabled = "disabled",onkeydown="return false" })
                </div>
            </div>
            <br />

        </form>
    </div>
</div>