@using KAR.KSFC.Components.Common.Dto.IDM.InspectionOfUnit

@model List<KAR.KSFC.Components.Common.Dto.IDM.InspectionOfUnit.IdmDchgImportMachineryDTO>
@{
    int count = 0;
    var Acc = ViewBag.AccountNumber;
    var inspNo = ViewBag.InspectionId;
    List<IdmDspInspDTO> inspdetails = ViewBag.inspectiondetails;
    var lastCreatedDate = inspdetails.Max(x => x.CreatedDate);
    var inspnumber = inspdetails.Where(x => x.CreatedDate == lastCreatedDate && x.DinNo == inspNo).Select(x => x.DinNo).Any();
}

<a onclick="showInPopup('@Url.Action("Create","ImportMachineryAd",new {accountNumber = @ViewBag.AccountNumber ,LoanSub=@ViewBag.LoanSub,OffcCd=@ViewBag.OffcCd,InspectionId = @ViewBag.InspectionId},Context.Request.Scheme)','New Import Machinery Inspection','Import Machinery InspectionAd')" class="btn btn-primary text-white mb-2 mt-2"><em class="fa fa-plus"></em> Add New Import Machinery Inspection</a>
<div class="pre-scrollable">
    <table class="table table-striped table-bordered table-sm table-responsive-xl" id="tblimportMachineryAd" aria-labelledby="ImportMachineryInspection-tab">
        <thead>
            <tr>
                <th class="th2">S. No.</th>
                <th class="th3">Item No.</th>
                <th class="th3">Item Details</th>
                <th class="th3">Name of Supplier</th>
                <th class="th3">Quantity</th>
                <th class="th6">Action</th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {

                    if (item.IsActive == true)
                    {

                        count++;

                        <tr>
                            <td>@count</td>
                            <td>@Html.DisplayFor(modelItem => item.DimcItmNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.DimcDets)</td>
                            <td>@Html.DisplayFor(modelItem => item.DimcSup)</td>
                            <td>@Html.DisplayFor(modelItem => item.DimcQty)</td>
                            @if (item.IsActive == false && item.IsDeleted == false)
                            {
                                <td class="textCenter">
                                    <a onclick="showInPopup('@Url.Action("ViewRecord","ImportMachineryAd",new {id=item.UniqueId},Context.Request.Scheme)','View Import Machinery Inspection','Import Machinery InspectionAd')" class="btn btn-warning text-white"><em class="fa fa-eye" aria-hidden="true"></em>  View</a>
                                </td>
                            }
                            else
                            {
                                <td class="textCenter">
                                    <a onclick="showInPopup('@Url.Action("ViewRecord","ImportMachineryAd",new {id=item.UniqueId},Context.Request.Scheme)','View Import Machinery Inspection','Import Machinery InspectionAd')" class="btn btn-warning text-white"><em class="fa fa-eye" aria-hidden="true"></em>  View</a>
                                    <a onclick="showInPopup('@Url.Action("Edit","ImportMachineryAd",new {InspectionId = @ViewBag.InspectionId,id=item.UniqueId,row=@count},Context.Request.Scheme)','Edit Import Machinery Inspection','Import Machinery InspectionAd')" class="btn btn-primary text-white"> <em class="fa fa-pencil" aria-hidden="true"></em>   Edit</a>
                                    <a onclick="JqueryInspectionDeleteMethod('@Url.Action("Delete","ImportMachineryAd",new {InspectionId = @ViewBag.InspectionId,id=item.UniqueId},Context.Request.Scheme)','ImportMachineryAd')" class="btn btn-danger"><em class="fa fa-trash-o" aria-hidden="true"></em> Cancel </a>
                                </td>
                            }

                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="8">
                        No Data Available.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblimportMachineryAd').DataTable();
    });
</script>
