@using Presentation.Models.Vendor
@model Presentation.Models.Vendor.VendorPaymentViewModel


@{
    var UserName = ViewBag.UserName;
    ViewData["Title"] = "Payments";
    var gridId = "PaymentListGrid";
    var contr = "Payment";
    var grid = "_GenerateBankFile";
    var pref = "filter";
    var ID = ViewBag.Id;

    var defaultDateFrom = DateTime.Now.ToString("yyyy-MM-dd");
}
@Html.InitCrudPopupsForGrid(grid, contr)

<div id="outFilter" class=" awe-il searchgrid">
    @*context will add a prefix to all awesome editors html ids*@
    @using (Html.Awe().BeginContext(pref))
    {
        <div class="row mt-3 ">
            <div class=" col-sm-2 px-2">
                @Html.Awe().TextBox("paymentFilters.name").Placeholder("Vendor Name ").CssClass("input-search")
            </div>
            <div class=" col-sm-2 pl-4 ">

                @Html.Awe().TextBox("paymentFilters.paymentReferenceNo").Placeholder(" Payment Ref No").CssClass("input-search")

            </div>
            <div class=" col-sm-2 pl-lg-5">

                @Html.Awe().TextBox("paymentFilters.payableAmount").Numeric().Placeholder("Min Amount").CssClass("input-label min_val")

            </div>
            <div class=" col-sm-2 pl-5">

                @Html.Awe().TextBox("paymentFilters.payableMaxAmount").Numeric().Placeholder("Max Amount").CssClass("input-label max_val")

            </div>


            <div class=" col-sm-2 pl-5">

                @Html.Awe().DatePicker("paymentFilters.paymentDate").Placeholder("Payment  Date").SelectRange().ChangeMonth().ChangeYear()

            </div>


        </div>
        <div class="row  mt-3">
            <div class="col-md-2 ">

                @Html.Awe().AjaxRadioList("paymentFilters.paymentStatus").Url(Url.Action("GetPaymentStatus", "Payment")).Odropdown(o =>o.Caption("--- Select Payment Status---").ClearBtn())

            </div>

            <div class="col-md-3 pl-lg-5 ml-5">

                @Html.Awe().AjaxRadioList("paymentFilters.approvedBy").Url(Url.Action("GetApprovedByList", "Payment")).Odropdown(o =>o.Caption("--- Select ApprovedBy List---").ClearBtn())

            </div>

            <div class="col-md-3">

                @Html.Awe().AjaxRadioList("paymentFilters.createdBy").Url(Url.Action("GetCreatedByList", "Payment")).Odropdown(o =>o.Caption("--- Select CreatedBy List ---").ClearBtn())

            </div>
            <div class="col-md-2 ml-n5">
                @Html.Awe().AjaxRadioList("paymentFilters.type").Url(Url.Action("GetPaymentType", "Payment")).Odropdown(o =>o.Caption("--- Select Payment Type List ---").ClearBtn())
            </div>
            <div class=" col-md-1 ml-5">
                <button type="button" id="btnClearFilter" class="btn btn-primary mr-n5 billresetbtncss "><i class="bi bi-bootstrap-reboot"></i> Reset</button>
            </div>
        </div>
        <br />
        <div>
        </div>
    }

</div>

<button type="submit" class="btn btn-primary btnxls  btndownload" title="Download File" value="Submit" onclick="exportToExcel()">
    <i class="bi bi-download"></i> Download
</button>


<div>&nbsp;</div>
<div>&nbsp;</div>



@(Html.Awe().Grid(gridId)
      .Mod(o => o.Main().Custom("outsideFilter"))
      .Url(Url.Action("GetVendorPayments", contr))
      .Persistence(Persistence.Session)
      .Height(450)
      .Resizable()
      .Reorderable()

      .Columns(
          new Column { Bind = "PaymentReferenceNo", Prop = "PaymentReferenceNo", ClientFormat = "<a href='" + Url.Action("ApprovePayment", "Payment", new { id = ".(Id)" }) + "'>.(PaymentReferenceNo)</a>", Header = "Payment Ref No", HeaderCssClass = "boldh" },
          new Column { Bind = "Type", Prop = "Type", Header = "Type", HeaderCssClass = "boldh", MinWidth = 100, Groupable = true },
          new Column { Bind = "Payment.PaymentDate", Prop = "PaymentDate", Header = "<p title='(dd-mm-yyyy)'>Payment Date</p>", HeaderCssClass = "boldh", MinWidth = 170, Groupable = true },
          new Column { Bind = "Name", Prop = "Name", Header = "Vendor Name", HeaderCssClass = "boldh" },
          new Column { Bind = "TotalPaymentAmount", Prop = "TotalPaymentAmount", Header = "₹ Total Payment Amount", HeaderCssClass = "boldh", CssClass = "amount",MinWidth = 200, },
          new Column { Bind = "PaymentAmount", Prop = "PaymentAmount", Header = "₹ Paid Amount", HeaderCssClass = "boldh", CssClass = "amount" },
          new Column { Bind = "AdvanceAmountUsed", Prop = "AdvanceAmountUsed", Header = "₹ Advance Amount Used", HeaderCssClass = "boldh", CssClass = "amount" ,MinWidth = 200, },
          new Column { Bind = "CreatedBy", Prop = "CreatedBy", Header = "Created By", HeaderCssClass = "boldh" },
          new Column { Bind = "ApprovedBy", Prop = "ApprovedBy", Header = "Approved By", HeaderCssClass = "boldh" },
         new Column { Bind = "PaymentStatus", Prop = "PaymentStatus", Header = "Payment Status", HeaderCssClass = "boldh", CssClass = "statuscolor" }
          ))
<script>

    var gridId = "@gridId";
    var contr = "@contr";
</script>

<script src="~/js/Payment/Payment.js"></script>