
@model IEnumerable<AgreementReportDataModel>

@{
    Layout = "";
    IEnumerable<AgreementReportDataModel> reportData = Model;

}

<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="1" id="downloadLinkArea">&nbsp;</td>
        <td colspan="30">@reportData.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ClusterName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ClusterCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ZoneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZoneCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AreaCode)
        </th>



        <th>
            @Html.DisplayNameFor(model => model.TerritoryName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TerritoryCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HQName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HQCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.VillageName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AgreementNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FatherHusbandName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ContactCount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ImageCount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BankDetailCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueIdType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueId)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.LandSize)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AtBusiness)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CropName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkflowSeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatePerKg)
        </th>

    </tr>

    @foreach (var item in reportData)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.EmployeeCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.EmployeeName)
            </td>

            <td>
                @Html.DisplayFor(model => item.TerritoryName)
            </td>

            <td>
                @Html.DisplayFor(model => item.TerritoryCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.ZoneName)
            </td>

            <td>
                @Html.DisplayFor(model => item.ZoneCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.AreaName)
            </td>

            <td>
                @Html.DisplayFor(model => item.AreaCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.TerritoryName)
            </td>

            <td>
                @Html.DisplayFor(model => item.TerritoryCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.HQName)
            </td>

            <td>
                @Html.DisplayFor(model => item.HQCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.HQName)
            </td>

            <td>
                @Html.DisplayFor(model => item.AgreementNumber)
            </td>

            <td>
                @Html.DisplayFor(model => item.EntityName)
            </td>

            <td>
                @Html.DisplayFor(model => item.FatherHusbandName)
            </td>

            <td>
                @Html.DisplayFor(model => item.ContactCount)
            </td>

            <td>
                @Html.DisplayFor(model => item.ImageCount)
            </td>

            <td>
                @Html.DisplayFor(model => item.BankDetailCount)
            </td>

            <td>
                @Html.DisplayFor(model => item.UniqueIdType)
            </td>
            <td>
                @Html.DisplayFor(model => item.UniqueId)
            </td>
             <td>
                @Html.DisplayFor(model => item.LandSize)
            </td>

            <td>
                @Html.DisplayFor(model => item.Latitude)
            </td>

            <td>
                @Html.DisplayFor(model => item.Longitude)
            </td>

            <td>
                @Html.DisplayFor(model => item.AtBusiness)
            </td>
            <td>
                @Html.DisplayFor(model => item.IsActive)
            </td>

            <td>
                @Html.DisplayFor(model => item.EntityDate)
            </td>

            <td>
                @Html.DisplayFor(model => item.CropName)
            </td>

            <td>
                @Html.DisplayFor(model => item.WorkflowSeasonName)
            </td>

            <td>
                @Html.DisplayFor(model => item.Status)
            </td>

            <td>
                @Html.DisplayFor(model => item.RatePerKg)
            </td>


        </tr>
    }
</table>
