@model IEnumerable<DealersSummaryReportDataModel>

@{
    Layout = "";
    IEnumerable<DealersSummaryReportDataModel> reportData = Model;

}

<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="1" id="downloadLinkArea">&nbsp;</td>
        <td colspan="9">@reportData.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DivisionName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.BranchName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalDealersCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoTagCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeoTagsPending)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeStatus)
        </th>

    </tr>

    @foreach (var item in reportData)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.EmployeeCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.EmployeeName)
            </td>

            <td>
                @Html.DisplayFor(model => item.DivisionName)
            </td>

            <td>
                @Html.DisplayFor(model => item.BranchName)
            </td>

            <td>
                @if (item.TotalDealersCount == 0)
                {
                    @Html.DisplayFor(modelItem => item.TotalDealersCount)

                }
                else
                {
                    <a href="@Url.Action("ShowSearch","Dashboard" , new {reportType="Geo Tagging Report" ,EmployeeCode=item.EmployeeCode,EmployeeStatus=item.EmployeeStatus})">@item.TotalDealersCount</a>
                }
            </td>
            <td>
                @if (item.GeoTagCompleted == 0)
                {
                    @Html.DisplayFor(modelItem => item.GeoTagCompleted)

                }
                else
                {
                    <a href="@Url.Action("ShowSearch","Dashboard" , new {reportType="Geo Tagging Report" ,EmployeeCode=item.EmployeeCode,GeoLocationStatus=1,EmployeeStatus=item.EmployeeStatus})">@item.GeoTagCompleted</a>

                }
            </td>
            <td>
                @if (item.GeoTagsPending == 0)
                {
                    @Html.DisplayFor(modelItem => item.GeoTagsPending)

                }
                else
                {
                    <a href="@Url.Action("ShowSearch","Dashboard" , new { reportType = "Geo Tagging Report", EmployeeCode = item.EmployeeCode, GeoLocationStatus = 0, EmployeeStatus = item.EmployeeStatus })">@item.GeoTagsPending</a>

                }
            </td>

            <td>
                @Html.DisplayFor(model => item.EmployeeStatus)
            </td>
        </tr>
    }
</table>