
@model IEnumerable<DuplicateFarmersReportDataModel>

@{
    Layout = "";
    IEnumerable<DuplicateFarmersReportDataModel> reportData = Model;

}

<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="1" id="downloadLinkArea">&nbsp;</td>
        <td colspan="9">@reportData.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EntityNumber)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UniqueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementCount)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TerritoryName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.HQName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>


    </tr>

    @foreach (var item in reportData)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.EmployeeCode)
            </td>

            <td>
                @Html.DisplayFor(model => item.EmployeeName)
            </td>

            <td>
                @if (@item.EntityNumber != null && @item.EntityName != null)
                {
                    @Html.ActionLink(item.EntityNumber, "ShowEntities", "Admin", new { EntityNumber = item.EntityNumber, EntityName = item.EntityName }, new { target = "_new" })
                }
                else
                {
                    @Html.DisplayFor(model => item.EntityNumber)
                }

            </td>
            <td>
                @Html.DisplayFor(model => item.EntityName)
            </td>
            <td>
                @Html.DisplayFor(model => item.UniqueId)
            </td>

            <td>
                @Html.DisplayFor(model => item.AgreementCount)
            </td>

            <td>
                @Html.DisplayFor(model => item.TerritoryName)
            </td>

            <td>
                @Html.DisplayFor(model => item.HQName)
            </td>

            <td>
                @Html.DisplayFor(model => item.IsActive)
            </td>

        </tr>
    }
</table>
