@model IEnumerable<EmployeeExpenseReportDataModel>  

@{ 
    IEnumerable<EmployeeExpenseReportDataModel> reportData = Model;
}
<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="1" id="downloadLinkArea">&nbsp;</td>
        <td colspan="23">@reportData.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StartPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>@Html.DisplayNameFor(model => model.ModeAndClassOfFare)</th>

        <th>
            @Html.DisplayNameFor(model => model.LodgeRent)
        </th>

        <th>@Html.DisplayNameFor(model => model.LocalConveyance)</th>
        <th>@Html.DisplayNameFor(model => model.OutstationConveyance)</th>

        <th>
            @Html.DisplayNameFor(model => model.IncdlCharges)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommunicationExpenses)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.TotalExpenseAmount)
        </th>

        <th>@Html.DisplayNameFor(model => model.ZoneCode)</th>
        <th>@Html.DisplayNameFor(model => model.ZoneName)</th>
        <th>@Html.DisplayNameFor(model => model.AreaCode)</th>
        <th>@Html.DisplayNameFor(model => model.AreaName)</th>
        <th>@Html.DisplayNameFor(model => model.TerritoryCode)</th>
        <th>@Html.DisplayNameFor(model => model.TerritoryName)</th>
        <th>@Html.DisplayNameFor(model => model.HQCode)</th>
        <th>@Html.DisplayNameFor(model => model.HQName)</th>
    </tr>

@foreach (var item in reportData)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpenseDate, "DatetimeShort")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime, "DateTimeTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime, "DateTimeTime")
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ModeAndClassOfFare)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LodgeRent)
        </td>
        <td>@Html.DisplayFor(modelItem => item.LocalConveyance)</td>
        <td>@Html.DisplayFor(modelItem => item.OutstationConveyance)</td>
        <td>
            @Html.DisplayFor(modelItem => item.IncdlCharges)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommunicationExpenses)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.TotalExpenseAmount)
        </td>

            <td>@item.ZoneCode</td>
            <td>@item.ZoneName</td>
            <td>@item.AreaCode</td>
            <td>@item.AreaName</td>
            <td>@item.TerritoryCode</td>
            <td>@item.TerritoryName</td>
            <td>@item.HQCode</td>
            <td>@item.HQName</td>
    </tr>
}

</table>
