@model IEnumerable<FarmerSummaryReportModel>
@{
    Layout = "";
    
    ViewBag.Title = "Farmer Sumamry Report";
    string guidForRow = Guid.NewGuid().ToString();

}

<div class="removeFromDownload">
    <h3>
        <a href="" title="Refresh Farmer Summary Details" onclick="btnSearchClicked();return false;">
            <img height="25" width="25" src="~/Content/img/refresh.png" />
        </a>&nbsp;Farmer Summary Details (@Model.Count())
    </h3>
</div>
@if (Model.Count() > 0)
{
    
<table class="table table-bordered table-striped" id="dataTable">
    @*Display to Search table*@
    <tr>
        @*<th style="column-width:45px;" id="downloadLinkArea" class="removeFromDownload">&nbsp;</th>*@
        <!-- <th class="removeFromDownload checkboxCell">All<input class='check-box allRecMark' type='checkbox' /></th>-->

        <th> @Html.DisplayNameFor(model => model.EntityName) </th>
        <th> @Html.DisplayNameFor(model => model.UniqueId) </th>
        <th> @Html.DisplayNameFor(model => model.AgreementNumber) </th>
        <th> @Html.DisplayNameFor(model => model.Crop) </th>
        <th> @Html.DisplayNameFor(model => model.SeasonName) </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
    string guidRow = Guid.NewGuid().ToString();

    <tr id="@guidRow">
        @*<td class="removeFromDownload">
        </td>*@
        <!--<td class="removeFromDownload checkboxCell">
        <input class='check-box oneRecMark' type='checkbox' data-id="@item.AgreementId" />
    </td>-->

        <td> @Html.DisplayFor(modelItem => item.EntityName) </td>
        <td> @Html.DisplayFor(modelItem => item.UniqueId) </td>
        <td> @Html.DisplayFor(modelItem => item.AgreementNumber) </td>
        <td> @Html.DisplayFor(modelItem => item.Crop) </td>
        <td> @Html.DisplayFor(modelItem => item.SeasonName) </td>
        <td> <a href="@Url.Action("GeneratePdf","PDF",new { AgreementId=item.AgreementId})" target="_blank">Generate PDF</a></td>

    </tr>
    }
    <!--<tr class="buttonActions" id="idApproveBtnRow">
        <td colspan='8'>
            <input style='width:200px;' type='button' id='btnShowMarked' value='Show Selected' title='Show checked rows' class='form-control btn-warning' />
            <input style='width:200px;' type='button' id='btnShowUnMarked' value='Show Un-selected' title='Show un-selected rows' class='form-control btn-warning' />
            <input style='width:200px;' type='button' id='btnShowAll' value='Show All' title='Show all rows' class='form-control btn-warning' />
            <input style='width:300px;' type='button' id='btnGeneratePdf' value='Generate PDF' class='form-control btn-success' />
        </td>
    </tr> -->
</table>
    <div id="@guidForRow">
    </div>
}

<script>
    
    // if there are no rows with check box, then hide action button row
    if ($("input.oneRecMark").length == 0)
    {
        $(".buttonActions").hide();
        //$("input.allRecMark").hide();
        $(".checkboxCell").each(function (index, element) {
            $(element).remove();
        });
    }
    else
    {
        $("input.allRecMark").click(function () {
            $("input.oneRecMark").prop('checked', $(this).prop('checked'));
        });
    }

    $('input#btnGeneratePdf').click(pdfButtonClicked);
    $('input#btnShowMarked').click(showMarkedRowsClicked);
    $('input#btnShowUnMarked').click(showUnMarkedRowsClicked);
    $('input#btnShowAll').click(showAllRowsClicked);

    $('input#btnPay').css('display', 'inline');
    $('input#btnShowMarked').css('display', 'inline');
    $('input#btnShowUnMarked').css('display', 'inline');
    $('input#btnShowAll').css('display', 'inline');

    function pdfButtonClicked() {
        $('input#btnGeneratePdf').hide();
        var selectedAgreement = [];

        $("input.oneRecMark").each(function (index, element) {
            if ($(element).is(':checked')) {
                //var v = $(element).parent().parent().find('td:nth-child(' + colNumForDWSNumber + ')').text().trim();

                //each check box has id stored as data-id attribute
                var v = $(element).attr('data-id');

                // store in array only if it does not exist
                if (/^[0-9]+$/.test(v) && selectedAgreement.indexOf(v) === -1) {
                    selectedAgreement.push(v);
                }
            }
        });

        if (selectedAgreement.length == 0) {
            alert('Please mark Agreements to Generate PDF!!!');
            $('input#btnGeneratePdf').show();
            return;
        }

        var transmitData = { AgreementId: selectedAgreement };
        //showGlass();
        //showWaitMessage();
        alert("hi");
        $.ajax('/PDF/GeneratePdf', {
            traditional: true,
            cache: false,
            type: "Get",
            contentType: "application/json",
            data: transmitData,
            success: function (data, textStatus, jqXHR) {
                console.log("inside success");
                alert("hello");
                    // clear message and uncheck all check boxes;
                    $("input.allRecMark").prop('checked', false);
                    $("input.oneRecMark").prop('checked', false);

                    //SetCallbackFunction(btnSearchClicked);
                    //ShowFormOnGlass(data);
                alert("hi shobit");
                $('input#btnGeneratePdf').show();
                alert("hi rajesh");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("An error occured. Please refresh the page and try again.")
                hideGlass();
                $('input#btnGeneratePdf').show();
            }
        });

        $('input#btnGeneratePdf').show();
    }

    function showMarkedRowsClicked() {
        $("input.oneRecMark").each(function (index, element) {
            var trow = $(element).parent().parent();
            ($(element).is(':checked')) ? trow.show() : trow.hide();
        });
    }

    function showUnMarkedRowsClicked() {
        $("input.oneRecMark").each(function (index, element) {
            var trow = $(element).parent().parent();
            ($(element).is(':checked')) ? trow.hide() : trow.show();
        });
    }

    function showAllRowsClicked() {
        $("input.oneRecMark").each(function (index, element) {
            var trow = $(element).parent().parent();
            trow.show();
        });
    }

</script>



