@model IEnumerable<EpicCrmWebApi.PaymentModel>
@{
    decimal total = (Model != null) ? Model.Sum(s => s.TotalAmount) : 0;
    int itemCount = (Model != null) ? Model.Count() : 0;
}
<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <tr id="dataTableHeader">
        <td colspan="4" id="downloadLinkArea">&nbsp;</td>
        <td colspan="4" style="text-align:right;"><strong>Total @itemCount Payment(s):</strong></td>
        <td style="text-align:right;"><strong>@total.ToString("##,##,##,##0.00")</strong></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsApproved)
        </th>
        <th style="text-align:right;">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate, "DatetimeShort")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone, "Phone")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td style="text-align:right;">
                @Html.ActionLink(item.TotalAmount.ToString("##,##,##,##0.00"), "ShowApprovePage", new { Id = item.Id, ReportType = ViewBag.ReportType }, new { target = "_new" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
    }
</table>
