@model AttendanceReportModel

@{
    IEnumerable<AttendanceReportDataModel> reportData = Model.AttendanceReportData;

    DateTime startTime = DateTime.MinValue;
    long prevEmpDayId = 0;

    // this loop will add the hours in the last row for a group
    // then we will sort in reverse order of end time, and print only first entry for each group
    double totalHours = 0;
    foreach (var item in reportData)
    {
        if (item.EmployeeDayId != prevEmpDayId)
        {
            prevEmpDayId = item.EmployeeDayId;
            totalHours = item.Hours;
        }
        else
        {
            totalHours += item.Hours;
            item.Hours = totalHours;
        }
    }

    prevEmpDayId = 0;
}

<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="3">@Model.AppUsers.Count users data displayed.</td>
        <td colspan=@Model.ReportDays.Count() id="downloadLinkArea">&nbsp;</td>
    </tr>
    <tr>
        <th>Employee Code</th>
        <th>Employee Name</th>
        <th>Employee Phone</th>
        @foreach (var d in Model.ReportDays.OrderBy(x => x.DATE))
        {
            <th>@d.DATE.ToString("ddd MMM dd, yyyy")</th>
        }
    </tr>


    @foreach (var employee in Model.AppUsers.OrderBy(x => x.Name))
    {
        <tr>
            <td align="center">@employee.EmployeeCode</td>
            <td align="center">@employee.Name</td>
            <td align="center">@Html.DisplayFor(modelItem => employee.Phone, "Phone")</td>

            @foreach (var d in Model.ReportDays.OrderBy(x => x.DATE))
            {
                var edr = reportData.Where(x => x.TenantEmployeeId == employee.EmployeeId && x.Date == d.DATE).LastOrDefault();

                if (edr == null)
                {
                    <td style="color:red" align="center">ABS</td>
                }
                else
                {
                    <td align="center">
                        @edr.Hours.ToString("0.00")
                    </td>
                }
            }
        </tr>
    }

</table>
