@model AbsenteeReportModel  

@{ 
    IEnumerable<AbsenteeReportDataModel> reportData = Model.AbsenteeReportData;
    IEnumerable<OfficeHierarchyModel> officeHierarchy = Model.OfficeHierarchy;
    OfficeHierarchyModel oh = null;
}
<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="2" id="downloadLinkArea">&nbsp;</td>
        <td colspan="12">@reportData.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbsenteeReportData.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenteeReportData.First().StaffCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenteeReportData.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenteeReportData.First().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenteeReportData.First().IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbsenteeReportData.First().SignupDate)
        </th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().ZoneCode)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().ZoneName)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().AreaCode)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().AreaName)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().TerritoryCode)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().TerritoryName)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().HQCode)</th>
        <th>@Html.DisplayNameFor(model => model.OfficeHierarchy.First().HQName)</th>
    </tr>

@foreach (var item in reportData) {
    oh = officeHierarchy.Where(x => x.HQCode == item.ExpenseHQCode).FirstOrDefault();
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date, "DateTimeShort")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Phone, "Phone")
        </td>
        <td class="EmployeeStatus_@item.IsActive.ToString()">
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignupDate, "DateTimeShort")
        </td>

        @if (oh != null)
        {
            <td>@oh.ZoneCode</td>
            <td>@oh.ZoneName</td>
            <td>@oh.AreaCode</td>
            <td>@oh.AreaName</td>
            <td>@oh.TerritoryCode</td>
            <td>@oh.TerritoryName</td>
            <td>@oh.HQCode</td>
            <td>@oh.HQName</td>
        }
        else
        {
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        }
    </tr>
}
</table>
