@model OrderItemsModel

@{
    ViewBag.Title = "Order Items";

    string title = String.Format("{0} ({1}) has picked up an order of Rs.{2} from {3} on {4}", 
        Model.Order.EmployeeName, Model.Order.EmployeeCode, 
        Model.Order.NetAmount.ToString("##,##,##,##0.00"), 
        (Model.Order.CustomerName.Length == 0) ? "Customer" : Model.Order.CustomerName,  
        Model.Order.OrderDate.ToString("ddd dd-MM-yyyy"));

    bool IsApproved =  Model.Order.IsApproved;
    string ApprovedDate = Model.Order.ApprovedDate.ToString("ddd dd-MM-yyyy hh:mm:ss tt");
    decimal totalRevisedAmount = Model.Order.RevisedNetAmount; // Model.Items.Sum(x => x.RevisedAmount);

    bool editable = ViewBag.Editable;
    decimal additionalDiscount = Model.Order.RevisedNetAmount - Model.Order.ApprovedAmt;
}

<input type="hidden" id="amountVal" value="@totalRevisedAmount" />
<input type="hidden" id="tableTitleVal" value="@title" />

            <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().SequenceNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().ProductCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().UOM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().GstPercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().DiscountPercent)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order.DiscountType)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().DiscountedPrice)
                    </th>

                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Quantity)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().ItemPrice)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().GstAmount)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().NetPrice)
                    </th>

                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().RevisedQuantity)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().RevisedItemPrice)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().RevisedGstAmount)
                    </th>
                    <th style="text-align:right;">
                        @Html.DisplayNameFor(model => model.Items.FirstOrDefault().RevisedNetPrice)
                    </th>

                </tr>

                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SequenceNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UOM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GstPercent)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountPercent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Order.DiscountType)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountedPrice)
                        </td>


                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.ItemPrice)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.GstAmount)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.NetPrice)
                        </td>

                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.RevisedQuantity)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.RevisedItemPrice)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.RevisedGstAmount)
                        </td>
                        <td style="text-align:right;">
                            @Html.DisplayFor(modelItem => item.RevisedNetPrice)
                        </td>
                    </tr>
                }

                <tr>
                    @if (editable && Model.Order.ImageCount > 0)
                    {
                        <td>
                            <a href="" class="orderImage" onclick="DisplayImage(@Model.Order.Id, @Model.Order.ImageCount, 'Order');return false;">Image</a>
                        </td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }
                    @if (IsApproved && additionalDiscount > 0)
                    {
                        <th colspan="8">
                            Additional discount (Rs. @additionalDiscount) offered at the time of approval.
                        </th>
                    }
                    else
                    {
                        <td colspan="8">&nbsp;</td>
                    }

                    <th style="text-align:right;">Total</th>
                    <th style="text-align:right;">@Html.DisplayFor(x => Model.Order.TotalAmount, "Decimal")</th>
                    <th style="text-align:right;">@Html.DisplayFor(x => Model.Order.TotalGST, "Decimal")</th>
                    <th style="text-align:right;">@Html.DisplayFor(x => Model.Order.NetAmount, "Decimal")</th>


                    @if (Model.Order.IsApproved == false && editable)
                    {
                        <td style="text-align:right;">
                            <a href="/dashboard/EditOrder?OrderId=@Model.Order.Id" title="Edit" class="editInPopup">Edit Quantity</a>
                        </td>
                    }
                    else
                    {
                        <td>&nbsp;</td>
                    }

                    <th style="text-align:right;">@Html.DisplayFor(x=> Model.Order.RevisedTotalAmount, "Decimal")</th>
                    <th style="text-align:right;">@Html.DisplayFor(x => Model.Order.RevisedTotalGST, "Decimal")</th>
                    <th style="text-align:right;">@Html.DisplayFor(x => Model.Order.RevisedNetAmount, "Decimal")</th>
                </tr>
            </table>
        
