@model IEnumerable<EpicCrmWebApi.DashboardLeaveModel>

@{
    int leaveCount = Model.Count();

    bool isSuperAdmin = ViewBag.IsSuperAdmin;

    string guidForDetailRow = Guid.NewGuid().ToString();
}

<div>
    <h3>
        <a href="" title="Refresh Search Result" onclick="btnSearchClicked();return false;">
            <img height="25" width="25" src="~/Content/img/refresh.png" />
        </a>&nbsp;Leaves (@leaveCount)
    </h3>
</div>
@if (leaveCount > 0)
{
    <table class="table table-bordered table-striped table-condensed" id="dataTable">
        <thead>

            <tr>
                <th colspan="1" id="downloadLinkArea" class="removeFromDownload">&nbsp;</th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveReason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeaveStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateUpdated)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UpdatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                string guidForRow = Guid.NewGuid().ToString();
                <tr id="@guidForRow">
                    <td class="removeFromDownload">
                        @if (item.IsEditAllowed)
                        {
                        <a href="/Dashboard/EditLeave?Id=@item.Id" title="Approve/Reject Leave For @item.EmployeeName" class="editInPopup">
                            <img height="35" width="35" src="~/Content/img/Edit.png" />
                        </a>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DaysCountExcludingHolidays)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveReason)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaveStatus)
                    </td>
                    <td>
                        @if (item.LeaveStatus.Equals("pending", StringComparison.OrdinalIgnoreCase))
                        {
                            <p></p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.DateUpdated)
                        }
                    </td>
                    <td>
                        @if (item.LeaveStatus.Equals("pending", StringComparison.OrdinalIgnoreCase))
                        {
                            <p></p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                        }
                    </td>

                    <td>
                        @if (item.LeaveStatus.Equals("pending", StringComparison.OrdinalIgnoreCase))
                        {
                            <p></p>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.ApproveNotes)
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

