@model IEnumerable<EpicCrmWebApi.EntityProgressDetailModel>

<table class="table table-bordered table-striped table-condensed" id="dataTable">
    <tr id="dataTableHeader">
        <td colspan="2" id="downloadLinkArea">&nbsp;</td>
        <td colspan="13">@Model.Count() rows displayed.</td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AgreementStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPhase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastPhaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPhase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPlannedFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPlannedEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SeasonName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AgreementNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgreementStatus)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LastPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPhaseDate, "NullableDateTimeDate")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPhase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPlannedFromDate, "NullableDateTimeDate")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPlannedEndDate, "NullableDateTimeDate")
            </td>

            @if (item.IsComplete)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
        </tr>

    }

</table>
