@model ModelExpense

@{
    ViewBag.Title = "Expense Items";
    string pageTitle = String.Format("{0} ({1}) has submitted expense items for Rs. {2} on {3:dd-MM-yyyy}", Model.EmployeeName, Model.EmployeeCode, Model.TotalAmount, Model.ExpenseDate);
    int activityCount = Model.ActivityCount;
    long employeeDayId = Model.EmployeeDayId;

    decimal totalExpenseAmount = Model.TotalAmount;
    decimal totalRevisedExpenseAmount = 0;
    string totalExpenseAmountAsString = totalExpenseAmount.ToString();
    decimal totalDeductedAmount = 0;
    int itemCount = Model.Items.Count();
    int approvalCount = Model.Approvals.Count();

}

<input type="hidden" id="amountVal" value="@totalExpenseAmountAsString" />
<input type="hidden" id="tableTitleVal" value="@pageTitle" />



<h2>
    @if (activityCount == 0)
    {
        <span style="font-size:20px;">No Activities</span>
    }
    else if (activityCount == 1)
    {
        <span style="font-size:20px;"><a href="/Dashboard/Activity?employeeDayId=@employeeDayId">@activityCount Activity</a></span>
    }
    else
    {
        <span style="font-size:20px;"><a href="/Dashboard/Activity?employeeDayId=@employeeDayId">@activityCount Activities</a></span>
    }
</h2>

<table class="table table-bordered table-striped table-condensed">
    <tr id="dataTableHeader">
        <td colspan="10" style="text-align:left;">
            <a href="" title="Refresh Search Result" onclick="btnSearchClicked();return false;">
                <img height="25" width="25" src="~/Content/img/refresh.png" />
            </a>&nbsp;<strong>Total @itemCount Items</strong>
        </td>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().ExpenseType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().TransportType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().FuelQuantityInLiters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().DeductedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().RevisedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().OdometerStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Comment)
        </th>

        <th>
            &nbsp;
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        totalRevisedExpenseAmount = totalRevisedExpenseAmount + item.RevisedAmount;
        totalDeductedAmount = totalDeductedAmount + item.DeductedAmount;
        <tr>
            <td>
                @if (approvalCount == 0)
                {
                    <a href="/dashboard/EditExpenseItem?expenseItemId=@item.Id" title="Edit" class="editInPopup">@item.ExpenseType</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ExpenseType)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @if (item.FuelQuantityInLiters > 0)
                {
                    @Html.DisplayFor(modelItem => item.FuelQuantityInLiters)
                }
            </td>
            <td>
                @if (item.Amount > 0)
                {
                    @Html.DisplayFor(modelItem => item.Amount)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeductedAmount)
            </td>
            <td>
                @if (item.RevisedAmount > 0)
                {
                    @Html.DisplayFor(modelItem => item.RevisedAmount)
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odometer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @if (item.ImageCount > 0)
                {
                    <a href="" class="expenseImage" onclick="DisplayImage(@item.Id, @item.ImageCount, 'Expense');return false;">Show Image</a>
                }
            </td>
        </tr>
    }
    <tr id="dataTableFooter">
        <td style="text-align:right;" colspan="4"><strong>Total</strong></td>
        <td style="text-align:right;"><strong id="idTotalExpenseAmount">@totalExpenseAmount.ToString("##,##,##,##0.00")</strong></td>
        <td style="text-align:right;"><strong id="idTotalDeductedAmount">@totalDeductedAmount.ToString("##,##,##,##0.00")</strong></td>
        <td style="text-align:right;"><strong id="idTotalRevisedExpenseAmount">@totalRevisedExpenseAmount.ToString("##,##,##,##0.00")</strong></td>
        <td></td>
        <td></td>
    </tr>
</table>

@if (approvalCount == 0)
{
    <input type="hidden" id="idRevisedExpense" value="@totalRevisedExpenseAmount" />
    <input type="hidden" id="idApprovalCount" value="@approvalCount" />
}

<h2>Approval Details</h2>
<table class="table table-bordered table-striped table-condensed">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Approvals.First().ApproveLevel)</th>
        <th>@Html.DisplayNameFor(model => model.Approvals.First().ApproveRef)</th>
        <th>@Html.DisplayNameFor(model => model.Approvals.First().ApproveAmount)</th>
        <th>@Html.DisplayNameFor(model => model.Approvals.First().ApproveNotes)</th>
        <th>@Html.DisplayNameFor(model => model.Approvals.First().ApprovedBy)</th>
        <th>@Html.DisplayNameFor(model => model.Approvals.First().ApproveDate)</th>
    </tr>

    @foreach (var item in Model.Approvals)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ApproveLevel)</td>
            <td>@Html.DisplayFor(modelItem => item.ApproveRef)</td>
            <td>@Html.DisplayFor(modelItem => item.ApproveAmount)</td>
            <td>@Html.DisplayFor(modelItem => item.ApproveNotes)</td>
            <td>@Html.DisplayFor(modelItem => item.ApprovedBy)</td>
            <td>@Html.DisplayFor(modelItem => item.ApproveDate)</td>
        </tr>
    }
</table>


@*<script type="text/javascript">


        //function TotalDeductedAmount() {
        //    $('#idWait').hide();
        //    var total = $('#idDeductedAmount').val().sum;
        //    if (isNaN(shedOdo)) {
        //        ShowAlertArea("Error!", "Please enter a valid amount", true);
        //        return false;
        //    }
        //    else {
        //        var totKms = (endOdo - startOdo) + siloToShed;
        //        $('#idTotalRunningKms').val(Number(totKms));
        //    }

        //}

        //$('#idDeductedAmount').on('input', function (e) {
        //    TotalDeductedAmount();
        //});


    </script>*@



