@model ReturnItemsModel

@{
    ViewBag.Title = "Return Items";
    decimal amount = (Model != null) ? Model.Items.Sum(s => s.Amount) : 0;
    string title = String.Format("{0} ({1}) has picked up an return order of Rs.{2} from {3} on {4}", Model.Return.EmployeeName, Model.Return.EmployeeCode, amount.ToString("##,##,##,##0.00"), (Model.Return.CustomerName.Length == 0) ? "Customer" : Model.Return.CustomerName, Model.Return.ReturnDate.ToString("ddd dd-MM-yyyy"));
}

<input type="hidden" id="amountVal" value="@amount" />
<input type="hidden" id="tableTitleVal" value="@title" />

    <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().SequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().ProductName)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().BillingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Quantity)
            </th>
            <th style="text-align:right;">
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.FirstOrDefault().Comments)
            </th>
        </tr>


        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SequenceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.BillingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td style="text-align:right;">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }
    </table>
