@model IEnumerable<DomainEntities.TrackingRecord>
@using System.Linq
@using System

@*View shown to Manager*@

@{
    ViewBag.Title = "Tracking";
    var employeeName = ViewBag.EmployeeName;
    var totalBingDistance = Model.Where(x=> x.BingMapsDistanceInMeters > 0).Sum(x => x.BingMapsDistanceInMeters);
    var totalGoogleDistance = Model.Where(x=> x.GoogleMapsDistanceInMeters > 0).Sum(x => x.GoogleMapsDistanceInMeters);
    var totalLinearDistance = Model.Sum(x => x.LinearDistanceInMeters);

    var headerString = $"{ViewBag.ActivityDate.ToString("ddd MMM dd, yyyy")}: {ViewBag.EmployeeName}'s tracking.";
    string rowStyle = "";

    var mapPoints = Model
        .Where(x => (x.EndLatitude > 0 && x.EndLongitude > 0))
        .Select(x => new MapPointModel()
        {
            Latitude = x.EndLatitude,
            Longitude = x.EndLongitude,
            Description = $"[{x.At.ToString("hh:mm tt")}] {x.EndLocationName}"
        }).ToList();

    string googleMapApiKey = CRMUtilities.Utils.GoogleMapApiKey;
}

<h2>@headerString</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.At)
        </th>
        <th>&nbsp;</th>
        <th>@Html.DisplayNameFor(model => model.EndLatitude)
        </th>
        <th>Distance (Meters)</th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceCalculated)
        </th>
    </tr>

    <tr>
        <th colspan="3">&nbsp;        
        </th>
        <th>Total: @(String.Format("{0:0.00} km", totalGoogleDistance / 1000))
        </th>
        <th colspan="1">&nbsp;</th>
    </tr>


@foreach (var item in Model)
{
    if( item.IsStartOfDay || item.IsEndOfDay || item.ActivityId > 0)
    {
        rowStyle = "font-weight:bold;";
        if( item.IsStartOfDay)
        {
            rowStyle += "color:green;";
        }
        else if (item.IsEndOfDay)
        {
            rowStyle += "color:red;";
        }
        else if (item.ActivityId > 0)
        {
            rowStyle += "color:blue;";
        }
    }
    else
    {
        rowStyle = "font-size:x-small;";
    }
    <tr style=@rowStyle>
        <td>
            @Html.DisplayFor(modelItem => @item.At)
        </td>
        <td>
            @if(item.ActivityId > 0)
            {
                @Html.ActionLink(@item.ActivityType, "Activity", new { employeeDayId = ViewBag.EmployeeDayId }, new { @class = "c_activityLink" });
            }
            else if (item.IsStartOfDay)
            {
                @("Start")
            }
            else if (item.IsEndOfDay)
            {
                @("End")
            }
            else
            {
                @("")
            }
        </td>

        <td title="@item.EndCoorindates">
            @item.EndLocationName
        </td>
        <td>
            @(String.Format("{0:0.00}", item.GoogleMapsDistanceInMeters))
        </td>
        <td>
            @Html.DisplayFor(modelItem=> item.DistanceCalculated)
        </td>
    </tr>
}
</table>

<div class="well">
    <div class="row">
        <div class="col-sm-2">
            <input type="button" id="btnShowMap" value="Show Map" class="form-control btn-info" />
        </div>
    </div>
</div>


@Html.Partial("_ActivityMap", mapPoints)

@section mapScripts{
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@googleMapApiKey&sensor=false"></script>
}

@section scripts{
    <script>
        $(document).ready(
            function () {
                $("#btnShowMap").off('click').on('click', ShowMapClicked);
            }
        );

        var ShowMapClicked = function (event) {
            $(".well").hide();
            DrawMap();
        }
    </script>
}
