<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Day</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

    @{
        var styleSheetName = "/Content/SiteStyles/Default.css";
        if (HttpContext.Current.User.IsInRole("Admin") && HttpContext.Current.User.IsInRole("Manager"))
        {
            styleSheetName = "/Content/SiteStyles/SuperAdmin.css";
        }
        else if (HttpContext.Current.User.IsInRole("Admin"))
        {
            styleSheetName = "/Content/SiteStyles/Admin.css";
        }
        else if (HttpContext.Current.User.IsInRole("Manager"))
        {
            styleSheetName = "/Content/SiteStyles/Manager.css";
        }
        else if (HttpContext.Current.User.IsInRole("Developer"))
        {
            styleSheetName = "/Content/SiteStyles/Developer.css";
        }
    }
    <link rel="stylesheet" type="text/css" href="@styleSheetName" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="shortcut icon" href="~/Content/img/myDayLogo.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="body-content">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (HttpContext.Current.User.IsInRole("Manager"))
                {
                    @Html.ActionLink(CRMUtilities.Utils.SiteConfigData.DashboardPageTitle, "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Admin Dashboard", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                }
                else if (HttpContext.Current.User.IsInRole("Developer"))
                {
                    @Html.ActionLink("Developer", "Index", "Developer", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    <a href="/Account/Login" class="navbar-brand">My Day</a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EpicMinds Pvt. Ltd.</p>
        </footer>
    </div>

    @* following two div are needed for popup functionality*@
    <div class="glass">

    </div>

    <div id="divOverGlass">

    </div>

    <div class="glass2">

    </div>

    <div id="divOverGlass2">

    </div>


    @Scripts.Render("~/bundles/jquery")
    @* Aug 28 2020 - on pages that are showing map date.js had been giving some issue.
        also, on these pages, we don't need date.js.
        Hence rendering it conditionally.
    *@
    @if (!IsSectionDefined("mapScripts"))
    {
        @Scripts.Render("~/bundles/bootstrap")
    }

    @RenderSection("scripts", required: false)
    @RenderSection("mapScripts", required: false)

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        // apply style to all tables
        var waitImage = '<img id="idWait" src="/Content/img/pleasewait.gif"/>';
        $(document).ready(
            function () {
                $("table:not([data-nostripes])").attr("class", "table table-bordered table-striped table-condensed");
            }
        );
    </script>
</body>
</html>