@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    string targetUrl = "";

    if (HttpContext.Current.User.IsInRole("Admin") && HttpContext.Current.User.IsInRole("Manager") && Helper.IsSetupSuperAdminUser(HttpContext.Current.User.Identity.Name))
    {
        targetUrl = "/SuperAdmin";
    }
    else if (HttpContext.Current.User.IsInRole("Admin"))
    {
        targetUrl = "/Admin";
    }
    else if (HttpContext.Current.User.IsInRole("Manager"))
    {
        targetUrl = "/Dashboard";
    }
    else if (HttpContext.Current.User.IsInRole("Developer"))
    {
        targetUrl = "/Developer";
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@targetUrl" title="@User.Identity.Name">Hello @User.Identity.GetCrmUserName() !</a>
        </li>


        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <li>
                @Html.ActionLink("Admin Area", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Go to Admin Dashboard" })
            </li>
        }

        @if (HttpContext.Current.User.IsInRole("Admin") && HttpContext.Current.User.IsInRole("Manager") && 
            (Helper.IsSetupSuperAdminUser(HttpContext.Current.User.Identity.Name) || Helper.GetAvailableFeatures(HttpContext.Current.User.Identity.Name).SuperAdminPage))
        {
            <li>
                @Html.ActionLink("Super Admin", "Index", "SuperAdmin", routeValues: null, htmlAttributes: new { title = "Super Admin Dashboard" })
            </li>
        }

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
@*else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
