@model IEnumerable<SalesPersonViewModel>

@{
    ViewBag.Title = "Field Staff";
    int totalUsers = Model.Count();
    int totalCrmUsers = Model.Count(x => x.EmployeeId > 0);
    int totalWebUsers = Model.Count(x => x.OnWeb);
    string displayString = $"{totalCrmUsers} out of {totalUsers} people have signed up on Mobile. | {totalWebUsers} people have signed up on Web Portal.";
    bool AllowAssociation = ViewBag.IsSuperAdmin;
    bool AllowSalesPersonMaintenance = ViewBag.AllowSalesPersonMaintenanceOnWeb;
    bool gradesEnabled = ViewBag.GradesEnabled;
    int columnCount = gradesEnabled ? 18 : 17;

    string guidForAssociationRow = Guid.NewGuid().ToString();
    string guidForAssociationCell = Guid.NewGuid().ToString();
}
<style>
    div#divOverGlass {
        width: 70%;
        left: 15%;
        right: 15%;
    }
</style>

<table class="table">
    <tr>
        @if (AllowSalesPersonMaintenance)
        {
            <td colspan="@columnCount">
                <span>@displayString |&nbsp;</span>
                <a href="/admin/AddStaff" title="Add" class="addInPopup">Add new Field Staff</a>
            </td>
        }
        else
        {
            <td colspan="@columnCount">
                <span>@displayString</span>
            </td>
        }
    </tr>
</table>

@if (totalUsers > 0)
{
<table class="table" id="staffDataTable">
    <thead>
        <tr>
            <th>
                @*style="min-width:50px;max-width:50px;">*@
                @Html.DisplayNameFor(model => model.StaffCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnWeb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HQName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HQCode)
            </th>
            @if (gradesEnabled)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ownership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.BusinessRole)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OverridePrivateVehicleRatePerKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoWheelerRatePerKM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourWheelerRatePerKM)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string guidForRow = Guid.NewGuid().ToString();
            //string guid = Guid.NewGuid().ToString();
            //string guidForAssociationRow = Guid.NewGuid().ToString();
            //string guidForAssociationCell = Guid.NewGuid().ToString();

            //string guidForProductRow = Guid.NewGuid().ToString();
            //string guidForProductCell = Guid.NewGuid().ToString();

            <tr id="@guidForRow">
                @if (AllowSalesPersonMaintenance)
                {
                    <td>
                        <a href="/admin/EditStaff?staffCode=@item.StaffCode" title="Edit" class="editInPopup">@item.StaffCode</a>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.StaffCode)
                    </td>
                }
                <td>
                    @if (item.EmployeeId == 0)
                    {
                        <span>&nbsp;</span>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OnWeb)
                </td>
                <td>
                    @if (AllowAssociation)
                    {
                        <a href="" title="Show Associations" onclick="associationAnchorClicked('@guidForRow', '@guidForAssociationRow', '@guidForAssociationCell', '@item.StaffCode'); return false;">@item.Name</a>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Name)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone, "Phone")
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HQName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.HQCode)
                </td>
                @if (gradesEnabled)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ownership)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessRole)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OverridePrivateVehicleRatePerKM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoWheelerRatePerKM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FourWheelerRatePerKM)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            </tr>
        }
    </tbody>
</table>
}

@if (AllowAssociation)
{
    <table class="table">

        <tr class="customerRow" id="@guidForAssociationRow" style="display:none;">
            <td style="border-top:none;font-weight:bold;"></td>
            <td style="border-top:none;" id="@guidForAssociationCell" colspan="13">&nsbp;</td>
        </tr>
    </table>
}



